<body class="fixed-top">
      <!-- BEGIN PAGE -->  
            <!-- BEGIN PAGE CONTENT-->
            <div class="row-fluid">
              <form id="frmAlumbrado_DatosUsuario" class="form-horizontal">
                <div class="form-actions">
                      <button type="reset" class="btn btn-danger" id="btnAlumbrado_BorrarDatosUsuario"><i class="icon-remove"></i> Borrar Datos Iniciales</button>
                </div>
                <input type="hidden" id='txtAlumbrado_Prefijo'>
                <div class="control-group">
                    <label class="control-label">Orden de Trabajo</label>
                    <div class="controls">
                        <input type="text" placeholder="Numero de la Orden de Trabajo" class="input-large" id='txtAlumbrado_Nombre' required/>
                    </div>
                </div>
                <div class="control-group">
                  <label class="control-label">Tipo</label>
                  <div class="controls">
                     <select class="span6 chosen" data-placeholder="Estado de Red" tabindex="1" id="txtAlumbrado_TipoOt">
                      <option value="OT CD">OT CD</option>
                      <option value="OT LUMINARIA">OT LUMINARIA</option>
                     </select>
                  </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Fecha de Ejecución: </label>
                    <div class="controls">
                        <div class="input-append" id="grpAlumbradoFechaInicio">
                            <input type="text" class="m-wrap medium" id='txtAlumbrado_FechaInicio' required/>
                            <span class="add-on"><i class="icon-calendar"></i></span>
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Ejecutor</label>
                    <div class="controls">
                        <input type="text" placeholder="Numero de cedula de la persona que ejecutara la persona" class="input-large" id='txtAlumbrado_Ejecutor' required/>
                    </div>
                </div>
                <div class="control-group">
                  <label class="control-label">Municipio:</label>
                  <div class="controls">
                     <select class="span6 chosen" data-placeholder="Seleccione la Empresa" tabindex="1" id="txtAlumbrado_Municipio">
                       <option value='25019000'>ALBAN</option>
                        <option value='25168000'>CHAGUANI</option>
                        <option value='25320000'>GUADUAS</option>
                        <option value='25398000'>LA PEÑA</option>
                        <option value='25402000'>LA VEGA</option>
                        <option value='25489000'>NIMAIMA</option>
                        <option value='25491000'>NOCAIMA</option>
                        <option value='25592000'>QUEBRADANEGRA</option>
                        <option value='25658000'>SAN FRANCISCO</option>
                        <option value='25777000'>SUPATA</option>
                        <option value='25851000'>ÚTICA</option>
                        <option value='25862000'>VERGARA</option>
                        <option value='25867000'>VIANÍ</option>
                        <option value='11001000'>BOGOTÁ, D.C.</option>
                        <option value='25148000'>CAPARRAPI</option>
                        <option value='25269000'>FACATATIVA</option>
                        <option value='25398000'>LA PEÑA</option>
                        <option value='25572000'>PUERTO SALGAR</option>
                        <option value='25851000'>ÚTICA</option>
                        <option value='25885000'>YACOPÍ</option>
                        <option value='25019000'>ALBAN</option>
                        <option value='25095000'>BITUIMA</option>
                        <option value='25168000'>CHAGUANI</option>
                        <option value='25269000'>FACATATIVA</option>
                        <option value='25320000'>GUADUAS</option>
                        <option value='25328000'>GUAYABAL DE SIQUIMA</option>
                        <option value='25402000'>LA VEGA</option>
                        <option value='25489000'>NIMAIMA</option>
                        <option value='25491000'>NOCAIMA</option>
                        <option value='25592000'>QUEBRADANEGRA</option>
                        <option value='25658000'>SAN FRANCISCO</option>
                        <option value='25662000'>SAN JUAN DE RÍO SECO</option>
                        <option value='25718000'>SASAIMA</option>
                        <option value='25777000'>SUPATA</option>
                        <option value='25862000'>VERGARA</option>
                        <option value='25867000'>VIANÍ</option>
                        <option value='25875000'>VILLETA</option>
                        <option value='25898000'>ZIPACÓN</option>
                        <option value='25001000'>AGUA DE DIOS</option>
                        <option value='25086000'>BELTRÁN</option>
                        <option value='25307000'>GIRARDOT</option>
                        <option value='25324000'>GUATAQUÍ</option>
                        <option value='25368000'>JERUSALÉN</option>
                        <option value='25483000'>NARIÑO</option>
                        <option value='25488000'>NILO</option>
                        <option value='25580000'>PULÍ</option>
                        <option value='25599000'>APULO</option>
                        <option value='25612000'>RICAURTE</option>
                        <option value='25815000'>TOCAIMA</option>
                        <option value='73200000'>COELLO</option>
                        <option value='73275000'>FLANDES</option>
                        <option value='73547000'>PIEDRAS</option>
                        <option value='25035000'>ANAPOIMA</option>
                        <option value='25040000'>ANOLAIMA</option>
                        <option value='25123000'>CACHIPAY</option>
                        <option value='25386000'>LA MESA</option>
                        <option value='25596000'>QUIPILE</option>
                        <option value='25797000'>TENA</option>
                        <option value='25898000'>ZIPACÓN</option>
                        <option value='25053000'>ARBELAEZ</option>
                        <option value='25290000'>FUSAGASUGA</option>
                        <option value='25312000'>GRANADA</option>
                        <option value='25535000'>PASCA</option>
                        <option value='25649000'>SAN BERNARDO</option>
                        <option value='25743000'>SILVANIA</option>
                        <option value='73352000'>ICONONZO</option>
                        <option value='25151000'>CAQUEZA</option>
                        <option value='25178000'>CHIPAQUE</option>
                        <option value='25181000'>CHOACHI</option>
                        <option value='25279000'>FOMEQUE</option>
                        <option value='25281000'>FOSCA</option>
                        <option value='25335000'>GUAYABETAL</option>
                        <option value='25339000'>GUTIÉRREZ</option>
                        <option value='25438000'>MEDINA</option>
                        <option value='25530000'>PARATEBUENO</option>
                        <option value='25594000'>QUETAME</option>
                        <option value='25839000'>UBALÁ</option>
                        <option value='25841000'>UBAQUE</option>
                        <option value='25845000'>UNE</option>
                        <option value='50124000'>CABUYARO</option>
                        <option value='50245000'>EL CALVARIO</option>
                        <option value='50686000'>SAN JUANITO</option>
                        <option value='25293000'>GACHALA</option>
                        <option value='25297000'>GACHETA</option>
                        <option value='25299000'>GAMA</option>
                        <option value='25322000'>GUASCA</option>
                        <option value='25326000'>GUATAVITA</option>
                        <option value='25372000'>JUNÍN</option>
                        <option value='25839000'>UBALÁ</option>
                        <option value='25426000'>MACHETA</option>
                        <option value='25436000'>MANTA</option>
                        <option value='25807000'>TIBIRITA</option>
                        <option value='25513000'>PACHO</option>
                     </select>
                  </div>
                </div>
                <div class="control-group">
                    <label class="control-label">CD</label>
                    <div class="controls">
                        <input type="text" placeholder="Numero de CD = trafo" class="input-large" id='txtAlumbrado_CD' required/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Coordenadas de Transformador</label>
                    <div class="controls">
                        <button type="submit" id="btnAlumbrado_TomarCoordenadas" class="btn btn-info"><i class="icon-map-marker"></i> Tomar Coordenadas</button>
                        <input type="text" placeholder="Coordenadas" id="txtAlumbrado_CoordenadasTrafo">
                    </div>
                </div>
                <div class="control-group">
                  <label class="control-label">Capacidad del Transformador:</label>
                  <div class="controls">
                     <select class="span6 chosen" data-placeholder="Seleccione la Capacidad del Transformador" tabindex="1" id="txtAlumbrado_Capa">
                       <option value='5'>5</option>
                        <option value='10'>10</option>
                        <option value='15'>15</option>
                        <option value='25'>25</option>
                        <option value='30'>30</option>
                        <option value='37,5'>37,5</option>
                        <option value='45'>45</option>
                        <option value='50'>50</option>
                        <option value='75'>75</option>
                        <option value='100'>100</option>
                        <option value='112,5'>112,5</option>
                        <option value='150'>150</option>
                        <option value='250'>250</option>
                        <option value='300'>300</option>
                     </select>
                  </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Fase</label>
                    <div class="controls">
                        <input type="number" placeholder="Trafos Fase" class="input-large" id='txtAlumbrado_Fase' value="2" required/>
                    </div>
                </div>
                <div class="control-group">
                  <label class="control-label">Ubicación:</label>
                  <div class="controls">
                     <select class="span6 chosen" data-placeholder="Seleccione la Ubicación" tabindex="1" id="txtAlumbrado_Ubicacion">
                      <option value="URBANO">URBANO</option>
                      <option value="RURAL">RURAL</option>
                     </select>
                  </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Nombre del Barrio o vereda</label>
                    <div class="controls">
                        <input type="text" placeholder="Nombre del Barrio o vereda" class="input-xxlarge" id='txtAlumbrado_Barrio' required/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Dirección CD</label>
                    <div class="controls">
                        <input type="text" placeholder="Nombre del Barrio" class="input-xxlarge" id='txtAlumbrado_Direccion' value="" />
                    </div>
                </div>
                <div class="control-group">
                  <label class="control-label">Red:</label>
                  <div class="controls">
                     <select class="span6 chosen" data-placeholder="Seleccione la Red" tabindex="1" id="txtAlumbrado_Red">
                      <option value="EXISTENTE">EXISTENTE</option>
                      <option value="NUEVA">NUEVA</option>
                     </select>
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label">Uso de Red</label>
                  <div class="controls">
                     <select class="span6 chosen" data-placeholder="Tipo Control" tabindex="1" id="txtAlumbrado_UsoRed">
                      <option value='RED '>RED COMPARTIDA</option>
                      <option value='AP'>USO EXCLUSIVO DE AP</option>
                     </select>
                  </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Código del Poste</label>
                    <div class="controls">
                        <input type="text" placeholder="Código del Poste" class="input-large" id='txtAlumbrado_CodPoste' required/>
                    </div>
                </div>
            </form>
            <hr />
          <form id='frmAlumbrado' class="form-horizontal">
                <div class="control-group">
                  <label class="control-label">Luminaria</label>
                  <div class="controls">
                     <input type="text" placeholder="No Serie de la Luminaria" class="input-xlarge" id='txtAlumbrado_Luminaria' value="" required>
                  </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Dirección Luminaria</label>
                    <div class="controls">
                        <input type="text" placeholder="Direccion de la Luminaria" class="input-xxlarge" id='txtAlumbrado_DireccionLuminaria' value="" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Coordenadas de Iluminaria</label>
                    <div class="controls">
                        <button type="submit" id="btnAlumbrado_TomarCoordenadasIluminaria" class="btn btn-info"><i class="icon-map-marker"></i> Tomar Coordenadas</button>
                        <input type="text" placeholder="Coordenadas" id="txtAlumbrado_CoordenadasIluminaria">
                    </div>
                </div>  
                <div class="control-group">
                  <label class="control-label">Tipo Control</label>
                  <div class="controls">
                     <select class="span6 chosen" data-placeholder="Tipo Control" tabindex="1" id="txtAlumbrado_TipoControl">
                      <option value="I">CONTROL INDIVIDUAL</option>
                      <option value="G">CONTROL GRUPAL</option>
                     </select>
                  </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Cantidad de Iluminarias</label>
                    <div class="controls">
                        <input type="text" placeholder="cantidad de iluminarias que se encuentran en el PUNTO FISICO" class="input-xlarge" id='txtAlumbrado_CantIlu' required/>
                    </div>
                </div>
                <div class="control-group">
                  <label class="control-label">Tipo Lampara</label>
                  <div class="controls">
                     <select class="span6 chosen" data-placeholder="Tipo Control" tabindex="1" id="txtAlumbrado_TipoIluminarias">
                      <option value='1'>BOMBILLA ROTA / O SIN BOMBILLA</option>
                      <option value='12'>AP. LÁMPARA AHORRADORA DE 15 W-EEC</option>
                      <option value='13'>AP. LÁMPARA AHORRADORA DE 25 W-EEC</option>
                      <option value='14'>AP- LED 20 W</option>
                      <option value='15'>AP- LED 70 W</option>
                      <option value='16'>AP-LED 42 W</option>
                      <option value='21'>AP. LÁMPARA AHORRADORA DE 60 W-EEC</option>
                      <option value='22'>AP. LÁMPARA AHORRADORA DE 45 W-EEC</option>
                      <option value='23'>AP. LÁMPARA AHORRADORA DE 50 W-EEC</option>
                      <option value='134'>A.P. LAMPARA  INCANDESCENTE 100 W</option>
                      <option value='161'>AP. LÁMPARA METAL HALIDE 70 W-EEC</option>
                      <option value='300'>AP. LÁMPARA DE SODIO 70 W-EEC</option>
                      <option value='301'>AP. LÁMPARA DE SODIO 150 W-EEC</option>
                      <option value='302'>AP. LÁMPARA DE SODIO 250 W-EEC</option>
                      <option value='303'>AP. LÁMPARA DE SODIO 400 W-EEC</option>
                      <option value='304'>AP. LÁMPARA DE SODIO 1000 W-EEC</option>
                      <option value='305'>AP. LÁMPARA MERCURIO DE 125 W-EEC</option>
                      <option value='306'>AP. LÁMPARA MERCURIO DE 250 W-EEC</option>
                      <option value='307'>AP. LÁMPARA MERCURIO DE 400 W-EEC</option>
                      <option value='308'>AP. LÁMPARA DE MERCURIO DE 1000 W-EEC</option>
                      <option value='309'>AP. LÁMPARA INCANDESCENTE DE 150 W-EEC</option>
                      <option value='310'>AP. LÁMPARA MIXTA DE 160 W-EEC</option>
                      <option value='311'>AP. LÁMPARA MIXTA DE 250 W-EEC</option>
                      <option value='312'>AP. LÁMPARA METAL HALIDE 250 W-EEC</option>
                      <option value='313'>AP. LÁMPARA METAL HALIDE 400 W-EEC</option>
                      <option value='314'>AP. LÁMPARA HALOGENA 500 W-EEC</option>
                      <option value='315'>AP. LÁMPARA HALOGENA 1000 W-EEC</option>
                      <option value='316'>AP. LÁMPARA HALOGENA 1500 W-EEC</option>
                      <option value='404'>AP. LÁMPARA AHORRADORA DE 20 W-EEC</option>
                      <option value='405'>AP. LÁMPARA METAL HALIDE 150 W-EEC</option>
                      <option value='408'>AP. LÁMPARA METAL HALIDE 1000 W</option>
                      <option value='317'>AP. LÁMPARA DE SODIO 70 W-EEC</option>
                      <option value='318'>AP. LÁMPARA DE SODIO 150 W-EEC</option>
                      <option value='319'>AP. LÁMPARA DE SODIO 250 W-EEC</option>
                      <option value='320'>AP. LÁMPARA DE SODIO 400 W-EEC</option>
                     </select>
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label">Tipo Iluminaria</label>
                  <div class="controls">
                     <select class="span6 chosen" data-placeholder="Tipo Control" tabindex="1" id="txtAlumbrado_TipoIluminaria">
                      <option value='HA'>HORIZONTAL ABIERTA</option>
                      <option value='HC'>HORIZONTAL CERRADA</option>
                      <option value='VA'>VERTICAL ABIERTA</option>
                      <option value='VC'>VERTICAL CERRADA</option>
                      <option value='PR'>PROYECTOR</option>
                     </select>
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label">Propietario</label>
                  <div class="controls">
                     <select class="span6 chosen" data-placeholder="Propietario" tabindex="1" id="txtAlumbrado_Propietario">
                      <option value='A'>ALCALDIA</option>
                      <option value='P'>PARTICULAR</option>
                      <option value='C'>EEC</option>
                      <option value='CV'>CONCESION VIAL</option>

                     </select>
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label">Via</label>
                  <div class="controls">
                     <select class="span6 chosen" data-placeholder="Via" tabindex="1" id="txtAlumbrado_Via">
                        <option value='1'>VEHICULAR</option>
                        <option value='2'>PEATONAL</option>
                        <option value='3'>PARQUES</option>
                        <option value='4'>FACHADAS</option>
                        <option value='5'>MONUMENTOS</option>
                        <option value='6'>OTROS</option>
                        <option value='7'>ESCUELAS</option>
                     </select>
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label">Tipo Control</label>
                  <div class="controls">
                     <select class="span6 chosen" data-placeholder="Rele" tabindex="1" id="txtAlumbrado_Rele">
                      <option value='FC'>FOTOCELDA</option>
                      <option value='C'>CUCHILLA</option>
                     </select>
                  </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Coordenadas de Rele</label>
                    <div class="controls">
                        <button type="submit" id="btnAlumbrado_TomarCoordenadasRele" class="btn btn-info"><i class="icon-map-marker"></i> Tomar Coordenadas</button>
                        <input type="text" placeholder="Coordenadas" id="txtAlumbrado_CoordenadasRele">
                    </div>
                </div>  
                <div class="control-group">
                  <label class="control-label">Tipo de Red</label>
                  <div class="controls">
                     <select class="span6 chosen" data-placeholder="Tipo de Red" tabindex="1" id="txtAlumbrado_TipoRed">
                      <option value='1'>AEREO</option>
                      <option value='2'>SUBTERRANEO</option>
                     </select>
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label">Materiales</label>
                  <div class="controls">
                     <select class="span6 chosen" data-placeholder="Tipo de Materiales" tabindex="1" id="txtAlumbrado_Materiales">
                        <option value='A'>ALUMINIO</option>
                        <option value='C'>COBRE</option>
                        <option value='I'>ALUMINIO AISLADO</option>
                     </select>
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label">Estado</label>
                  <div class="controls">
                     <select class="span6 chosen" data-placeholder="Estado de Red" tabindex="1" id="txtAlumbrado_Estado">
                      <option value="B">BUENO</option>
                      <option value="M">MALO</option>
                     </select>
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label">Tiempo de Operación</label>
                  <div class="controls">
                     <select class="span6 chosen" data-placeholder="Tiempo de Operación" tabindex="1" id="txtAlumbrado_TiempoOp">
                      <option value="0">APAGADA DE NOCHE</option>
                      <option value="12">OPERACIÓN NORMAL</option>
                      <option value="24">PRENDIDA DIA/NOCHE</option>
                     </select>
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label">Red</label>
                  <div class="controls">
                     <select class="span6 chosen" data-placeholder="Tipo de Red" tabindex="1" id="txtAlumbrado_Red2">
                      <option value='1_AD'>ABIERTA DESNUDA</option>
                      <option value='2_TZ'>TRENZADA</option>
                      <option value='3_AI'>ABIERTA AISLADA</option>
                     </select>
                  </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Observaciones</label>
                    <div class="controls">
                        <textarea class="input-xxlarge" placeholder='Descripcion de lo encontrado' rows="3" id='txtAlumbrado_Observaciones'></textarea>
                    </div>
                </div>
                <div class="control-group">
                  <label class="control-label">Estado</label>
                  <div class="controls">
                     <select class="span6 chosen" data-placeholder="Estado" tabindex="1" id="txtAlumbrado_EstadoOp">
                      <option value='1'>ACTIVA</option>
                      <option value='2'>ACTIVA CODIGO 4</option>
                      <option value='3'>ACTIVA ESCUELA</option>
                      <option value='4'>ALARMA</option>
                      <option value='5'>DUPLICADA</option>
                      <option value='6'>MEDIDA</option>
                      <option value='7'>RETIRADA</option>
                      <option value='8'>SUSPENDIDA</option>
                     </select>
                  </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Adjuntar archivos</label>
                    <div class="controls">
                        <iframe id="alumbradoSubir" src="" scrolling="no" width="450" height="320"></iframe>
                    </div>
                </div>









                  <div class="form-actions">
                    <h4 class="noMostrar">OT 1<h4>
                    <button  class="btn btn-warning btnVerContrato_Archivos" idContrato="eccbc87e4b5ce2fe28308fd9f2a7baf3"><i class="icon-folder-open icon-white"></i> Archivos</button>
                      <button type="submit" class="btn btn-success"><i class="icon-ok"></i> Guardar</button>
                      <button type="reset" class="btn btn-danger" id="btnAlumbrado_Reset"><i class="icon-remove"></i> Nuevo</button>
                  </div>
              </form>
            </div>

            <!-- END PAGE CONTENT-->         
         
      <!-- END PAGE -->  
   <!-- END CONTAINER -->
   <!-- BEGIN JAVASCRIPTS -->    
   <!-- Load javascripts at bottom, this will reduce page load time -->
   <!-- ie8 fixes -->
   <!--[if lt IE 9]>
   <script src="js/excanvas.js"></script>
   <script src="js/respond.js"></script>
   <![endif]-->
   
   
 
   
   <script>
      jQuery(document).ready(function() 
      {       
         // initiate layout and plugins
         Alumbrado();   
         $("#txtAlumbrado_TipoControl").on("change", function()
          {
           $("#txtAlumbrado_Rele option").remove();
            var tds = "";
            if ($("#txtAlumbrado_TipoControl").val() == "I")
            {
              tds = "<option value='FC'>FOTOCELDA</option>";
                      tds += "<option value='C'>CUCHILLA</option>";
            } else
            {
              tds = "<option value='CM'>CONTROL MAGNETICO</option>";
                      tds += "<option value='C'>CUCHILLA</option>";
            }
            $("#txtAlumbrado_Rele").append(tds);


          });
      });
   </script>
   <!-- END JAVASCRIPTS -->   
</body>