<!-- BEGIN BODY -->
<body class="fixed-top">
	<!-- BEGIN CONTAINER -->
	<div id="container" class="row-fluid">
		<!-- BEGIN PAGE -->
		
			<!-- BEGIN PAGE CONTAINER-->
			<div class="container-fluid">
				<!-- BEGIN PAGE CONTENT-->
				<div id="page" class="dashboard">
                    <!-- BEGIN OVERVIEW STATISTIC BLOCKS-->
                     <form id="frmANS" class="control-group">
                          <div class="controls">
                            <span class="text-inline">&nbsp;Fecha:&nbsp;</span>
                              <input class="m-wrap small" size="16" type="text" value="" id="txtANS_Desde" required/>
                              <span class="text-inline">&nbsp;Hasta&nbsp;</span>
                              <input class="m-wrap small" size="16" type="text" value="" id="txtANS_Hasta" required/>
                              <button class="btn btn-success" type="submit"><i class="icon-search"></i> Buscar</button>
                          </div>
                      </form>
                    <div id='txtANS'>
                        <div class="row-fluid metro-overview-cont">
                            <h4></h4>

                            <div data-desktop="span2" data-tablet="span4" class="span2 responsive" id="txtANS_Total">
                                <div class="metro-overview turquoise-color clearfix">
                                    <div class="display">
                                        <i class="icon-group"></i>
                                        <div class="percent">+0%</div>
                                    </div>
                                    <div class="details">
                                        <div class="numbers">0</div>
                                        <div class="title">Total</div>
                                    </div>
                                    <div class="progress progress-info">
                                        <div style="width: 0%" class="bar"></div>
                                    </div>
                                </div>
                            </div>

                            <div data-desktop="span2" data-tablet="span4" class="span2 responsive" id="txtANS_Comercial">
                                <div class="metro-overview green-color clearfix">
                                    <div class="display">
                                        <i class="icon-briefcase"></i>
                                        <div class="percent">+0%</div>
                                    </div>
                                    <div class="details">
                                        <div class="numbers">0</div>
                                        <div class="title">Comercial</div>
                                    </div>
                                    <div class="progress progress-success">
                                        <div style="width: 0%" class="bar"></div>
                                    </div>
                                </div>
                            </div>

                            <div data-desktop="span2" data-tablet="span4" class="span2 responsive" id="txtANS_Alumbrado">
                                <div class="metro-overview red-color clearfix">
                                    <div class="display">
                                        <i class="icon-cogs"></i>
                                        <div class="percent">+0%</div>
                                    </div>
                                    <div class="details">
                                        <div class="numbers">0</div>
                                        <div class="title">Alumbrado</div>
                                    </div>
                                    <div class="progress progress-danger">
                                        <div style="width: 0%" class="bar"></div>
                                    </div>
                                </div>
                            </div>
                            <div data-desktop="span2" data-tablet="span4" class="span2 responsive" id="txtANS_Tecnica">
                                <div class="metro-overview gray-color clearfix">
                                    <div class="display">
                                        <i class="icon-book"></i>
                                        <div class="percent">+0%</div>
                                    </div>
                                    <div class="details">
                                        <div class="numbers">0</div>
                                        <div class="title">Tecnica</div>
                                    </div>
                                    <div class="progress progress-warning">
                                        <div style="width: 0%" class="bar"></div>
                                    </div>
                                </div>
                            </div>
                            <div data-desktop="span2" data-tablet="span4" class="span2 responsive" id="txtANS_Ipales">
                                <div class="metro-overview purple-color clearfix">
                                    <div class="display">
                                        <i class="icon-eye-open"></i>
                                    </div>
                                    <div class="details">
                                        <div class="numbers">0</div>
                                        <div class="title">Ipales</div>
                                    </div>
                                </div>
                            </div>
                            <div data-desktop="span2" data-tablet="span4" class="span2 responsive" id="txtANS_ComercialSitio">
                                <div class="metro-overview blue-color clearfix">
                                    <div class="display">
                                        <i class="icon-fire"></i>
                                    </div>
                                    <div class="details">
                                        <div class="numbers">0</div>
                                        <div class="title">Comercial Sitio</div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div>
                        <div>
                            <table class="table table-borderless span4" id="tblANS">
                                <thead>
                                    <th>Fecha de Cargue</th>
                                    <th>Prog</th>
                                    <th>Real</th>
                                    <th>%</th>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div id="ANS_Grafica" class="span8" style="height:400px"></div>
                        <div id="ANS_GraficaConvenciones" class="span12 divGraficasConvenciones"></div>
                    </div>

                    <!-- END OVERVIEW STATISTIC BLOCKS-->
                    <div id='txtErrorANS' class="alert alert-error noMostrar">
                        <button class="close" data-dismiss="alert">×</button>
                        <strong>Error!</strong> No hay conexión con el Servidor.
                    </div>
                </div>
			</div>
			<!-- END PAGE CONTAINER-->
		
		<!-- END PAGE -->
	</div>
	<!-- END CONTAINER -->
	<!-- BEGIN JAVASCRIPTS -->
	<script src="assets/jquery-knob/js/jquery.knob.js"></script>
	<script>
		jQuery(document).ready(function() {
			// initiate layout and plugins
            ans();
			
		});
	</script>
	<!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->