<body class="fixed-top">
      <!-- BEGIN PAGE -->  
            <!-- BEGIN PAGE CONTENT-->
            <div class="row-fluid">
              <form id='frmComercialApoyos' class="form-horizontal">
                <div class="control-group">
                  <label class="control-label">Tensión:</label>
                  <div class="controls">
                     <select class="span6 chosen" data-placeholder="Carga de Rotura" tabindex="1" id="txtComercialApoyos_Municipio2789">
                        <option>Media Tensión</option>
                        <option value="750">Baja Tensión</option>
                     </select>
                  </div>
                </div>
                <!--
              <div class="control-group">
                    <label class="control-label">Orden de Trabajo</label>
                    <div class="controls">
                        <input type="number" placeholder="Numero de la Orden de Trabajo" class="input-large" id='txtComercialApoyos_Nombre' required/>
                    </div>
                </div>
              -->
                <div class="control-group">
                    <label class="control-label">Coordenada X</label>
                    <div class="controls">
                      <input type="text" placeholder="Tomar Coordenadas" class="input-large" id='txtComercialApoyos_Coordenadas' required/>
                        <button type="submit" id="btnComercialApoyos_TomarCoordenadas" class="btn btn-info" title="Tomar Coordenadas"><i class="icon-map-marker" Comparar="999.33,800.12732"></i> </button>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Coordenada Y</label>
                    <div class="controls">
                      <input type="text" placeholder="Tomar Coordenadas" class="input-large" id='txtComercialApoyos_CoordenadaY' required/>
                        <button type="submit" id="btnComercialApoyos_TomarCoordenadas" class="btn btn-info" title="Tomar Coordenadas"><i class="icon-map-marker" Comparar="999.33,800.12732"></i> </button>
                    </div>
                </div>
                <div class="control-group">
                  <label class="control-label">Material:</label>
                  <div class="controls">
                     <select class="span6 chosen" data-placeholder="Seleccione la Empresa" tabindex="1" id="txtAlumbrado_Material">
                        <option value='MAD8510'>MADERA 8 METROS 510 KGF</option>
                        <option value='MAD10510'>MADERA 10 METROS 510 KGF</option>
                        <option value='MAD12510'>MADERA 12 METROS 510 KGF</option>
                        <option value='MAD14510'>MADERA 14 METROS 510 KGF</option>
                        <option value='ME3AP'>METALICO 3 METROS 0KGF</option>
                        <option value='MAD8750'>MADERA 8 METROS 750 KGF</option>
                        <option value='MAD10750'>MADERA 10 METROS 750  KGF</option>
                        <option value='MAD12750'>MADERA 12 METROS 750 KGF</option>
                        <option value='MAD14750'>MADERA 14 METROS 750 KGF</option>
                        <option value='CON151050'>CONCRETO 15 METROS 1050 KGF</option>
                        <option value='MAD81050'>MADERA 8 METROS 1050 KGF</option>
                        <option value='MAD121050'>MADERA 12 METROS 1050 KGF</option>
                        <option value='MAD141050'>MADERA 14 METROS 1050 KGF</option>
                        <option value='ME161350'>POSTE METALICO 16M 1350 KG</option>
                        <option value='TO20'>TORRE TIPO CAREGATO</option>
                        <option value='ME40'>POSTE METALICO 40M</option>
                        <option value='ME141050'>METALICO 14 METROS 1050 KGF</option>
                        <option value='ME161050'>METALICO 16 METROS 1050 KGF</option>
                        <option value='COH121050'>CONCRETO 12 MT 1050 KGF - DOS POSTES</option>
                        <option value='CON8510'>CONCRETO 8 METROS 510 KGF</option>
                        <option value='CON10510'>CONCRETO 10 METROS 510 KGF</option>
                        <option value='CON12510'>CONCRETO 12 METROS 510 KGF</option>
                        <option value='MAD101050'>MADERA 10 METROS 1050 KGF</option>
                        <option value='AP0101'>POSTE EXCLUISIVO PARA ALUMBRADO PUBLICO</option>
                        <option value='CON8750'>CONCRETO 8 METROS 750 KGF</option>
                        <option value='CON10750'>CONCRETO 10 METROS 750  KGF</option>
                        <option value='CON12750'>CONCRETO 12 METROS 750 KGF</option>
                        <option value='CON14750'>CONCRETO 14 METROS 750 KGF</option>
                        <option value='CON16750'>CONCRETO 16 METROS 750 KGF</option>
                        <option value='CON81050'>CONCRETO 8 METROS 1050 KGF</option>
                        <option value='CON101050'>CONCRETO 10 METROS 1050 KGF</option>
                        <option value='CON121050'>CONCRETO 12 METROS 1050 KGF</option>
                        <option value='CON141050'>CONCRETO 14 METROS 1050 KGF</option>
                        <option value='CON161050'>CONCRETO 16 METROS 1050 KGF</option>
                        <option value='CON81350'>CONCRETO 8 METROS 1350 KGF</option>
                        <option value='CON101350'>CONCRETO 10 METROS 1350 KGF</option>
                        <option value='CON121350'>CONCRETO 12 METROS 1350 KGF</option>
                        <option value='CON141350'>CONCRETO 14 METROS 1350 KGF</option>
                        <option value='CON161350'>CONCRETO 16 METROS 1350 KGF</option>
                        <option value='OT8510'>OTROS 8 METROS 510 KGF</option>
                        <option value='OT10510'>OTROS 10 METROS 510 KGF</option>
                        <option value='OT12510'>OTROS 12 METROS 510 KGF</option>
                        <option value='OT14510'>OTROS 14 METROS 510 KGF</option>
                        <option value='OT16750'>OTROS 16 METROS 750 KGF</option>
                        <option value='OT8750'>OTROS 8 METROS 750 KGF</option>
                        <option value='OT10750'>OTROS 10 METROS 750 KGF</option>
                        <option value='OT12750'>OTROS 12 METROS 750 KGF</option>
                        <option value='OT14750'>OTROS 14 METROS 750 KGF</option>
                        <option value='OT16510'>OTROS 16 METROS 510 KGF</option>
                        <option value='OT81050'>OTROS 8 METROS 1050 KGF</option>
                        <option value='OT101050'>OTROS 10 METROS 1050 KGF</option>
                        <option value='OT121050'>OTROS 12 METROS 1050 KGF</option>
                        <option value='OT141050'>OTROS 14 METROS 1050 KGF</option>
                        <option value='OT161050'>OTROS 16 METROS 1050 KGF</option>
                        <option value='OT81350'>OTROS 8 METROS 1350 KGF</option>
                        <option value='OT101350'>OTROS 10 METROS 1350 KGF</option>
                        <option value='OT121350'>OTROS 12 METROS 1350 KGF</option>
                        <option value='OT141350'>OTROS 14 METROS 1350 KGF</option>
                        <option value='ME12750'>METALICO 12 METROS 750 KGF</option>
                        <option value='ME12510'>METALICO 12 METROS 510 KGF</option>
                        <option value='ME14750'>METALICO 14 METROS 750 KGF</option>
                        <option value='ME8750'>METALICO 8 METROS 750 KFG</option>
                        <option value='ME121050'>METALICO 12 METROS 1050 KGF</option>
                        <option value='COT121050'>CONCRETO 12 MT 1050 KGF - TRES POSTES</option>
                        <option value='ME101050'>METALICO 10 METROS 1050 KGF</option>
                        <option value='CO12750H'>CONCRETO 12 METROS 750 KGF - H</option>
                        <option value='ME6510'>METALICO 6 METROS 510 KGF</option>
                        <option value='ME8510'>METALICO 8 METROS 510 KGF</option>
                        <option value='ME10510'>METÁLICO 10 METROS 510 KGF</option>
                        <option value='CO12510H'>CONCRETO 12 METROS 510 KGF - H</option>
                        <option value='ME10750'>METALICO 10 METROS 750 KGF</option>
                        <option value='ME14510'>METALICO 14 METROS 510 KFG</option>
                        <option value='ME81050'>METALICO 8 METROS 1050 KGF</option>
                        <option value='ME280'>METÁLICO 28 METROS 0 KGF </option>
                        <option value='ME5510'>METALICO 5 METROS 510 KGF</option>
                        <option value='CON5510'>CONCRETO 5 METROS 510 KGF</option>
                        <option value='CON6510'>CONCRETO 6 METROS 510 KGF</option>
                        <option value='CO121050H'>CONCRETO 12 METROS 1050 KGF - H</option>
                        <option value='CO141050H'>CONCRETO 14 METROS 1050 KGF - H</option>
                        <option value='CO141350H'>CONCRETO 14 METROS 1350 KGF - H</option>
                        <option value='CO14750H'>CONCRETO 14 METROS 750 KGF - H</option>
                        <option value='COH12510'>CONCRETO 12 MT 510 KGF - DOS POSTES</option>
                        <option value='COT12510'>CONCRETO 12 MT 510 KGF - TRES POSTES</option>
                        <option value='CO121050T'>CONCRETO 12 METROS 1050 KGF - T</option>
                        <option value='CO12510T'>CONCRETO 12 METROS 510 KGF - T</option>
                        <option value='COH12750'>CONCRETO 12 MT 750 KGF - DOS POSTES</option>
                        <option value='CO141050T'>CONCRETO 14 METROS 1050 KGF - T</option>
                        <option value='CO141350T'>CONCRETO 14 METROS 1350 KGF - T</option>
                        <option value='COT12750'>CONCRETO 12 MT 750 KGF - TRES POSTES</option>
                        <option value='COH141050'>CONCRETO 14 MT 1050 KGF - DOS POSTES</option>
                        <option value='COT141050'>CONCRETO 14 MT 1050 KGF - TRES POSTES</option>
                        <option value='COH141350'>CONCRETO 14 MT 1350 KGF - DOS POSTES</option>
                        <option value='ME121050H'>METALICO 12 METROS 1050 KGF - H</option>
                        <option value='COT141350'>CONCRETO 14 MT 1350 KGF - TRES POSTES</option>
                        <option value='COH14750'>CONCRETO 14 MT 750 KGF - DOS POSTES</option>
                        <option value='COT14750'>CONCRETO 14 MT 750 KGF - TRES POSTES</option>
                        <option value='ME121050T'>METALICO 12 METROS 1050 KGF - T</option>
                        <option value='COH15750'>CONCRETO 15 MT 750 KGF - DOS POSTES</option>
                        <option value='COT15750'>CONCRETO 15 MT 750 KGF - TRES POSTES</option>
                        <option value='COH161050'>CONCRETO 16 MT 1050 KGF - DOS POSTES</option>
                        <option value='COT161050'>CONCRETO 16 MT 1050 KGF - TRES POSTES</option>
                        <option value='FIN101050'>FIBRA  VIDRIO 10 MT 1050 KGF</option>
                        <option value='FIN10510'>FIBRA  VIDRIO 10 MT 510 KGF</option>
                        <option value='FIN121050'>FIBRA  VIDRIO 12 MT 1050 KGF</option>
                        <option value='FIH121050'>FIBRA  VIDRIO 12 MT 1050 KGF DOS POSTES</option>
                        <option value='FIT121050'>FIBRA  VIDRIO 12 MT 1050 KGF TRES POSTES</option>
                        <option value='FIN12510'>FIBRA  VIDRIO 12 MT 510 KGF</option>
                        <option value='FIH12510'>FIBRA  VIDRIO 12 MT 510 KGF OS POSTES</option>
                        <option value='FIT12510'>FIBRA  VIDRIO 12 MT 510 KGF TRES POSTES</option>
                        <option value='FIN12750'>FIBRA  VIDRIO 12 MT 750 KGF</option>
                        <option value='FIN141050'>FIBRA  VIDRIO 14 MT 1050 KGF</option>
                        <option value='FIH141050'>FIBRA  VIDRIO 14 MT 1050 KGF DOS POSTES</option>
                        <option value='FIT141050'>FIBRA  VIDRIO 14 MT 1050 KGF TRES POSTES</option>
                        <option value='FIN141350'>FIBRA  VIDRIO 14 MT 1350 KGF</option>
                        <option value='FIN14750'>FIBRA  VIDRIO 14 MT 750 KGF</option>
                        <option value='FIH14750'>FIBRA  VIDRIO 14 MT 750 KGF DOS POSTES</option>
                        <option value='FIT14750'>FIBRA  VIDRIO 14 MT 750 KGF TRES POSTES</option>
                        <option value='FIN161050'>FIBRA  VIDRIO 16 MT 1050 KGF</option>
                        <option value='MAD12T'>MADERA 12 METROS - T</option>
                        <option value='FIH161050'>FIBRA  VIDRIO 16 MT 1050 KGF DOS POSTES</option>
                        <option value='FIT161050'>FIBRA  VIDRIO 16 MT 1050 KGF TRES POSTES</option>
                        <option value='MAH12'>MADERA 12 MT - DOS POSTES</option>
                        <option value='MAT12'>MADERA 12 MT - TRES POSTES</option>
                        <option value='MEN101050'>METALICO 10 MT 1050 KGF</option>
                        <option value='MEN10510'>METÁLICO 10 MT 510 KGF</option>
                        <option value='MEN10750'>METALICO 10 MT 750 KGF</option>
                        <option value='MEN121050'>METALICO 12 MT 1050 KGF</option>
                        <option value='MEH121050'>METALICO 12 MT 1050 KGF - DOS POSTES</option>
                        <option value='MET121050'>METALICO 12 MT 1050 KGF - TRES POSTES</option>
                        <option value='MEN121350'>METALICO 12 MT 1350 KGF</option>
                        <option value='MEN12510'>METALICO 12 MT 510 KGF</option>
                        <option value='MEH12510'>METALICO 12 MT 510 KGF - DOS POSTES</option>
                        <option value='MET12510'>METALICO 12 MT 510 KGF - TRES POSTES</option>
                        <option value='MEN12750'>METALICO 12 MT 750 KGF</option>
                        <option value='MEN141050'>METALICO 14 MT 1050 KGF</option>
                        <option value='MEH141050'>METALICO 14 MT 1050 KGF - DOS POSTES</option>
                        <option value='MET141050'>METALICO 14 MT 1050 KGF - TRES POSTES</option>
                        <option value='MEN14510'>METALICO 14 MT 510 KFG</option>
                        <option value='MEN14750'>METALICO 14 MT 750 KGF</option>
                        <option value='MEH14750'>METALICO 14 MT 750 KGF - DOS POSTES</option>
                        <option value='MET14750'>METALICO 14 MT 750 KGF - TRES POSTES</option>
                        <option value='MEN161050'>METALICO 16 MT 1050 KGF</option>
                        <option value='MEH161050'>METALICO 16 MT 1050 KGF - DOS POSTES</option>
                        <option value='MET161050'>METALICO 16 MT 1050 KGF - TRES POSTES</option>
                        <option value='MEN161350'>POSTE METALICO 16M 1350 KG</option>
                        <option value='MEH161350'>METALICO 16 MT 1350 KGF - DOS POSTES</option>
                        <option value='MET161350'>METALICO 16 MT 1350 KGF - TRES POSTES</option>
                        <option value='MEN280'>METÁLICO 28 MT 0 KGF </option>
                        <option value='MEN3AP'>METALICO 3 MT 0KGF</option>
                        <option value='MEN40'>POSTE METALICO 40M</option>
                        <option value='MEN5510'>METALICO 5 MT 510 KGF</option>
                        <option value='MEN6510'>METALICO 6 MT 510 KGF</option>
                        <option value='MEN81050'>METALICO 8 MT 1050 KGF</option>
                        <option value='MEN8510'>METALICO 8 MT 510 KGF</option>
                        <option value='MEN8750'>METALICO 8 MT 750 KFG</option>
                        <option value='COC12510'>CONCRETO 12 MT 510 KGF - CUATRO POSTES</option>
                        <option value='COC12750'>CONCRETO 12 MT 750 KGF - CUATRO POSTES</option>
                        <option value='COC121350'>CONCRETO 12 MT 1350 KGF - CUATRO POSTES</option>
                        <option value='COC14750'>CONCRETO 14 MT 750 KGF - CUATRO POSTES</option>
                        <option value='COC141050'>CONCRETO 14 MT 1050 KGF - CUATRO POSTES</option>
                        <option value='COC141350'>CONCRETO 14 MT 1350 KGF - CUATRO POSTES</option>
                        <option value='COC161050'>CONCRETO 16 MT 1050 KGF - CUATRO POSTES</option>
                        <option value='COC161350'>CONCRETO 14 MT 1350510 KGF CUATRO POSTES</option>
                        <option value='FIC12510'>FIBRA VIDRIO 12 MT 510 KGF CUATRO POSTES</option>
                        <option value='FIC12750'>FIBRA VIDRIO 12 MT 750 KGF CUATRO POSTES</option>
                        <option value='FIC121050'>FIBRA VIDRIO 12MT 1050 KGF CUATRO POSTES</option>
                        <option value='FIC121350'>FIBRA VIDRIO 12MT 1350 KGF CUATRO POSTES</option>
                        <option value='FIC14750'>FIBRA VIDRIO 14 MT 750 KGF CUATRO POSTES</option>
                        <option value='FIC141050'>FIBRA VIDRIO 14MT 1050 KGF CUATRO POSTES</option>
                        <option value='FIC141350'>FIBRA VIDRIO 14MT 1350 KGF CUATRO POSTES</option>
                        <option value='FIC161050'>FIBRA VIDRIO 16MT 1050 KGF CUATRO POSTES</option>
                        <option value='FIC161350'>FIBRA VIDRIO 16MT 1350 KGF CUATRO POSTES</option>
                        <option value='MEC12510'>METALICO 12 MT 510 KGF - CUATRO POSTES</option>
                        <option value='MEC12750'>METALICO 12 MT 750 KGF - CUATRO POSTES</option>
                        <option value='MEC121050'>METALICO 12 MT 1050 KGF - CUATRO POSTES</option>
                        <option value='MEC121350'>METALICO 12 MT 1350 KGF - CUATRO POSTES</option>
                        <option value='MEC14750'>METALICO 14 MT 750 KGF - CUATRO POSTES</option>
                        <option value='MEC141050'>METALICO 14 MT 1050 KGF - CUATRO POSTES</option>
                        <option value='MEC141350'>METALICO 14 MT 1350 KGF - CUATRO POSTES</option>
                        <option value='MEC161050'>METALICO 16 MT 1050 KGF - CUATRO POSTES</option>
                        <option value='MEC161350'>METALICO 16 MT 1350 KGF - CUATRO POSTES</option>
                        <option value='COC121050'>CONCRETO 12 MT 1050 KGF - CUATRO POSTES</option>
                        <option value='FIH1075O'>FIBRA VIDRIO 10M 750 KGF DOS POSTES</option>
                        <option value='MEH10510'>POSTE METALICO 1O M 510 KGF DOS POSTES</option>
                        <option value='MAC12750'>MADERA 12M 750 KGF CUATRO POSTES</option>
                        <option value='MAT12750'>MADERA 12M TRES POSTES</option>
                        <option value='MAH12750'>MADERA 12 M DOS POSTES</option>
                        <option value='MAN12750'>MADERA 12M UN POSTE </option>
                        <option value='MET12750'>METALICO 12M 750 KGF TRES POSTES</option>
                        <option value='FIH12750'>FIBRA VIDRIO 12M 750 KG DOS POSTES</option>
                        <option value='MA512750'>MADERA 12M 750 KGF CINCO POSTES</option>
                        <option value='FIN10750'>FIBRA DE VIDRIO 10M 750 KGF</option>
                        <option value='ME5121050'>METALICO 12 M 1050- 5 POSTES</option>
                      </select>
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label">Tipo de Estructura:</label>
                  <div class="controls">
                     <select class="span6 chosen" data-placeholder="Seleccione la Empresa" tabindex="1" id="txtAlumbrado_Municipio2345">
                        <option value='LA327'>LA327 - CIRCUITO SECUNDARIO EN RETENCIÓN. RED TRENZADA DE B.T.</option>
                        <option value='LA328'>LA328 - MONTAJE DE CAJA DE BARRAJES ADICIONAL PARA CONEXIÓN DE ACOMETIDAS</option>
                        <option value='LA334'>LA334 - TRANSICIÓN EN CIRCUITO SECUNDARIO AÉREO DE RED TRENZADA A RED ABIERTA EXISTENTE</option>
                        <option value='LA335'>LA335 - MONTAJE DE SECCIONADOR PORTAFUSIBLE 160 A PARA LÍNEAS DE B.T.</option>
                        <option value='LA336'>LA336 - MONTAJE DE SECCIONADOR PORTAFUSIBLE 600 A PARA LÍNEAS DE B.T.</option>
                        <option value='CTU500-1'>CTU500-1 - CENTRO DE DISTRIBUCIÓN URBANO. MONTAJE EN POSTE DE TRANSFORMADOR TRIFÁSICO CON FINAL DE CIRCUITO PRIMARIO Y RED TRENZADA DE B.T.</option>
                        <option value='CTU502'>CTU502 - CENTRO DE DISTRIBUCIÓN URBANO. MONTAJE EN POSTE DE TRANSFORMADOR TRIFÁSICO CONSTRUCCIÓN EN BANDERA Y RED TRENZADA DE B.T.</option>
                        <option value='CTU502-1'>CTU502-1 - CENTRO DE DISTRIBUCIÓN URBANO. MONTAJE EN POSTE DE TRANSFORMADOR TRIFÁSICO CON FINAL DE CIRCUITO EN PRIMARIO CONSTRUCCIÓN EN BANDERA Y RED </option>
                        <option value='LAR198'>LAR198 - LÍNEA RURAL 34,5 kV - MONTAJE DE RECONECTADOR CON TRANSFORMADOR DE POTENCIAL</option>
                        <option value='LAR199'>LAR199 - LÍNEA RURAL 34,5 kV - MONTAJE DE SECCIONALIZADOR CON TRANSFORMADOR DE POTENCIAL</option>
                        <option value='LAR202'>LAR202 - LÍNEA RURAL 13,2 - 11,4 kV -  ESTRUCTURA TRIANGULAR</option>
                        <option value='LAR205'>LAR205 - LÍNEA RURAL 13,2 -11,4 kV -  ESTRUCTURA TRIANGULAR EN ÁNGULO </option>
                        <option value='LAR211'>LAR211 - LÍNEA RURAL 13,2-11,4 kV -  ESTRUCTURA TRIÁNGULAR TERMINAL </option>
                        <option value='LAR213'>LAR213 - LÍNEA RURAL 13,2-11,4 kV -  ESTRUCTURA TRIÁNGULAR DE RETENCIÓN </option>
                        <option value='LAR214'>LAR214 - LÍNEA RURAL 13,2-11,4 kV -  ESTRUCTURA VERTICAL SENCILLA </option>
                        <option value='LAR215'>LAR215 - LÍNEA RURAL 13,2 -11,4 kV -  ESTRUCTURA VERTICAL  PARA ÁNGULOS DE 48 º A 90 º</option>
                        <option value='LAR216'>LAR216 - LÍNEA RURAL 13,2 -11,4 kV -  ESTRUCTURAS PARA ZONAS ARBORIZADAS </option>
                        <option value='LAR217'>LAR217 - LÍNEA RURAL 13,2 -11,4 kV -  ESTRUCTURA PARA ZONAS ARBORIZADAS EN ÁNGULO </option>
                        <option value='LAR220'>LAR220 - LÍNEA RURAL 13,2 -11,4 kV -  ESTRUCTURA DE SUSPENSIÓN HORIZONTAL EN H </option>
                        <option value='LAR221'>LAR221 - LÍNEA RURAL 13,2-11,4 kV - ESTRUCTURA TERMINAL HORIZONTAL EN H </option>
                        <option value='LAR222'>LAR222 - LÍNEA RURAL 13,2 - 11,4 kV -  ESTRUCTURA EN H DISPOSICIÓN HORIZONTAL </option>
                        <option value='LAR223'>LAR223 - LÍNEA RURAL 13,2- 11,4 kV -  ESTRUCTURA DE RETENCIÓN HORIZONTAL EN H  </option>
                        <option value='LAR225'>LAR225 - LÍNEA RURAL 13,2 -11,4 kV -  ESTRUCTURA EN H PARA ÁNGULOS</option>
                        <option value='LAR227'>LAR227 - LÍNEA RURAL 13,2 -11,4 kV -  ESTRUCTURA EN H SUSPENSIÓN TRIÁNGULAR </option>
                        <option value='LAR232'>LAR232 - LÍNEA RURAL 13,2 -11,4 kV -  ESTRUCTURA EN H DISPOSICIÓN TRIÁNGULAR </option>
                        <option value='LAR233'>LAR233 - LÍNEA RURAL 13,2 - 11,4 kV -  ESTRUCTURA DE RETENCIÓN TRIÁNGULAR EN H </option>
                        <option value='LAR235'>LAR235 - LÍNEA RURAL 13,2 -11,4 kV -  ESTRUCTURA TRIÁNGULAR EN H PARA ÁNGULOS</option>
                        <option value='LAR237'>LAR237 - LÍNEA RURAL 13,2 -11,4 kV -  ESTRUCTURA DE SUSPENSIÓN HORIZONTAL CON CRUCETA DE SEIS METROS  </option>
                        <option value='LAR243'>LAR243 - LÍNEA RURAL 13,2 -11,4 kV -  ESTRUCTURA DE RETENCIÓN HORIZONTAL EN TRES POSTES </option>
                        <option value='LAR250'>LAR250 - LÍNEA RURAL 13,2 - 11,4 kV -  ESTRUCTURA DE RETENCIÓN EN DOBLE CIRCUITO </option>
                        <option value='LAR251'>LAR251 - LÍNEA RURAL 13,2 -11,4 kV -  ESTRUCTURA DOBLE CIRCUITO EN ÁNGULO</option>
                        <option value='LAR252'>LAR252 - LÍNEA RURAL 13,2 -11,4 kV -  DOBLE CIRCUITO</option>
                        <option value='LAR273'>LAR273 - LÍNEA RURAL 13,2 -11,4 kV -  ESTRUCTURA EN H DE RETENCIÓN HORIZONTAL CON CRUCETAS DE SEIS METROS</option>
                        <option value='LAR274'>LAR274 - LÍNEA RURAL 13,2 -11,4 kV -  ESTRUCTURA DE RETENCIÓN HORIZONTAL EN TRES POSTES CON CRUCETA DE SEIS METROS </option>
                        <option value='LAR275'>LAR275 - LÍNEA RURAL 13,2 -11,4 kV -  DERIVACIÓN  TRIFÁSICA EN UN POSTE </option>
                        <option value='LAR276'>LAR276 - LÍNEA RURAL 13,2 -11,4 kV -  DERIVACIÓN TRIFÁSICA POSTE A POSTE  </option>
                        <option value='LAR277'>LAR277 - LÍNEA RURAL 13,2 -11,4 kV -  DERIVACIÓN TRIFÁSICA EN H  </option>
                        <option value='LAR278'>LAR278 - LÍNEA RURAL 13,2 - 11,4 kV -  DERIVACIÓN TRIFÁSICA HORIZONTAL DE  H A H </option>
                        <option value='LAR279'>LAR279 - LÍNEA RURAL 13,2 - 11,4 kV -  DERIVACIÓN TRIFÁSICA TRIANGULAR DE H A H</option>
                        <option value='LAR280'>LAR280 - LÍNEA RURAL 13,2 - 11,4 kV -  DERIVACIÓN EN UN POSTE DE CIRCUITO TRIFILAR A BIFILAR </option>
                        <option value='LAR281'>LAR281 - LÍNEA RURAL 13,2 - 11,4 kV -  MONTAJE DE PARARRAYOS EN POSTES ADYACENTES A EQUIPOS  </option>
                        <option value='LAR282'>LAR282 - LÍNEA RURAL 13,2 - 11,4 kV -  MONTAJE DE SECCIONADORES MONOPOLARES DE 400 A </option>
                        <option value='LAR283'>LAR283 - LÍNEA RURAL 13,2 - 11,4 kV -  MONTAJE DE RECONECTADOR EN LÍNEA </option>
                        <option value='LAR190'>LAR190 - LÍNEA RURAL 34,5 kV -  CIRCUITOS PRINCIPAL Y SUPLENCIA CON DERIVACIÓN SUBTERRÁNEA A SUBESTACIÓN</option>
                        <option value='LA117'>LA117 - CIRCUITO URBANO 34,5  kV - CON DERIVACIÓN CORTA. CABLE TRIPLEX LONGITUD MENOR DE 100 m</option>
                        <option value='LA119'>LA119 - CIRCUITO URBANO 34,5  kV - ENTRADA Y SALIDA SUBTERRÁNEA PARA UNA SUBESTACIÓN DE INSTALACIÒN INTERIOR</option>
                        <option value='LA120'>LA120 - CIRCUITO URBANO 34,5  kV - CRUCE SUBTERRÁNEO DE VÌAS</option>
                        <option value='LA121'>LA121 - CIRCUITO URBANO 34,5  kV - SALIDA DE SUBESTACIÓN O SUBTERRANIZACIÓN DEL CIRCUITO PRINCIPAL</option>
                        <option value='LA152'>LA152 - CIRCUITO URBANO 34,5 kV - CON CIRCUITO PRIMARIO SENCILLO PARA ÁNGULOS  HASTA 10 º</option>
                        <option value='LA153'>LA153 - CIRCUITO URBANO 34,5 kV - CON CIRCUITO DE 11,4  kV EN ÁNGULO DE 21 º A 30 º</option>
                        <option value='LA157'>LA157 - CIRCUITO URBANO 34,5 kV - CON CIRCUITO PRIMARIO 11,4  kV EN CAMBIO DE ÁNGULO A 90 º</option>
                        <option value='LA158'>LA158 - CIRCUITO URBANO 34,5 kV - EN BANDERA CON CIRCUITO PRIMARIO EN BANDERA</option>
                        <option value='LA159'>LA159 - CIRCUITO URBANO 34,5 kV - EN BANDERA CON CIRCUITO DE 11,4 ó 13,2  kV EN BANDERA PARA ÁNGULOS ENTRE  6 º Y 20 º</option>
                        <option value='LA163'>LA163 - RETENCIÓN DOBLE CIRCUITO URBANO 34,5 kV CON CIRCUITO PRIMARIO SENCILLO 11,4  kV EN CONSTRUCCIÓN TANGENCIAL</option>
                        <option value='LA164'>LA164 - CONSTRUCCIÓN SEMIBANDERA CIRCUITO 34,5  kV CON CIRCUITO PRIMARIO 11,4 kV EN RETENCIÓN DOBLE</option>
                        <option value='LA165'>LA165 - CIRCUITO URBANO 34,5  kV - CAMBIO DE ÁNGULO A 90 º CON RETENCIÓN HORIZONTAL Y CIRCUITO TANGENCIAL SENCILLO DE 11,4  kV</option>
                        <option value='LA170'>LA170 - SECCIONAMIENTO BAJO CARGA EN CIRCUITO URBANO 34,5  kV</option>
                        <option value='LA171'>LA171 - MONTAJE DE SECCIONADORES HORIZONTALES MONOPOLARES 600 A EN CIRCUITOS DE 34,5 kV</option>
                        <option value='LA172'>LA172 - MONTAJE DE SECCIONADORES VERTICALES MONOPOLARES 600 A EN  CIRCUITOS DE 34,5 kV</option>
                        <option value='LA212'>LA212 - FINAL DE CIRCUITO PRIMARIO SENCILLO - CONSTRUCCIÓN TIPO BANDERA</option>
                        <option value='LA213'>LA213 - RETENCIÓN DOBLE SIMÉTRICA DE CIRCUITO PRIMARIO SENCILLO</option>
                        <option value='LA214'>LA214 - CIRCUITO PRIMARIO SENCILLO - CONSTRUCCIÓN VERTICAL PARA ÁNGULOS HASTA 29 º</option>
                        <option value='LA215'>LA215 - CIRCUITO PRIMARIO SENCILLO - CONSTRUCCIÓN VERTICAL PARA ÁNGULOS ENTRE 30 º  Y 90 º</option>
                        <option value='LA218'>LA218 - CIRCUITO PRIMARIO SENCILLO - TERMINAL CON DERIVACIÓN LARGA DE CABLE TRIPLEX  (MAYOR DE 100 m )</option>
                        <option value='LA219'>LA219 - CIRCUITO PRIMARIO SENCILLO  - ENTRADA Y SALIDA SUBTERRÁNEA PARA UNA SUBESTACIÓN</option>
                        <option value='LA220'>LA220 - CIRCUITO PRIMARIO SENCILLO - CRUCE SUBTERRÁNEO DE VÍAS</option>
                        <option value='LA221'>LA221 - CIRCUITO PRIMARIO SENCILLO - SALIDA DE SUBESTACIÓN O SUBTERRANIZACIÓN DEL CIRCUITO PRINCIPAL</option>
                        <option value='LA222'>LA222 - RETENCIÓN DOBLE CIRCUITO PRIMARIO SENCILLO CONSTRUCCIÓN TIPO BANDERA</option>
                        <option value='LA223'>LA223 - MONTAJE DE SECCIONADORES MONOPOLARES DE 400 A  - 15 kV</option>
                        <option value='LA224'>LA224 - SECCIONAMIENTO BAJO CARGA EN CIRCUITO PRIMARIO SENCILLO 11,4  kV</option>
                        <option value='LA225'>LA225 - INSTALACIÓN DE INDICADORES DE FALLA EN LÍNEAS AÉREAS</option>
                        <option value='LA227'>LA227 - MONTAJE DE CONDENSADORES EN LA RED DE 11,4 kV</option>
                        <option value='LA228'>LA228 - CIRCUITO PRIMARIO SENCILLO - CONSTRUCCIÓN TANGENCIAL CON DERIVACIÓN SUBTERRÁNEA</option>
                        <option value='LA229'>LA229 - CIRCUITO PRIMARIO SENCILLO - CONSTRUCCIÓN TIPO BANDERA TRIANGULAR EN EXTREMO DE CRUCETA</option>
                        <option value='LA230'>LA230 - CIRCUITO PRIMARIO SENCILLO - CONSTRUCCIÓN TIPO BANDERA EN ÁNGULO CON CRUCETA DE 2,5 m</option>
                        <option value='LA231'>LA231 - CIRCUITO PRIMARIO SENCILLO - CONSTRUCCIÓN EN BANDERA ¿ DOBLE CRUCETA</option>
                        <option value='LA232'>LA232 - DERIVACIÓN TRIFÁSICA CON PROTECCIÓN CIRCUITO PRIMARIO SENCILLO</option>
                        <option value='LA323'>LA323 - CIRCUITO SECUNDARIO DOBLE EN CONDUCTOR  TRENZADO. CONSTRUCCIÓN EN LÍNEA</option>
                        <option value='LA324'>LA324 - CIRCUITO SECUNDARIO SENCILLO EN CONDUCTOR  TRENZADO. CONSTRUCCIÓN ANGULAR</option>
                        <option value='LA324-1'>LA324-1 - CIRCUITO SECUNDARIO SENCILLO EN CONDUCTOR  TRENZADO. CONSTRUCCIÓN ANGULAR (ALTERNATIVA)</option>
                        <option value='LA325'>LA325 - CIRCUITO SECUNDARIO DOBLE EN CONDUCTOR TRENZADO. CONSTRUCCIÓN ANGULAR A 90 º CON DERIVACIÓN</option>
                        <option value='LA326'>LA326 - SALIDAS SUBTERRÁNEAS DE B.T. A RED AÉREA EN CONDUCTOR TRENZADO</option>
                        <option value='LAR127'>LAR127 - LÍNEA RURAL 34,5 kV -  ESTRUCTURA EN H SUSPENSIÓN TRIANGULAR </option>
                        <option value='LA112'>LA112 - Circuito urbano 34,5 kV retención doble en bandera</option>
                        <option value='LAR132'>LAR132 - LÍNEA RURAL 34,5 kV -  ESTRUCTURA EN H DISPOSICIÓN TRIANGULAR </option>
                        <option value='LA113'>LA113 - CIRCUITO URBANO 34,5  kV - RETENCIÓN DOBLE</option>
                        <option value='LA210'>LA210 - CIRCUITO PRIMARIO SENCILLO - CON DERIVACIÓN A 90 º  CON RETENCIÓN SUPERIOR EXISTENTE</option>
                        <option value='LA211'>LA211 - FINAL DE CIRCUITO PRIMARIO SENCILLO</option>
                        <option value='LA114'>LA114 - CIRCUITO URBANO 34,5  kV - CONSTRUCCIÓN VERTICAL PARA ÁNGULOS</option>
                        <option value='LAR133'>LAR133 - LÍNEA RURAL 34,5 kV -  ESTRUCTURA DE RETENCIÓN TRIANGULAR EN H</option>
                        <option value='LA115'>LA115 - CIRCUITO URBANO 34,5  kV - CONSTRUCCIÓN VERTICAL PARA ÁNGULOS ENTRE  37 º y 90 º</option>
                        <option value='LAR135'>LAR135 - LÍNEA RURAL 34,5 kV -  ESTRUCTURA TRIANGULAR EN H PARA ÁNGULOS </option>
                        <option value='LA411_34_5'>LA411_34.5 - RETENIDA TERMINAL O EN ÁNGULO POSTE A VARILLA DE ANCLAJE</option>
                        <option value='LA411_13_2'>LA411_13.2 - RETENIDA TERMINAL O EN ÁNGULO POSTE A VARILLA DE ANCLAJE</option>
                        <option value='LA411_BT'>LA411_BT - RETENIDA TERMINAL O EN ÁNGULO POSTE A VARILLA DE ANCLAJE</option>
                        <option value='LA412_BT'>LA412_BT - RETENIDA TERMINAL O EN ÁNGULO POSTE A POSTE SIN VARILLA DE ANCLAJE</option>
                        <option value='LA412_13_2'>LA412_13,2 - RETENIDA TERMINAL O EN ÁNGULO POSTE A POSTE SIN VARILLA DE ANCLAJE</option>
                        <option value='LA412_34_5'>LA412_34.5 - RETENIDA TERMINAL O EN ÁNGULO POSTE A POSTE SIN VARILLA DE ANCLAJE</option>
                        <option value='CTU500'>CTU500 - MONTAJE EN POSTE DE TRANSFORMADOR TRIFÁSICO CON FINAL DE CIRCUITO PRIMARIO</option>
                        <option value='LAR193'>LAR193 - LÍNEA RURAL 34,5 kV -  ESTRUCTURA DE RETENCIÓN EN DOBLE CIRCUITO </option>
                        <option value='CTR501'>CTR501 - MONTAJE DE TRANSFORMADOR BIFILAR</option>
                        <option value='LA301'>LA301 - RED ABIERTA EXISTENTE CIRCUITO SECUNDARIO SENCILLO SIN ALUMBRADO PUBLICO</option>
                        <option value='LA302'>LA302 - RED ABIERTA EXISTENTE CIRCUITO SECUNDARIO SENCILLO</option>
                        <option value='LA303_'>LA303 - RED ABIERTA EXISTENTE SALIDAS SUBTERRANEAS DE B.T.</option>
                        <option value='LA304'>LA304 - RED ABIERTA EXISTENTE CIRCUITO SECUNDARIO PARA CUALQUIER CONFIGURACION DE CIRCUITO PRIMARIO</option>
                        <option value='LA306'>LA306 - RED ABIERTA EXISTENTE CIRCUITO SECUNDARIO SENCILLO CONSTRUCCION A 90º</option>
                        <option value='LA309'>LA309 - RED ABIERTA EXISTENTE -CIRCUITO SECUNDARIO SENCILLO CON DERIVACION A 90º</option>
                        <option value='LA303'>LA303 - RED ABIERTA EXISTENTE SALIDAS SUBTERRANEAS DE B.T.</option>
                        <option value='LA311'>LA311 - RED ABIERTA EXISTENTE FINAL DE CIRCUITO SECUNDARIO SENCILLO</option>
                        <option value='LA312'>LA312 - RED ABIERTA EXISTENTE CIRCUITO SECUNDARIO DOBLE</option>
                        <option value='LA313'>LA313 - RED ABIERTA EXISTENTE -CIRCUITO SECUNDARIO DOBLE CONSTRUCCION A 90º Y DERIVACION</option>
                        <option value='LAR197'>LAR197 - LÍNEA RURAL 34,5 kV - MONTAJE DE RECONECTADOR EN DERIVACIÓN</option>
                        <option value='LAR195'>LAR195 - INSTALACIÓN DE AMORTIGUADORES TIPO STOCK BRIDGE</option>
                        <option value='CTU503'>CTU503 - CENTRO DE DISTRIBUCIÓN URBANO MONTAJE DE ESTRUCTURA TIPO H DE TRANSFORMADOR TRIFÁSICO</option>
                        <option value='CTU504'>CTU504 - CENTRO DE DISTRIBUCIÓN URBANO MONTAJE EN ESTRUCTURA TIPO H DE TRANSFORMADOR TRIFÁSICO</option>
                        <option value='CTU506'>CTU506 - CENTRO DE DISTRIBUCIÓN URBANO MONTAJE EN POSTE DE TRANSFORMADOR MONOFÁSICO 6,6 kV</option>
                        <option value='CTU505'>CTU505 - CENTRO DE DISTRIBUCIÓN URBANO  MONTAJE DE TRANSFORMADOR MONOFÁSICO 6,6 kV</option>
                        <option value='CTU507'>CTU507 - CENTRO DE DISTRIBUCIÓN URBANO MONTAJE EN POSTE DE TRANSFORMADOR MONOFÁSICO 6,6 kV.</option>
                        <option value='LAR137'>LAR137 - LÍNEA RURAL 34,5 kV -  ESTRUCTURA DE SUSPENSIÓN HORIZONTAL CON CRUCETA DE SEIS METROS </option>
                        <option value='LAR142'>LAR142 - LÍNEA RURAL 34,5 kV -  ESTRUCTURA EN DOBLE CIRCUITO</option>
                        <option value='LAR143'>LAR143 - LÍNEA RURAL 34,5 kV -  ESTRUCTURA DE RETENCIÓN HORIZONTAL EN TRES POSTES</option>
                        <option value='LAR145'>LAR145 - LÍNEA RURAL 34,5 kV -  ESTRUCTURA DOBLE CIRCUITO EN ÁNGULO</option>
                        <option value='LAR173'>LAR173 - LÍNEA RURAL 34,5 kV -  ESTRUCTURA EN H DE RETENCIÓN HORIZONTAL CON CRUCETA DE SEIS METROS</option>
                        <option value='LAR183'>LAR183 - LÍNEA RURAL 34,5 kV -  ESTRUCTURA DE RETENCIÓN HORIZONTAL EN TRES POSTES CON CRUCETA DE SEIS METROS</option>
                        <option value='LA102'>LA102 - CIRCUITO URBANO 34,5 kV CONSTRUCCIÓN SEMIBANDERA</option>
                        <option value='LAR102'>LAR102 - LÍNEA RURAL 34,5 kV -  ESTRUCTURA TRIÁNGULAR </option>
                        <option value='LAR105'>LAR105 - LÍNEA RURAL 34,5 kV -  ESTRUCTURA TRIÁNGULAR EN ÁNGULO </option>
                        <option value='LA103'>LA103 - CIRCUITO URBANO 34,5 kV CONSTRUCCIÓN SEMIBANDERA EN ÁNGULO</option>
                        <option value='LA104'>LA104 - CIRCUITO URBANO 34,5 kV CONSTRUCCIÓN EN BANDERA </option>
                        <option value='LA105'>LA105 - CIRCUITO URBANO 34,5  kV - CONSTRUCCIÓN EN BANDERA EN ÁNGULO</option>
                        <option value='LAR111'>LAR111 - LÍNEA RURAL 34,5 kV -  ESTRUCTURA TRIÁNGULAR TERMINAL </option>
                        <option value='LA106'>LA106 - CIRCUITO URBANO 34,5  kV - CAMBIO DE ÁNGULO A 90 º CON RETENCIÓN HORIZONTAL</option>
                        <option value='LA202'>LA202 - CIRCUITO PRIMARIO SENCILLO - CONSTRUCCIÓN TANGENCIAL</option>
                        <option value='LAR113'>LAR113 - LÍNEA RURAL 34,5 kV -  ESTRUCTURA TRIANGULAR RETENCIÓN DOBLE </option>
                        <option value='LAR114'>LAR114 - LÍNEA RURAL 34,5 kV -  ESTRUCTURA VERTICAL SENCILLA </option>
                        <option value='LA203'>LA203 - CIRCUITO PRIMARIO SENCILLO - CONSTRUCCIÓN TANGENCIAL EN ÁNGULO</option>
                        <option value='LAR115'>LAR115 - LÍNEA RURAL 34,5 kV -  ESTRUCTURA VERTICAL DOBLE </option>
                        <option value='LA204'>LA204 - CIRCUITO PRIMARIO SENCILLO - CONSTRUCCIÓN TIPO BANDERA CON CRUCETA DE 2,5 m</option>
                        <option value='LA205'>LA205 - CIRCUITO PRIMARIO SENCILLO - CONSTRUCCIÓN TIPO BANDERA EN ÁNGULO</option>
                        <option value='LAR116'>LAR116 - LÍNEA RURAL 34,5 kV -  ESTRUCTURA PARA ZONAS ARBORIZADAS </option>
                        <option value='LA206'>LA206 - CIRCUITO PRIMARIO SENCILLO - CAMBIO DE ÁNGULO A 90 º CON RETENCIÓN HORIZONTAL</option>
                        <option value='LAR117'>LAR117 - LÍNEA RURAL 34,5 kV -  ESTRUCTURA EN ÁNGULO PARA ZONAS ARBORIZADAS</option>
                        <option value='LAR120'>LAR120 - LÍNEA RURAL 34,5 kV -  ESTRUCTURA EN H CON SUSPENSIÓN HORIZONTAL </option>
                        <option value='LAR121'>LAR121 - LÍNEA RURAL 34,5 kV -  ESTRUCTURA EN H TERMINAL CON DISPOSICIÓN HORIZONTAL </option>
                        <option value='LA109'>LA109 - CIRCUITO URBANO 34,5  kV - DERIVACIÓN A 90 º CON RETENCIÓN HORIZONTAL</option>
                        <option value='LAR122'>LAR122 - LÍNEA RURAL 34,5 kV -  ESTRUCTURA HORIZONTAL EN H </option>
                        <option value='LAR123'>LAR123 - LÍNEA RURAL 34,5 kV -  ESTRUCTURA EN H DE RETENCIÓN HORIZONTAL</option>
                        <option value='LA111'>LA111 - FINAL DE CIRCUITO URBANO 34,5  kV</option>
                        <option value='LAR125'>LAR125 - LÍNEA RURAL 34,5 kV -  ESTRUCTURA EN H DISPOSICIÓN HORIZONTAL PARA ÁNGULOS</option>
                        <option value='LA207'>LA207 - CIRCUITO PRIMARIO SENCILLO - CON DOBLE DERIVACIÓN A 90 º</option>
                        <option value='LA209'>LA209 - CIRCUITO PRIMARIO SENCILLO - DERIVACIÓN A 90 º CON RETENCIÓN INFERIOR</option>
                        <option value='LAR284'>LAR284 - LÍNEA RURAL 13,2 - 11,4 kV -  MONTAJE DE RECONECTADOR EN DERIVACIÓN</option>
                        <option value='LAR285'>LAR285 - LÍNEA RURAL 13,2 - 11,4 kV -  MONTAJE DE REGULADORES  EN DELTA ABIERTA</option>
                        <option value='LAR286'>LAR286 - LÍNEA RURAL 13,2 - 11,4 kV -  MONTAJE DE RECONECTADOR CON TRANSFORMADOR DE POTENCIAL  </option>
                        <option value='LAR287'>LAR287 - LÍNEA RURAL 13,2 - 11,4 kV -  MONTAJE DE SECCIONALIZADOR CON TRANSFORMADOR DE POTENCIAL  </option>
                        <option value='LAR291'>LAR291 - LÍNEA RURAL 13,2-11,4-7,6-6,6 kV -  ESTRUCTRA BIFILAR TERMINAL</option>
                        <option value='LAR292'>LAR292 - LÍNEA RURAL 13,2-11,4-7,6-6,6 kV -  ESTRUCTRA BIFILAR EN ALINEAMIENTO</option>
                        <option value='LAR293'>LAR293 - LÍNEA RURAL 13,2 -11,4 -7,6- 6,6 kV -  RETENCIÓN DOBLE PARA CIRCUITOS BIFILARES </option>
                        <option value='LAR294'>LAR294 - LÍNEA RURAL 13,2 -11,4-7,6- 6,6 kV -  RETENCIÓN DOBLE EN H PARA CIRCUITOS BIFILARES</option>
                        <option value='LAR295'>LAR295 - LÍNEA RURAL 13,2-11,4-7,6- 6,6 kV -  ESTRUCTURA BIFILAR EN ÁNGULO </option>
                        <option value='LAR296'>LAR296 - LÍNEA RURAL 13,2 -11,4-7,6- 6,6 kV -  ESTRUCTURA TERMINAL BIFILAR  EN H </option>
                        <option value='LAR297'>LAR297 - LÍNEA RURAL 13,2 -11,4-7,6-6,6 kV -  DERIVACIÓN BIFILAR EN H </option>
                        <option value='LAR298'>LAR298 - LÍNEA RURAL 13,2 -11,4 -7,6-6,6 kV -  ESTRUCTURA DE ALINEAMIENTO BIFILAR EN H </option>
                        <option value='LAR299'>LAR299 - LÍNEA RURAL 13,2 -11,4 -7,6-6,6 kV -  ESTRUCTURA BIFILAR EN H PARA ÁNGULOS</option>
                        <option value='LAR301'>LAR301 - CIRCUITO SECUNDARIO - MONOFÁSICO BIFILAR SENCILLO</option>
                        <option value='LAR302'>LAR302 - CIRCUITO SECUNDARIO - MONOFÁSICO TRIFILAR</option>
                        <option value='LAR303'>LAR303 - CIRCUITO SECUNDARIO-MONOFÁSICO BIFILAR DE RETENCIÓN</option>
                        <option value='LAR304'>LAR304 - CIRCUITO SECUNDARIO - MONOFÁSICO TRIFILAR DE RETENCIÓN</option>
                        <option value='LAR305'>LAR305 - CIRCUITO SECUNDARIO - MONOFÁSICO BIFILAR DE RETENCIÓN DOBLE </option>
                        <option value='LAR306'>LAR306 - CIRCUITO SECUNDARIO - MONOFÁSICO TRIFILAR DE RETENCIÓN DOBLE </option>
                        <option value='LAR307'>LAR307 - CIRCUITO SECUNDARIO - MONOFÁSICO BIFILAR CON ÁNGULO VERTICAL</option>
                        <option value='LAR308'>LAR308 - CIRCUITO SECUNDARIO</option>
                        <option value='LAR309'>LAR309 - ACOMETIDA AÉREA</option>
                        <option value='LAR310'>LAR310 - ACOMETIDA AÉREA CON CAJA DE MEDIDOR SOBRE MURO</option>
                        <option value='LAR311'>LAR311 - ACOMETIDA AÉREA INSTALACIÓN DE CAJA DE MEDIDOR EN POSTE</option>
                        <option value='LAR400'>LAR400 - PUESTA A TIERRA </option>
                        <option value='LAR402'>LAR402 - MONTAJE DE CABLE DE GUARDA EN ESTRUCTURA TERMINAL</option>
                        <option value='LAR403'>LAR403 - MONTAJE DE CABLE DE GUARDA EN ESTRUCTURA TERMINAL EN H</option>
                        <option value='LAR404'>LAR404 - MONTAJE DE CABLE DE GUARDA EN ESTRUCTURAS DE ALINEAMIENTO</option>
                        <option value='LAR405'>LAR405 - MONTAJE DE CABLE DE GUARDA EN ESTRUCTURAS EN ÁNGULO</option>
                        <option value='LAR406'>LAR406 - MONTAJE DE CABLE DE GUARDA EN ESTRUCTURA DE RETENCIÓN</option>
                        <option value='LAR407'>LAR407 - MONTAJE DE CABLE DE GUARDA EN ESTRUCTURAS DE ALINEAMIENTO Y SUSPENSIÓN EN H</option>
                        <option value='LAR408'>LAR408 - MONTAJE DE CABLE DE GUARDA EN ESTRUCTURAS DE ÁNGULO H</option>
                        <option value='LAR409'>LAR409 - MONTAJE DE CABLE DE GUARDA EN ESTRUCTURAS DE RETENCIÓN EN H</option>
                        <option value='LA402'>LA402 - INSTALACIÓN EXTERIOR AL POSTE DE ACCESORIOS PARA PUESTA A TIERRA</option>
                        <option value='LA402_BT'>LA402_BT - INSTALACIÓN EXTERIOR AL POSTE DE ACCESORIOS PARA PUESTA A TIERRA</option>
                        <option value='LAR412'>LAR412 - RETENIDA POSTE A VARILLA DE ANCLAJE TERMINAL O EN ÁNGULO</option>
                        <option value='LAR413'>LAR413 - RETENIDA POSTE A POSTE SIN VARILLA DE ANCLAJE TERMINAL O EN ÁNGULO</option>
                        <option value='LAR414'>LAR414 - RETENIDA DE PIE DE AMIGO</option>
                        <option value='LAR415'>LAR415 - MONTAJE DE DIAGONALES PARA ARRIOSTRAMIENTO</option>
                        <option value='LAR417'>LAR417 - MÁSTIL PARA PROTECCIÓN DE TRANSFORMADORES MONOFÁSICOS</option>
                        <option value='LAR419'>LAR419 - RETENIDA TERMINAL O EN ÁNGULO POSTE A VARILLA DE ANCLAJE (ALTERNATIVAS)</option>
                        <option value='LA413_BT'>LA413_BT - Retenida terminal poste a poste con varilla de anclaje</option>
                        <option value='LA413_13_2'>LA413_13.2 - Retenida terminal poste a poste con varilla de anclaje</option>
                        <option value='LA413_34_5'>LA413_34.5 - Retenida terminal poste a poste con varilla de anclaje</option>
                        <option value='LA314'>LA314 - RED ABIERTA EXISTENTE-CIRCUITO SECUNDARIO CON EXTENSION PARA PERCHA PORTA AISLADOR</option>
                        <option value='LA320'>LA320 - CIRCUITO SECUNDARIO SENCILLO EN CONDUCTOR TRENZADO CONSTRUCCIÓN EN LÍNEA</option>
                        <option value='LA320-1'>LA320-1 - CIRCUITO SECUNDARIO SENCILLO EN CONDUCTOR TRENZADO. CONSTRUCCIÓN EN LÍNEA CON EXTENSIÒN</option>
                        <option value='LA321'>LA321 - FINAL DE CIRCUITO SECUNDARIO SENCILLO EN CONDUCTOR TRENZADO</option>
                        <option value='LA322'>LA322 - CIRCUITO SECUNDARIO SENCILLO CON DERIVACIÓN EN CONDUCTOR TRENZADO</option>
                        <option value='DPS12KV'>Pararrayos 12kV 10kA.</option>
                        <option value='DPS30KV'>Pararrayos 30kV 10 kA.</option>
                        <option value='CS275'>CS275 - CAJA DE INSPECCIÓN SENCILLA PARA CANALIZACIÓN DE M.T Y B.T CON TAPA</option>
                        <option value='CS274'>CS274 - CAJA DE INSPECCIÓN PARA ALUMBRADO PÚBLICO</option>
                        <option value='CS276'>CS276 - CAJA DE INSPECCIÓN DOBLE  PARA CANALIZACIÓN DE M.T. Y B.T. CON TAPAS</option>
                        <option value='CS277'>CS277 - CAJA DE INSPECCIÓN TRIPLE  PARA CANALIZACIÓN DE M.T CON TAPAS</option>
                        <option value='CS280'>CS280 - CAJA DE INSPECCIÓN TIPO VEHICULAR</option>
                        <option value='LAR281_34_5'>LAR281 LÍNEA RURAL 34,5 kV - MONTAJE DE PARARRAYOS EN POSTES</option>
                        <option value='LAR412_GUARDA'>LAR412 RETENIDA POSTE A VARILLA DE ANCLAJE PARA CABLE DE GUARDA</option>
                        <option value='LA102-1'>LA102 CIRCUITO URBANO 34,5 kV CONSTRUCCIÓN SEMIBANDERA - CRUCETA METALICA</option>
                        <option value='LA103-1'>LA103 CIRCUITO URBANO 34,5 kV CONSTRUCCIÓN SEMIBANDERA EN ÁNGULO - CRUCETA METALICA</option>
                        <option value='LA104-1'>LA104 CIRCUITO URBANO 34,5 kV CONSTRUCCIÓN EN BANDERA  - CRUCETA METALICA</option>
                        <option value='LA105-1'>LA105 - CIRCUITO URBANO 34,5  kV - CONSTRUCCIÓN EN BANDERA EN ÁNGULO - CRUCETA METALICA</option>
                        <option value='LA106-1'>LA106 - CIRCUITO URBANO 34,5  kV - CAMBIO DE ÁNGULO A 90 º CON RETENCIÓN HORIZONTAL - CRUCETA METALICA</option>
                        <option value='LA109-1'>LA109 - CIRCUITO URBANO 34,5  kV - DERIVACIÓN A 90 º CON RETENCIÓN HORIZONTAL - CRUCETA DE METALICA</option>
                        <option value='LA111-1'>LA111 - FINAL DE CIRCUITO URBANO 34,5  kV - CRUCETA METALICA</option>
                        <option value='LA112-1'>LA112 - CIRCUITO URBANO 34,5  kV - RETENCIÓN DOBLE EN BANDERA - CRUCETA METALICA</option>
                        <option value='LA113-1'>LA113 - CIRCUITO URBANO 34,5  kV - RETENCIÓN DOBLE - CRUCETA METALICA</option>
                        <option value='LA117-1'>LA117 - CIRCUITO URBANO 34,5  kV - CON DERIVACIÓN CORTA. CABLE TRIPLEX LONGITUD MENOR DE 100 m - CRUCETA METALICA</option>
                        <option value='LA163-1'>LA163 - CRUCETA METALICA RETENCIÓN DOBLE CIRCUITO URBANO 34,5 kV CON CIRCUITO PRIMARIO SENCILLO 11,4  kV EN CONSTRUCCIÓN TANGENCIAL</option>
                        <option value='LA164-1'>LA164 - CRUCETA METALICA CONSTRUCCIÓN SEMIBANDERA CIRCUITO 34,5  kV CON CIRCUITO PRIMARIO 11,4 kV EN RETENCIÓN DOBLE</option>
                        <option value='LA165-1'>LA165 - CRUCETA METALICA CIRCUITO URBANO 34,5  kV - CAMBIO DE ÁNGULO A 90 º CON RETENCIÓN HORIZONTAL Y CIRCUITO TANGENCIAL SENCILLO DE 11,4  kV</option>
                        <option value='LA170-1'>LA170 - CRUCETA METALICA SECCIONAMIENTO BAJO CARGA EN CIRCUITO URBANO 34,5  kV</option>
                        <option value='LA171-1'>LA171 - CRUCETA METALICA MONTAJE DE SECCIONADORES HORIZONTALES MONOPOLARES 600 A EN CIRCUITOS DE 34,5 kV</option>
                        <option value='LA172-1'>LA172 - CRUCETA METALICA MONTAJE DE SECCIONADORES VERTICALES MONOPOLARES 600 A EN  CIRCUITOS DE 34,5 kV</option>
                        <option value='LA202-1'>LA202 - CRUCETA METALICA CIRCUITO PRIMARIO SENCILLO - CONSTRUCCIÓN TANGENCIAL</option>
                        <option value='LA203-1'>LA203 - CRUCETA METALICA CIRCUITO PRIMARIO SENCILLO - CONSTRUCCIÓN TANGENCIAL EN ÁNGULO</option>
                        <option value='LA204-1'>LA204 - CRUCETA METALICA CIRCUITO PRIMARIO SENCILLO - CONSTRUCCIÓN TIPO BANDERA CON CRUCETA DE 2,5 m</option>
                        <option value='LA205-1'>LA205 - CRUCETA METALICA CIRCUITO PRIMARIO SENCILLO - CONSTRUCCIÓN TIPO BANDERA EN ÁNGULO</option>
                        <option value='LA206-1'>LA206 - CRUCETA METALICA CIRCUITO PRIMARIO SENCILLO - CAMBIO DE ÁNGULO A 90 º CON RETENCIÓN HORIZONTAL</option>
                        <option value='LA207-1'>LA207 - CRUCETA METALICA CIRCUITO PRIMARIO SENCILLO - CON DOBLE DERIVACIÓN A 90 º</option>
                        <option value='LA208-1'>LA208 - CRUCETA METALICA CRUCE DE CIRCUITOS PRIMARIOS SENCILLOS DIFERENTES</option>
                        <option value='LA208'>LA208 - CRUCE DE CIRCUITOS PRIMARIOS SENCILLOS DIFERENTES</option>
                        <option value='LA209-1'>LA209 - CIRCUITO PRIMARIO SENCILLO - DERIVACIÓN A 90 º CON RETENCIÓN INFERIOR</option>
                        <option value='LA210-1'>LA210 - CRUCETA METALICA CIRCUITO PRIMARIO SENCILLO - CON DERIVACIÓN A 90 º  CON RETENCIÓN SUPERIOR EXISTENTE</option>
                        <option value='LA211-1'>LA211 - CRUCETA METALICA FINAL DE CIRCUITO PRIMARIO SENCILLO</option>
                        <option value='LA212-1'>LA212 - CRUCETA METALICA FINAL DE CIRCUITO PRIMARIO SENCILLO - CONSTRUCCIÓN TIPO BANDERA</option>
                        <option value='CTU501'>CTU501 - CENTRO DE DISTRIBUCIÓN URBANO MONTAJE EN POSTE DE TRANSFORMADOR TRIFÁSICO CIRCUITO PRIMARIO TANGENCIAL Y RED TRENZADA DE B.T.</option>
                        <option value='LAR123-1'>LAR123 - LÍNEA RURAL 34,5 kV -  ESTRUCTURA EN H DE RETENCIÓN HORIZONTAL CRUCETA METALICA</option>
                        <option value='LA232-1'>LA232 - DERIVACIÓN TRIFÁSICA CON PROTECCIÓN CIRCUITO PRIMARIO SENCILLO CRUCETA METALICA</option>
                        <option value='LAR137-1'>LAR137 - LÍNEA RURAL 34,5 kV -  ESTRUCTURA DE SUSPENSIÓN HORIZONTAL CON CRUCETA METALICA DE SEIS METROS </option>
                        <option value='LAR143-1'>LAR143 - LÍNEA RURAL 34,5 kV -  ESTRUCTURA DE RETENCIÓN HORIZONTAL EN TRES POSTES CRUCETA METALICA</option>
                        <option value='LAR183-1'>LAR183 -  LÍNEA RURAL 34,5 kV -  ESTRUCTURA DE RETENCIÓN HORIZONTAL EN TRES POSTES CON CRUCETA METALICA DE SEIS METROS </option>
                        <option value='LA417'>LA417 - TEMPLETE CUERDA DE GUITARRA 34,5 kV</option>
                        <option value='LA418_34_5'>LA418 - TEMPLETE POSTE A POSTE</option>
                        <option value='KIT_MT'>Kit de puesta a tierra de MT acero</option>
                        <option value='KIT_BT'>Kit de puesta a tierra de BT acero</option>
                        <option value='LAR120-1'>LAR120 - LÍNEA RURAL 34,5 kV -  ESTRUCTURA EN H CON SUSPENSIÓN HORIZONTAL CRUCETA METALICA</option>
                        <option value='LAR173-1'>LAR173 - ESTRUCTURA EN H DE RETENCIÓN HORIZONTAL CON CRUCETA METALICA DE SEIS METROS</option>
                        <option value='CTU520'>CTU520 - CENTRO DE DISTRIBUCIÓN URBANO. MONTAJE EN POSTE DE TRANSFORMADOR TRIFÁSICO PARA SERVICIO DEDICADO CIRCUITO PRIMARIO SENCILLO</option>
                        <option value='CTR505-1'>CTR505-1 - CENTRO DE DISTRIBUCIÓN RURAL MONTAJE DE TRANSFORMADOR BIFILAR Y FINAL DE CIRCUITO BIFILAR DE M.T. CON ACOMETIDA EN B.T.</option>
                        <option value='CTU511'>CTU511 - CENTRO DE DISTRIBUCIÓN URBANO. ESTRUCTURA TRANSFORMADOR TRIFÁSICO EN H MACROMEDICIÓN INDIRECTA EN B.T.</option>
                        <option value='CTR505'>CTR505 - CENTRO DE DISTRIBUCIÓN RURAL MONTAJE DE TRANSFORMADOR BIFILAR CON DPS EN M.T. Y B.T. 11,4 ó 13,2 kV - 120 / 240 V</option>
                        <option value='CTS511-1'>CS511-1 CENTRO DE TRANSFORMACIÓN CAPSULADO TRANSFORMADOR EN ACEITE - ACCESO FRONTAL DESDE EL EXTERIOR DEL EDIFICIO O EN LOCAL SEPARADO  (NIVEL 2) </option>
                        <option value='LA361'>LA361 - ACOMETIDA DE BT AEREA CON CABLE ANTIFRAUDE RED ABIERTA SECUNDARIA</option>
                        <option value='LA418_BT'>LA418_BT -TEMPLETE POSTE A POSTE</option>
                        <option value='LA118'>LA118 - CIRCUITO URBANO 34,5  kV - RETENCIÓN CON DERIVACIÓN LARGA EN CABLE TRIPLEX LONGITUD MAYOR DE 100 m</option>
                        <option value='LA420_BT'>LA420_BT - Retenida terminal bandera poste a poste</option>
                        <option value='LA420_13KV'>LA420 - RETENIDA TERMINAL O EN ÁNGULO POSTE A VARILLA DE ANCLAJE (ALTERNATIVAS)</option>
                        <option value='LA402_34KV'>LA402_34KV</option>
                        <option value='LA419'> RETENIDA TERMINAL O EN ÁNGULO POSTE A VARILLA DE ANCLAJE (ALTERNATIVAS)</option>
                        <option value='LA419_BT1'>LA419 - ALTERNATIVA 1 RETENIDA TERMINAL O EN ÁNGULO POSTE A VARILLA DE ANCLAJE (ALTERNATIVAS)</option>
                        <option value='LA419_13KV1'>LA419 - ALTERNATIVA 1 RETENIDA TERMINAL O EN ÁNGULO POSTE A VARILLA DE ANCLAJE (ALTERNATIVAS)</option>
                        <option value='LA419_13KV2'>LA419 - ALTERNATIVA 2 RETENIDA TERMINAL O EN ÁNGULO POSTE A VARILLA DE ANCLAJE (ALTERNATIVAS)</option>
                        <option value='LA419_34KV1'>LA419 - ALTERNATIVA 1 RETENIDA TERMINAL O EN ÁNGULO POSTE A VARILLA DE ANCLAJE (ALTERNATIVAS)</option>
                        <option value='CS275_BT'>CS275 BT - CAJA DE INSPECCIÓN SENCILLA PARA CANALIZACIÓN DE M.T Y B.T CON TAPA</option>
                        <option value='AP280'>AP280 - Caja de inspección para alumbrado ornamental comunal</option>
                        <option value='LA461'>LA461 Red compacta 11,4 kV circuito tangencial con ángulos hasta de 6°</option>
                        <option value='LA463'>LA463 Red compacta para 34.5 kV circuito tangencial</option>
                        <option value='LA464'>LA464 Red compacta 11,4 kV. Final de circuito</option>
                        <option value='LA465'>LA465 Red compacta 11.4 Kv. Final del circuito triangular</option>
                        <option value='LA466'>LA466 Red compacta para ángulos de 61° a 90° con doble aislador 11,4 kV</option>
                        <option value='LA467'>LA467 Red compacta para ángulos de 61 ° a 90 ° con doble aislador 34,5 kV</option>
                        <option value='LA468'>LA468 Red compacta 11.4 kV estructura en ángulo para tres circuitos </option>
                        <option value='LA469'>LA469 Red compacta 11,4 kV construccion tangencial de tres circuitos con brazo antibalanceo </option>
                        <option value='LA471'>LA471 Red compacta construcción tangencial de 4 ctos con brazo antibalanceo </option>
                        <option value='LA474'>LA474 Red compacta estructura en retención, 3 ctos 11,4 kV </option>
                        <option value='LA475'>LA475 Red compacta estructura en retención, 4 ctos. </option>
                        <option value='LA476'>LA476 Red compacta 11,4 kV retención horizontal</option>
                        <option value='LA477'>LA477 Red compacta 11.4 kV tangencial con retención inferior </option>
                        <option value='LA414'>Retenida pie de amigo</option>
                        <option value='LA509'>LA509 Linea 13.2 o 11.4 kV montaje de reconectador con seccionadores monopolares para entrada ¿ salida y by-pass (NOJA, WHIPP y BOURNE, JOSLYN)</option>
                        <option value='LA481'>LA481 Red compacta 34.5 Kv. Retención doble triangular </option>
                        <option value='LA480'>LA480 Red compacta 34.5 kV. Final del circuito triangular </option>
                        <option value='CTR506'>CTR506 Centro de distribución rural. Montaje de transformador mayor o igual a 225 kVA </option>
                        <option value='CTU510'>CTU510 - Centro de distribución urbano, en estructura tipo H de transformador trifásico de 225 kVA con final de cto primario y red trenzada de B.T.</option>
                        <option value='CTU510-1'>CTU510-1 - CENTRO DE DISTRIBUCIÓN URBANO MONTAJE DE ESTRUCTURA TIPO H DE TRANSFORMADOR DE  225 KVA TRIF CTO PRIMARIO TANGENCIAL Y RED TRENZADA DE B.T.</option>
                        <option value='LA118-1'>LA118 - CIRCUITO URBANO 34,5  kV - RETENCIÓN CON DERIVACIÓN LARGA EN CABLE TRIPLEX LONGITUD MAYOR DE 100 m - CRUCETA METALICA</option>
                        <option value='LA119-1'>LA119 - CIRCUITO URBANO 34,5  kV - ENTRADA Y SALIDA SUBTERRÁNEA PARA UNA SUBESTACIÓN DE INSTALACIÒN INTERIOR - CRUCETA METALICA</option>
                        <option value='LA120-1'>LA120 - CIRCUITO URBANO 34,5  kV - CRUCE SUBTERRÁNEO DE VÌAS - CRUCETA METALICA</option>
                        <option value='LA121-1'>LA121 - CIRCUITO URBANO 34,5  kV - SALIDA DE SUBESTACIÓN O SUBTERRANIZACIÓN DEL CIRCUITO PRINCIPAL - CRUCETA METALICA</option>
                        <option value='LA152-1'>LA152 - CIRCUITO URBANO 34,5 kV - CON CIRCUITO PRIMARIO SENCILLO PARA ÁNGULOS  HASTA 10 º - CRUCETA METALICA</option>
                        <option value='LA153-1'>LA153 - CIRCUITO URBANO 34,5 kV - CON CIRCUITO DE 11,4  kV EN ÁNGULO DE 21 º A 30 º - CRUCETA METALICA</option>
                        <option value='LA157-1'>LA157 - CIRCUITO URBANO 34,5 kV - CON CIRCUITO PRIMARIO 11,4  kV EN CAMBIO DE ÁNGULO A 90 º - CRUCETA METALICA</option>
                        <option value='LA158-1'>LA158 - CIRCUITO URBANO 34,5 kV - EN BANDERA CON CIRCUITO PRIMARIO EN BANDERA - CRUCETA METALICA</option>
                        <option value='LA159-1'>LA159 - CIRCUITO URBANO 34,5 kV - EN BANDERA CON CIRCUITO DE 11,4 ó 13,2  kV EN BANDERA PARA ÁNGULOS ENTRE  6 º Y 20 º - CRUCETA METALICA</option>
                        <option value='LA213-1'>LA213 - CRUCETA METALICA RETENCIÓN DOBLE SIMÉTRICA DE CIRCUITO PRIMARIO SENCILLO</option>
                        <option value='LA218-1'>LA218 - CRUCETA METALICA CIRCUITO PRIMARIO SENCILLO - TERMINAL CON DERIVACIÓN LARGA DE CABLE TRIPLEX  (MAYOR DE 100 m )</option>
                        <option value='LA219-1'>LA219 - CRUCETA METALICA CIRCUITO PRIMARIO SENCILLO  - ENTRADA Y SALIDA SUBTERRÁNEA PARA UNA SUBESTACIÓN</option>
                        <option value='LA220-1'>LA220 - CRUCETA METALICA CIRCUITO PRIMARIO SENCILLO - CRUCE SUBTERRÁNEO DE VÍAS</option>
                        <option value='LA221-1'>LA221 - CRUCETA METALICA CIRCUITO PRIMARIO SENCILLO - SALIDA DE SUBESTACIÓN O SUBTERRANIZACIÓN DEL CIRCUITO PRINCIPAL</option>
                        <option value='LA222-1'>LA222 - CRUCETA METALICA RETENCIÓN DOBLE CIRCUITO PRIMARIO SENCILLO CONSTRUCCIÓN TIPO BANDERA</option>
                        <option value='LA223-1'>LA223 - CRUCETA METALICA MONTAJE DE SECCIONADORES MONOPOLARES DE 400 A  - 15 kV</option>
                        <option value='LA224-1'>LA224 - CRUCETA METALICA SECCIONAMIENTO BAJO CARGA EN CIRCUITO PRIMARIO SENCILLO 11,4  kV</option>
                        <option value='LA227-1'>LA227 - CRUCETA METALICA MONTAJE DE CONDENSADORES EN LA RED DE 11,4 kV</option>
                        <option value='LA228-1'>LA228 - CRUCETA METALICA CIRCUITO PRIMARIO SENCILLO - CONSTRUCCIÓN TANGENCIAL CON DERIVACIÓN SUBTERRÁNEA</option>
                        <option value='LA229-1'>LA229 - CRUCETA METALICA CIRCUITO PRIMARIO SENCILLO - CONSTRUCCIÓN TIPO BANDERA TRIANGULAR EN EXTREMO DE CRUCETA</option>
                        <option value='LA230-1'>LA230 - CIRCUITO PRIMARIO SENCILLO - CONSTRUCCIÓN TIPO BANDERA EN ÁNGULO CON CRUCETA METALICA DE 2,5 m</option>
                        <option value='LA231-1'>LA231 - CRUCETA METALICA CIRCUITO PRIMARIO SENCILLO - CONSTRUCCIÓN EN BANDERA ¿ DOBLE CRUCETA</option>
                        <option value='LA315'>LA315 Red abierta existente circuito secundario y alumbrado publico de avenidas tipo V-4</option>
                        <option value='LA406'>LA406 Conexión a tierra del neutro de la red trenzada de B.T. instalación exterior al poste</option>
                        <option value='LA417_BT'>LA417_BT - Templete cuerda de guitarra (alternativas)</option>
                        <option value='LA419_13.2'>LA419_13.2 - Retenida terminal o en ángulo poste a varilla de anclaje (alternativas)</option>
                        <option value='LA419_34.5'>LA419_34.5 - Retenida terminal o en ángulo poste a varilla de anclaje (alternativas)</option>
                        <option value='LA419_BT'>LA419_BT - Retenida terminal o en ángulo poste a varilla de anclaje (alternativas)</option>
                        <option value='LA420_13.2'>LA420_13.2 - Retenida terminal bandera poste a poste</option>
                        <option value='LAR102-1'>LAR102 - CRUCETA METALICA LÍNEA RURAL 34,5 kV -  ESTRUCTURA TRIÁNGULAR </option>
                        <option value='LAR105-1'>LAR105 - CRUCETA METALICA LÍNEA RURAL 34,5 kV -  ESTRUCTURA TRIÁNGULAR EN ÁNGULO </option>
                        <option value='LAR111-1'>LAR111 - CRUCETA METALICA LÍNEA RURAL 34,5 kV -  ESTRUCTURA TRIÁNGULAR TERMINAL </option>
                        <option value='LAR113-1'>LAR113 - CRUCETA METALICA LÍNEA RURAL 34,5 kV -  ESTRUCTURA TRIANGULAR RETENCIÓN DOBLE </option>
                        <option value='LAR121-1'>LAR121 - CRUCETA METALICA LÍNEA RURAL 34,5 kV -  ESTRUCTURA EN H TERMINAL CON DISPOSICIÓN HORIZONTAL </option>
                        <option value='LAR122-1'>LAR122 - CRUCETA METALICA LÍNEA RURAL 34,5 kV -  ESTRUCTURA HORIZONTAL EN H </option>
                        <option value='LAR125-1'>LAR125 - CRUCETA METALICA LÍNEA RURAL 34,5 kV -  ESTRUCTURA EN H DISPOSICIÓN HORIZONTAL PARA ÁNGULOS</option>
                        <option value='LAR127-1'>LAR127 - CRUCETA METALICA LÍNEA RURAL 34,5 kV -  ESTRUCTURA EN H SUSPENSIÓN TRIANGULAR </option>
                        <option value='LAR132-1'>LAR132 - CRUCETA METALICA LÍNEA RURAL 34,5 kV -  ESTRUCTURA EN H DISPOSICIÓN TRIANGULAR </option>
                        <option value='LAR133-1'>LAR133 - CRUCETA METALICA LÍNEA RURAL 34,5 kV -  ESTRUCTURA DE RETENCIÓN TRIANGULAR EN H</option>
                        <option value='LAR135-1'>LAR135 - CRUCETA METALICA LÍNEA RURAL 34,5 kV -  ESTRUCTURA TRIANGULAR EN H PARA ÁNGULOS </option>
                        <option value='LAR142-1'>LAR142 - CRUCETA METALICA LÍNEA RURAL 34,5 kV -  ESTRUCTURA EN DOBLE CIRCUITO</option>
                        <option value='LAR145-1'>LAR145 - CRUCETA METALICA LÍNEA RURAL 34,5 kV -  ESTRUCTURA DOBLE CIRCUITO EN ÁNGULO</option>
                        <option value='LAR190-1'>LAR190 - CRUCETA METALICA LÍNEA RURAL 34,5 kV -  CIRCUITOS PRINCIPAL Y SUPLENCIA CON DERIVACIÓN SUBTERRÁNEA A SUBESTACIÓN</option>
                        <option value='LAR193-1'>LAR193 - CRUCETA METALICA LÍNEA RURAL 34,5 kV -  ESTRUCTURA DE RETENCIÓN EN DOBLE CIRCUITO </option>
                        <option value='LAR195_2/0'>LAR195 Instalación de amortiguadores tipo stock bridge conductor ASCR 2/0</option>
                        <option value='LAR195_266.8'>LAR195 Instalación de amortiguadores tipo stock bridge conductor ASCR 266.8</option>
                        <option value='LAR195_4/0'>LAR195 Instalación de amortiguadores tipo stock bridge conductor ASCR 4/0</option>
                        <option value='LAR202-1'>LAR202 - CRUCETA METALICA LÍNEA RURAL 13,2 - 11,4 kV -  ESTRUCTURA TRIANGULAR</option>
                        <option value='LAR205-1'>LAR205 - CRUCETA METALICA LÍNEA RURAL 13,2 -11,4 kV -  ESTRUCTURA TRIANGULAR EN ÁNGULO </option>
                        <option value='LAR211-1'>LAR211 - CRUCETA METALICA LÍNEA RURAL 13,2-11,4 kV -  ESTRUCTURA TRIÁNGULAR TERMINAL </option>
                        <option value='LAR213-1'>LAR213 - CRUCETA METALICA  LÍNEA RURAL 13,2-11,4 kV -  ESTRUCTURA TRIÁNGULAR DE RETENCIÓN </option>
                        <option value='LAR220-1'>LAR220 - CRUCETA METALICA LÍNEA RURAL 13,2 -11,4 kV -  ESTRUCTURA DE SUSPENSIÓN HORIZONTAL EN H </option>
                        <option value='LAR221-1'>LAR221 - CRUCETA METALICA LÍNEA RURAL 13,2-11,4 kV - ESTRUCTURA TERMINAL HORIZONTAL EN H </option>
                        <option value='LAR222-1'>LAR222 - CRUCETA METALICA LÍNEA RURAL 13,2 - 11,4 kV -  ESTRUCTURA EN H DISPOSICIÓN HORIZONTAL </option>
                        <option value='LAR223-1'>LAR223 - CRUCETA METALICA LÍNEA RURAL 13,2- 11,4 kV -  ESTRUCTURA DE RETENCIÓN HORIZONTAL EN H  </option>
                        <option value='LAR225-1'>LAR225 - CRUCETA METALICA LÍNEA RURAL 13,2 -11,4 kV -  ESTRUCTURA EN H PARA ÁNGULOS</option>
                        <option value='LAR227-1'>LAR227 - CRUCETA METALICA LÍNEA RURAL 13,2 -11,4 kV -  ESTRUCTURA EN H SUSPENSIÓN TRIÁNGULAR </option>
                        <option value='LAR232-1'>LAR232 - CRUCETA METALICA LÍNEA RURAL 13,2 -11,4 kV -  ESTRUCTURA EN H DISPOSICIÓN TRIÁNGULAR </option>
                        <option value='LAR233-1'>LAR233 - CRUCETA METALICA LÍNEA RURAL 13,2 - 11,4 kV -  ESTRUCTURA DE RETENCIÓN TRIÁNGULAR EN H </option>
                        <option value='LAR235-1'>LAR235 - CRUCETA METALICA LÍNEA RURAL 13,2 -11,4 kV -  ESTRUCTURA TRIÁNGULAR EN H PARA ÁNGULOS</option>
                        <option value='LAR237-1'>LAR237 - CRUCETA METALICA LÍNEA RURAL 13,2 -11,4 kV -  ESTRUCTURA DE SUSPENSIÓN HORIZONTAL CON CRUCETA DE SEIS METROS  </option>
                        <option value='LAR243-1'>LAR243 - CRUCETA METALICA LÍNEA RURAL 13,2 -11,4 kV -  ESTRUCTURA DE RETENCIÓN HORIZONTAL EN TRES POSTES </option>
                        <option value='LAR250-1'>LAR250 - CRUCETA METALICA LÍNEA RURAL 13,2 - 11,4 kV -  ESTRUCTURA DE RETENCIÓN EN DOBLE CIRCUITO </option>
                        <option value='LAR251-1'>LAR251 - CRUCETA METALICA LÍNEA RURAL 13,2 -11,4 kV -  ESTRUCTURA DOBLE CIRCUITO EN ÁNGULO</option>
                        <option value='LAR252-1'>LAR252 - CRUCETA METALICA LÍNEA RURAL 13,2 -11,4 kV -  DOBLE CIRCUITO</option>
                        <option value='LAR273-1'>LAR273 - CRUCETA METALICA LÍNEA RURAL 13,2 -11,4 kV -  ESTRUCTURA EN H DE RETENCIÓN HORIZONTAL CON CRUCETAS DE SEIS METROS</option>
                        <option value='LAR274-1'>LAR274 - CRUCETA METALICA LÍNEA RURAL 13,2 -11,4 kV -  ESTRUCTURA DE RETENCIÓN HORIZONTAL EN TRES POSTES CON CRUCETA DE SEIS METROS </option>
                        <option value='LAR275-1'>LAR275 - CRUCETA METALICA LÍNEA RURAL 13,2 -11,4 kV -  DERIVACIÓN  TRIFÁSICA EN UN POSTE </option>
                        <option value='LAR276-1'>LAR276 - CRUCETA METALICA LÍNEA RURAL 13,2 -11,4 kV -  DERIVACIÓN TRIFÁSICA POSTE A POSTE  </option>
                        <option value='LAR277-1'>LAR277 - CRUCETA METALICA LÍNEA RURAL 13,2 -11,4 kV -  DERIVACIÓN TRIFÁSICA EN H  </option>
                        <option value='LAR278-1'>LAR278 - CRUCETA METALICA LÍNEA RURAL 13,2 - 11,4 kV -  DERIVACIÓN TRIFÁSICA HORIZONTAL DE  H A H </option>
                        <option value='LAR279-1'>LAR279 - CRUCETA METALICA LÍNEA RURAL 13,2 - 11,4 kV -  DERIVACIÓN TRIFÁSICA TRIANGULAR DE H A H</option>
                        <option value='LAR280-1'>LAR280 - CRUCETA METALICA LÍNEA RURAL 13,2 - 11,4 kV -  DERIVACIÓN EN UN POSTE DE CIRCUITO TRIFILAR A BIFILAR </option>
                        <option value='LAR282-1'>LAR282 - CRUCETA METALICA LÍNEA RURAL 13,2 - 11,4 kV -  MONTAJE DE SECCIONADORES MONOPOLARES DE 400 A </option>
                        <option value='LAR291-1'>LAR291 - CRUCETA METALICA LÍNEA RURAL 13,2-11,4-7,6-6,6 kV -  ESTRUCTRA BIFILAR TERMINAL</option>
                        <option value='LAR292-1'>LAR292 - CRUCETA METALICA LÍNEA RURAL 13,2-11,4-7,6-6,6 kV -  ESTRUCTRA BIFILAR EN ALINEAMIENTO</option>
                        <option value='LAR294-1'>LAR294 - CRUCETA METALICA LÍNEA RURAL 13,2 -11,4-7,6- 6,6 kV -  RETENCIÓN DOBLE EN H PARA CIRCUITOS BIFILARES</option>
                        <option value='LAR295-1'>LAR295 - CRUCETA METALICA LÍNEA RURAL 13,2-11,4-7,6- 6,6 kV -  ESTRUCTURA BIFILAR EN ÁNGULO </option>
                        <option value='LAR296-1'>LAR296 - CRUCETA METALICA LÍNEA RURAL 13,2 -11,4-7,6- 6,6 kV -  ESTRUCTURA TERMINAL BIFILAR  EN H </option>
                        <option value='LAR297-1'>LAR297 - CRUCETA METALICA LÍNEA RURAL 13,2 -11,4-7,6-6,6 kV -  DERIVACIÓN BIFILAR EN H </option>
                        <option value='LAR298-1'>LAR298 - CRUCETA METALICA LÍNEA RURAL 13,2 -11,4 -7,6-6,6 kV -  ESTRUCTURA DE ALINEAMIENTO BIFILAR EN H </option>
                        <option value='LAR299-1'>LAR299 - CRUCETA METALICA LÍNEA RURAL 13,2 -11,4 -7,6-6,6 kV -  ESTRUCTURA BIFILAR EN H PARA ÁNGULOS</option>
                        <option value='LAR412_13.2'>LAR412 RETENIDA POSTE A VARILLA DE ANCLAJE PARA 13.2 KV</option>
                        <option value='LAR412_34.5'>LAR412 RETENIDA POSTE A VARILLA DE ANCLAJE PARA 34.5 KV</option>
                        <option value='LAR412_BT'>LAR412 RETENIDA POSTE A VARILLA DE ANCLAJE PARA BAJA TENSION</option>
                        <option value='LAR413_BT'>LAR413 Retenida poste a poste sin varilla de anclaje terminal o en ángulo PARA BT</option>
                        <option value='LAR419_13.2'>LAR419 Retenida terminal o en ángulo poste a varilla de anclaje (alternativas) para 13.2 kV</option>
                        <option value='LAR419_BT'>LAR419 Retenida terminal o en ángulo poste a varilla de anclaje (alternativas) para BT.</option>
                        <option value='CTS503'>CTS503 Celda duplex para M.T. Vista frontal (Nivel 2) </option>
                        <option value='LA411_15'>LA411_PARA 13.2 - RETENIDA TERMINAL O EN ÁNGULO POSTE A VARILLA DE ANCLAJE</option>
                        <option value='LA411_35'>LA411_PARA 34.5 - RETENIDA TERMINAL O EN ÁNGULO POSTE A VARILLA DE ANCLAJE</option>
                        <option value='LA412_15'>LA412 PARA 13,2 - RETENIDA TERMINAL O EN ÁNGULO POSTE A POSTE SIN VARILLA DE ANCLAJE</option>
                        <option value='LA412_35'>LA412 PARA 34.5 - RETENIDA TERMINAL O EN ÁNGULO POSTE A POSTE SIN VARILLA DE ANCLAJE</option>
                        <option value='LA413_15'>LA413 PARA 13.2 - Retenida terminal poste a poste con varilla de anclaje</option>
                        <option value='LA413_35'>LA413 PARA 34.5 - Retenida terminal poste a poste con varilla de anclaje</option>
                        <option value='LA417_15'>LA417 PARA 13.2 - Templete cuerda de guitarra</option>
                        <option value='LA417_35'>LA417 - PARA 34,5 TEMPLETE CUERDA DE GUITARRA</option>
                        <option value='LA418_15'>LA418 PARA 13.2 - Templete poste a poste</option>
                        <option value='LA418_35'>LA418 PARA 34.5 - Templete poste a poste</option>
                        <option value='LA419_15'>LA419 PARA 13.2 - Retenida terminal o en ángulo poste a varilla de anclaje (alternativas)</option>
                        <option value='LA419_35'>LA419 PARA 34.5 - Retenida terminal o en ángulo poste a varilla de anclaje (alternativas)</option>
                        <option value='LA420_15'>LA420 PARA 13.2 - Retenida terminal bandera poste a poste</option>
                        <option value='LA420_35'>LA420 PARA 34.5 - Retenida terminal bandera poste a poste</option>
                        <option value='LAR412_15'>LAR412 RETENIDA POSTE A VARILLA DE ANCLAJE PARA 13.2 KV</option>
                        <option value='LAR412_15X10'>DIEZ LAR412 RETENIDA POSTE A VARILLA DE ANCLAJE PARA 13.2 KV</option>
                        <option value='LAR412_15X2'>DOS LAR412 RETENIDA POSTE A VARILLA DE ANCLAJE PARA 13.2 KV</option>
                        <option value='LAR412_15X3'>TRES LAR412 RETENIDA POSTE A VARILLA DE ANCLAJE PARA 13.2 KV</option>
                        <option value='LAR412_15X4'>CUATRO LAR412 RETENIDA POSTE A VARILLA DE ANCLAJE PARA 13.2 KV</option>
                        <option value='LAR412_15X5'>CINCO LAR412 RETENIDA POSTE A VARILLA DE ANCLAJE PARA 13.2 KV</option>
                        <option value='LAR412_15X6'>SEIS LAR412 RETENIDA POSTE A VARILLA DE ANCLAJE PARA 13.2 KV</option>
                        <option value='LAR412_15X7'>SIETE LAR412 RETENIDA POSTE A VARILLA DE ANCLAJE PARA 13.2 KV</option>
                        <option value='LAR412_15X8'>OCHO LAR412 RETENIDA POSTE A VARILLA DE ANCLAJE PARA 13.2 KV</option>
                        <option value='LAR412_15X9'>NUEVE LAR412 RETENIDA POSTE A VARILLA DE ANCLAJE PARA 13.2 KV</option>
                        <option value='LAR412_35'>LAR412 RETENIDA POSTE A VARILLA DE ANCLAJE PARA 34.5 KV</option>
                        <option value='LAR412_35X10'>DIEZ LAR412 RETENIDA POSTE A VARILLA DE ANCLAJE PARA 34.5 KV</option>
                        <option value='LAR412_35X2'>DOS LAR412 RETENIDA POSTE A VARILLA DE ANCLAJE PARA 34.5 KV</option>
                        <option value='LAR412_35X3'>TRES LAR412 RETENIDA POSTE A VARILLA DE ANCLAJE PARA 34.5 KV</option>
                        <option value='LAR412_35X4'>CUATRO LAR412 RETENIDA POSTE A VARILLA DE ANCLAJE PARA 34.5 KV</option>
                        <option value='LAR412_35X5'>CINCO LAR412 RETENIDA POSTE A VARILLA DE ANCLAJE PARA 34.5 KV</option>
                        <option value='LAR412_35X6'>SEIS LAR412 RETENIDA POSTE A VARILLA DE ANCLAJE PARA 34.5 KV</option>
                        <option value='LAR412_35X7'>SIETE LAR412 RETENIDA POSTE A VARILLA DE ANCLAJE PARA 34.5 KV</option>
                        <option value='LAR412_35X8'>OCHO LAR412 RETENIDA POSTE A VARILLA DE ANCLAJE PARA 34.5 KV</option>
                        <option value='LAR412_35X9'>NUEVE LAR412 RETENIDA POSTE A VARILLA DE ANCLAJE PARA 34.5 KV</option>
                        <option value='LAR412_BTX2'>DOS LAR412 RETENIDA POSTE A VARILLA DE ANCLAJE PARA BAJA TENSION</option>
                        <option value='LAR412_BTX3'>TRES LAR412 RETENIDA POSTE A VARILLA DE ANCLAJE PARA BAJA TENSION</option>
                        <option value='LAR413_15'>LAR413 Retenida poste a poste sin varilla de anclaje terminal o en ángulo PARA 13.2 kV</option>
                        <option value='LAR413_35'>LAR413 Retenida poste a poste sin varilla de anclaje terminal o en ángulo </option>
                        <option value='LAR419_15'>LAR419 Retenida terminal o en ángulo poste a varilla de anclaje (alternativas) para 13.2 kV</option>
                        <option value='LAR419_35'>LAR419 Retenida terminal o en ángulo poste a varilla de anclaje (alternativas) para 34.5 kV</option>
                        <option value='LA505'>Detector de falla para redes aereas de media tension</option>
                        <option value='CTS516-1'>CTS516-1 Centros de transformación capsulados. Transformador en aceite. Acceso desde el interior del edificio, entrada frontal (Nivel 2)</option>
                        <option value='AE343'>AE343 Medida en 11,4- 13,2 -34,5 kV de acometida aérea</option>
                        <option value='CTS531'>CTS531 Centro de transformación de pedestal. Instalación exterior con cerramiento </option>
                        <option value='LA503'>LA503 Línea 13,2 ¿11,4 kV montaje de reconectador con transformador de potencial</option>
                        <option value='LAR293-1'>LAR293 - CRUCETA METALICA LÍNEA RURAL 13,2 -11,4 -7,6- 6,6 kV -  RETENCIÓN DOBLE PARA CIRCUITOS BIFILARES </option>
                        <option value='CAJA ACOM'>INSTALAR CAJA DE DERIVICION DE ACOMETIDAS</option>
                        <option value='LA462_15'>LA462_13.2 - Circuito con red compacta de MT y 34,5 kV instalación de separadores en vano</option>
                        <option value='LA462_35'>LA462_34.5 - Circuito con red compacta de MT y 34,5 kV instalación de separadores en vano</option>
                        <option value='LA464_35'>LA464 Red compacta 34.5 kV. Final de circuito</option>
                        <option value='LA476_35'>LA476 Red compacta 34.5 kV retención horizontal</option>
                        <option value='LAR412_BTX4'>CUATRO LAR412 RETENIDA POSTE A VARILLA DE ANCLAJE PARA BAJA TENSION</option>
                        <option value='MAN12750'>POSTE MADERA INMUNIZADA 12 METROS</option>
                        <option value='MAH12750'>POSTE MADERA INMUNIZADA 12 METROS ESTRUCTURA EN H</option>
                        <option value='MAT12750'>POSTE MADERA INMUNIZADA 12 METROS ESTRUCTURA TRES POSTES</option>
                        <option value='MAC12750'>POSTE MADERA INMUNIZADA 12 METROS ESTRUCTURA CUATRO POSTES</option>
                        <option value='LA509_35'>LA509 Linea 34.5 kV montaje de reconectador con seccionadores monopolares para entrada ¿ salida y by-pass</option>
                        <option value='LA265'>ESTRUCTURA RETENCION TRANSICION TRIFILAR A BIFILAR</option>
                        <option value='LA511'>LA511 Línea 34.5 kV montaje de reconectador con seccionadores monopolares para entrada-salida y by-pass</option>
                        <option value='LA246'>LA246 Cto primario sencillo. Construcción tang cruceta madera. Instalacion equipo de medida compacto / combinado </option>
                        <option value='LA246-1'>LA246-1 Cto primario sencillo. Construcción tang cruceta metalica. Instalacion equipo de medida compacto / combinado </option>
                       </select>
                  </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Punto físico(PF)</label>
                    <div class="controls">
                        <input type="text" placeholder="Corresponde al consecutivo de la anterior marcación (Pintura amarilla)" class="input-large" id='txtComercialApoyos_Fase' required/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Placa</label>
                    <div class="controls">
                        <input type="text" placeholder="Consecutivo del rótulo Instalado" class="input-large" id='txtComercialApoyos_Fase' required/>
                    </div>
                </div>
                <div class="control-group">
                  <label class="control-label">Localización:</label>
                  <div class="controls">
                     <select class="span6 chosen" data-placeholder="Seleccione la Ubicación" tabindex="1" id="txtAlumbrado_Ubicacion">
                      <option value="URBANO">URBANO</option>
                      <option value="RURAL">RURAL</option>
                     </select>
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label">Region:</label>
                  <div class="controls">
                     <select class="span6 chosen" data-placeholder="Seleccione la Ubicación" tabindex="1" id="txtAlumbrado_Ubicacion2">
                      <option value='1'>GIRARDOT</option>
                      <option value='6'>GACHETA</option>
                      <option value='7'>VILLETA</option>
                      <option value='8'>PUERTO SALGAR</option>
                      <option value='3'>FACATATIVA</option>
                      <option value='4'>FUSAGASUGA</option>
                      <option value='2'>LA MESA</option>
                      <option value='5'>CAQUEZA</option>
                     </select>
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label">Municipio:</label>
                  <div class="controls">
                     <select class="span6 chosen" data-placeholder="Seleccione la Empresa" tabindex="1" id="txtAlumbrado_Municipio">
                        <option>ALBAN</option>
                        <option>CHAGUANI</option>
                        <option>GUADUAS</option>
                        <option>LA PEÑA</option>
                        <option>LA VEGA</option>
                        <option>NIMAIMA</option>
                        <option>NOCAIMA</option>
                        <option>QUEBRADANEGRA</option>
                        <option>SAN FRANCISCO</option>
                        <option>SUPATA</option>
                        <option>ÚTICA</option>
                        <option>VERGARA</option>
                        <option>VIANÍ</option>
                        <option>BOGOTA, D.C.</option>
                        <option>CAPARRAPI</option>
                        <option>FACATATIVA</option>
                        <option>LA PEÑA</option>
                        <option>PUERTO SALGAR</option>
                        <option>ÚTICA</option>
                        <option>YACOPÍ</option>
                        <option>ALBAN</option>
                        <option>BITUIMA</option>
                        <option>CHAGUANI</option>
                        <option>FACATATIVA</option>
                        <option>GUADUAS</option>
                        <option>GUAYABAL DE SIQUIMA</option>
                        <option>LA VEGA</option>
                        <option>NIMAIMA</option>
                        <option>NOCAIMA</option>
                        <option>QUEBRADANEGRA</option>
                        <option>SAN FRANCISCO</option>
                        <option>SAN JUAN DE RÍO SECO</option>
                        <option>SASAIMA</option>
                        <option>SUPATA</option>
                        <option>VERGARA</option>
                        <option>VIANÍ</option>
                        <option>VILLETA</option>
                        <option>ZIPACÓN</option>
                        <option>AGUA DE DIOS</option>
                        <option>BELTRAN</option>
                        <option value="Girardot">GIRARDOT</option>
                        <option>GUATAQUÍ</option>
                        <option>JERUSALÉN</option>
                        <option>NARIÑO</option>
                        <option>NILO</option>
                        <option>PULÍ</option>
                        <option>APULO</option>
                        <option>RICAURTE</option>
                        <option>TOCAIMA</option>
                        <option>COELLO</option>
                        <option>FLANDES</option>
                        <option>PIEDRAS</option>
                        <option>ANAPOIMA</option>
                        <option>ANOLAIMA</option>
                        <option>CACHIPAY</option>
                        <option>LA MESA</option>
                        <option>QUIPILE</option>
                        <option>TENA</option>
                        <option>ZIPACÓN</option>
                        <option>ARBELAEZ</option>
                        <option>FUSAGASUGA</option>
                        <option>GRANADA</option>
                        <option>PASCA</option>
                        <option>SAN BERNARDO</option>
                        <option>SILVANIA</option>
                        <option>ICONONZO</option>
                        <option>CAQUEZA</option>
                        <option>CHIPAQUE</option>
                        <option>CHOACHI</option>
                        <option>FOMEQUE</option>
                        <option>FOSCA</option>
                        <option>GUAYABETAL</option>
                        <option>GUTIÉRREZ</option>
                        <option>MEDINA</option>
                        <option>PARATEBUENO</option>
                        <option>QUETAME</option>
                        <option>UBALA</option>
                        <option>UBAQUE</option>
                        <option>UNE</option>
                        <option>CABUYARO</option>
                        <option>EL CALVARIO</option>
                        <option>SAN JUANITO</option>
                        <option>GACHALA</option>
                        <option>GACHETA</option>
                        <option>GAMA</option>
                        <option>GUASCA</option>
                        <option>GUATAVITA</option>
                        <option>JUNÍN</option>
                        <option>UBALA</option>
                        <option>MACHETA</option>
                        <option>MANTA</option>
                        <option>TIBIRITA</option>
                        <option>PACHO</option>
                     </select>
                  </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Tótulo A.P</label>
                    <div class="controls">
                        <input type="text" placeholder="Rótulo con fondo azul" class="input-xxlarge" id='txtComercialApoyos_Barrio' required/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Dirección</label>
                    <div class="controls">
                        <input type="text" placeholder="Dirección" class="input-xxlarge" id='txtComercialApoyos_Direccion' value="" required/>
                    </div>
                </div>
                <!--
                <div class="control-group">
                  <label class="control-label">Material:</label>
                  <div class="controls">
                     <select class="span6 chosen" data-placeholder="Carga de Rotura" tabindex="1" id="txtComercialApoyos_TipoOt">
                      <option>MADERA</option>
                      <option>METALICO</option>
                      <option>FIBRA DE VIDRIO</option>
                      <option>TORRECILLAS</option>
                      <option>MAMPOSTERÍA</option>
                      <option>OTRO</option>
                     </select>
                  </div>
                </div>-->
                <div class="control-group">
                    <label class="control-label">Tipo:</label>
                    <div class="controls">
                        <select class="span6 chosen" data-placeholder="Carga de Rotura" tabindex="1" id="txtComercialApoyos_Tipo">
                        <option>Poste</option>
                        <option value="750">Caja de Inspección</option>
                        <option>Cruce Aereo</option>
                     </select>
                    </div>
                </div>
                <!--
                <div class="control-group">
                    <label class="control-label">Altura:</label>
                    <div class="controls">
                        <input type="number" placeholder="" class="input-mini" id='txtComercialApoyos_TipoOt2' required/>
                    </div>
                </div>
                <div class="control-group">
                  <label class="control-label">Carga de Rotura:</label>
                  <div class="controls">
                     <select class="span6 chosen" data-placeholder="Carga de Rotura" tabindex="1" id="txtComercialApoyos_Municipio2">
                        <option>510</option>
                        <option value="750">750</option>
                        <option>1050</option>
                        <option>1350</option>
                     </select>
                  </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Caracteristica:</label>
                    <div class="controls">
                        <input type="text" placeholder="" class="input-mini" id='txtComercialApoyos_Caracteristica' required/>
                    </div>
                </div>
                
                <div class="control-group">
                  <label class="control-label">Ubicación:</label>
                  <div class="controls">
                     <select class="span6 chosen" data-placeholder="Seleccione la Ubicación" tabindex="1" id="txtComercialApoyos_Ubicacion">
                      <option>URBANO</option>
                      <option value="Rural">RURAL</option>
                     </select>
                  </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Placa:</label>
                    <div class="controls">
                        <input type="text" placeholder="" class="input-xlarge" id='txtComercialApoyos_Placa' required/>
                    </div>
                </div>
                <div class="control-group">
                  <label class="control-label">Estructura:</label>
                  <div class="controls">
                     <select class="span6 chosen" data-placeholder="Seleccione la Estructura" tabindex="1" id="txtComercialApoyos_Estructura">
                      <option>URBANO</option>
                      <option value="Rural">RURAL</option>
                     </select>
                  </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Rótulo:</label>
                    <div class="controls">
                        <input type="text" placeholder="Ingrese el registro del rotulo con fondo azul que se encuentra en el apoyo cuyo registro inica por AP" class="input-xxlarge" id='txtComercialApoyos_Rotulo' required/>
                    </div>
                </div>
              -->
                <div class="control-group">
                    <label class="control-label">Templetes:</label>
                    <div class="controls">
                        <input type="number" placeholder="Cantidad de templetes" class="input-large" id='txtComercialApoyos_Templetes' required/>
                    </div>
                </div>

                <div class="control-group">
                                        <label class="control-label">Puesta a Tierra</label>
                                        <div class="controls">
                                            <div class="text-toggle-button">
                                                <input type="checkbox" id='txtComercialApoyos_PuestaTierra' class="toggle" />
                                            </div>
                                        </div>
                                    </div>

                
                
                <div class="control-group">
                    <label class="control-label">Adjuntar archivos</label>
                    <div class="controls">
                        <iframe src="subir" scrolling="no" width="450" height="320"></iframe>
                    </div>
                </div>

                  <div class="form-actions">
                    <h4 class="noMostrar">OT 1<h4>
                    <button  class="btn btn-warning btnVerContrato_Archivos" idContrato="eccbc87e4b5ce2fe28308fd9f2a7baf3"><i class="icon-folder-open icon-white"></i> Archivos</button>
                      <button type="submit" class="btn btn-success"><i class="icon-ok"></i> Guardar</button>
                      <button type="reset" class="btn btn-danger"><i class="icon-remove"></i> Nuevo</button>
                  </div>
              </form>
            </div>

            <!-- END PAGE CONTENT-->         
         
      <!-- END PAGE -->  
   <!-- END CONTAINER -->
   <!-- BEGIN JAVASCRIPTS -->    
   <!-- Load javascripts at bottom, this will reduce page load time -->
   <!-- ie8 fixes -->
   <!--[if lt IE 9]>
   <script src="js/excanvas.js"></script>
   <script src="js/respond.js"></script>
   <![endif]-->
   
   
 
   
   <script>
      jQuery(document).ready(function() 
      {       
         // initiate layout and plugins
         ComercialApoyos();         
      });
   </script>
   <!-- END JAVASCRIPTS -->   
</body>