<!-- BEGIN BODY -->
<body class="fixed-top">
   <!-- BEGIN HEADER -->
   <div id="header" class="navbar navbar-inverse navbar-fixed-top">

   </div>
   <!-- END HEADER -->
      <!-- BEGIN PAGE -->  
            <!-- BEGIN PAGE CONTENT-->
            <div class="row-fluid">
              <form action="#" class="form-horizontal" id='frmCrearPrueba'>
                <div class="control-group">
                    <label class="control-label">Nombre</label>
                    <div class="controls">
                        <input type="text" placeholder="Nombre de la Prueba" class="input-large" id='txtPrueba_Nombre' required />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Descripción</label>
                    <div class="controls">
                        <textarea class="input-xxlarge" placeholder='Descripción de la Prueba' rows="3" id='txtPrueba_Descripcion'></textarea>
                    </div>
                </div>
                  <div class="form-actions">
                      <button type="submit" class="btn btn-success"><i class="icon-ok"></i> Guardar</button>
                      <button type="reset" class="btn btn-danger"><i class="icon-remove"></i> Borrar</button>
                  </div>
              </form>
            </div>
            <!-- END PAGE CONTENT-->         
      <!-- END PAGE -->  
    <script>
      jQuery(document).ready(function() {       
         // initiate layout and plugins
         crearPrueba();
      });
   </script>
   <!-- END JAVASCRIPTS -->   
</body>
<!-- END BODY -->