            <!-- BEGIN PAGE CONTENT-->
              <form id="frmCrearVehiculo" class="form-horizontal">
                <div class="control-group">
                    <label class="control-label">Placa:</label>
                    <div class="controls">
                       <div class="input-prepend">
                          <span class="add-on  icon-credit-card"></span><input class="input-xxlarge" type="text" placeholder="Placa" required id="txtCrearVehiculo_Nombre" />
                       </div>
                    </div>
                 </div>
                <div class="control-group">
                    <label class="control-label">Kilometraje</label>
                    <div class="controls">
                       <div class="input-prepend">
                          <span class="add-on  icon-road"></span><input class="input-large" type="number" placeholder="Kilometraje" required id="txtCrearVehiculo_Correo" />
                       </div>
                    </div>
                 </div>
                <div class="control-group">
                    <label class="control-label">Marca:</label>
                    <div class="controls">
                       <div class="input-prepend">
                          <span class="add-on  icon-truck"></span><input class="input-xlarge" type="text" placeholder="Marca" required id="txtCrearVehiculo_Marca" />
                       </div>
                    </div>
                 </div>
                 <div class="control-group">
                    <label class="control-label">Modelo:</label>
                    <div class="controls">
                       <div class="input-prepend">
                          <span class="add-on  icon-calendar"></span><input class="input-xlarge" type="number" placeholder="Modelo" required id="txtCrearVehiculo_Modelo" />
                       </div>
                    </div>
                 </div>
                 <div class="control-group">
                  <label class="control-label">Empresa:</label>
                  <div class="controls">
                     <select class="span6 chosen" data-placeholder="Seleccione la Empresa" tabindex="1" id="txtCrearVehiculo_Empresa"></select>
                  </div>
                </div>
                 <div class="control-group">
                    <label class="control-label">Cargar Foto</label>
                    <div class="controls">
                        <div class="fileupload fileupload-new" data-provides="fileupload">
                            <div class="fileupload-new thumbnail" style="width: 200px; height: 150px;">
                                <img src="img/photo.jpg" alt="" />
                            </div>
                            <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 200px; max-height: 150px; line-height: 20px;"></div>
                            <div>
                       <span class="btn btn-file"><span class="fileupload-new">Cargar imagen</span>
                       <span class="fileupload-exists">Cambiar</span>
                       <input type="file" class="default" /></span>
                                <a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Quitar</a>
                            </div>
                        </div>
                    </div>
                </div>
                  <div class="form-actions">
                      <button type="submit" class="btn btn-success"><i class="icon-ok"></i> Guardar</button>
                      <button type="reset" class="btn btn-danger"><i class="icon-remove"></i> Borrar</button>
                  </div>
              </form>
            <!-- END PAGE CONTENT-->         
      <!-- END PAGE -->  
   <!-- BEGIN JAVASCRIPTS -->    
   <script>
      jQuery(document).ready(function() {       
         // initiate layout and plugins
         crearVehiculo();
      });
   </script>
   <!-- END JAVASCRIPTS -->   
</html>