<!-- BEGIN PAGE CONTENT-->
            <div class="row-fluid">
              <form id="frmCrearDocumental" action="subir/subirDocumental.php?Ruta=Documentos" method="post" enctype="multipart/form-data" class="form-horizontal">
                <div class="control-group">
                    <label class="control-label">Fecha: </label>
                    <div class="controls">
                        <div class="input-append">
                            <input type="text" class="m-wrap medium" id='txtCrearDocumental_Fecha' required>
                            <span class="add-on"><i class="icon-calendar"></i></span>
                        </div>
                    </div>
                </div>
                <div class="control-group">
                  <label class="control-label">Tipo:</label>
                  <div class="controls">
                      <input type="text" class="m-wrap medium" id='txtCrearDocumental_Tipo'>
                     <!--
                     <select class="span6 chosen" data-placeholder="Seleccione un Tipo" tabindex="1" id="txtCrearDocumental_Tipo">
                      <option value="Entrante">Entrante</option>
                      <option value="Saliente">Saliente</option>
                     </select>-->
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label">Consecutivo:</label>
                  <div class="controls">
                     <input type="text" class="m-wrap medium" id='txtCrearDocumental_Consecutivo'>
                  </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Nombre</label>
                    <div class="controls">
                        <input type="text" placeholder="Nombre del Documento" class="input-large" id="txtCrearDocumental_Nombre" required />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Descripción</label>
                    <div class="controls">
                        <textarea class="input-xxlarge" placeholder='Texto a mostrar en la Documental' rows="3" id="txtCrearDocumental_Descripcion" required></textarea>
                    </div>
                </div>
                    <!--
                    <input type="file" name="archivo"><br>
                    <div class="progress">
                        
                    </div>-->
                <div class="control-group">
                    <label class="control-label">Archivo</label>
                    <div class="controls">
                        <div class="fileupload fileupload-new" data-provides="fileupload">
                            <div class="input-append">
                                <div class="uneditable-input">
                                    <i class="icon-file fileupload-exists"></i>
                                    <span class="fileupload-preview"></span>
                                </div>
                       <span class="btn btn-file">
                       <span class="fileupload-new">Cargar Archivo</span>
                       <span class="fileupload-exists">Cambiar</span>
                       <input type="file" name="archivo" class="default" />
                       </span>
                                <a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Quitar</a>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="form-actions">
                    <div class="progress span6">
                      <div class="bar bar-success"></div>
                    </div>
                    <button type="submit" class="btn btn-success"><i class="icon-ok"></i> Guardar</button>
                    <button type="reset" id="btnCrearDocumental_Reset" class="btn btn-danger"><i class="icon-remove"></i> Borrar</button>
                </div>
              </form>
            </div>

            <!-- END PAGE CONTENT-->         
   <!-- BEGIN JAVASCRIPTS -->    
   <script>
      jQuery(document).ready(function() {

        var f = new Date();
        f = f.getFullYear() + "-" + CompletarConCero(f.getMonth() +1, 2) + "-" + CompletarConCero(f.getDate(), 2);
        
        $("#txtCrearDocumental_Fecha").datepicker(
          {
            changeMonth: true,
            changeYear: true
          });

        $("#txtCrearDocumental_Fecha").val(f);

        /*$("#txtCrearDocumental_Tipo").on("change", function()
          {
            if ($(this).val() == "Entrante")
            {
              $("#txtCrearDocumental_Consecutivo").show();
            }
            if ($(this).val() == "Saliente")
            {
              $("#txtCrearDocumental_Consecutivo").hide(); 
            }
          });*/

        $("#btnCrearDocumental_Reset").on("click", frmCrearDocumental_Reset);

        function frmCrearDocumental_Reset()
        {
            var f = new Date();
            f = f.getFullYear() + "-" + CompletarConCero(f.getMonth() +1, 2) + "-" + CompletarConCero(f.getDate(), 2);
            $("#txtCrearDocumental_Fecha").val(f);

            $("#txtCrearDocumental_Consecutivo").show();
        }
        var bar = $('.bar');

        $('#frmCrearDocumental').ajaxForm({
            beforeSend: function() {
                var percentVal = '0%';
                bar.width(percentVal)
            },
            uploadProgress: function(event, position, total, percentComplete) {
                var percentVal = percentComplete + '%';
                bar.width(percentVal)
            },
            success: function() {
                var percentVal = '0%';
                bar.width(percentVal)
            },
          complete: function(xhr) {
            var respuesta = xhr.responseText;
            if (respuesta.substring(0, 3) == "../")
            {
              $.post("php/crearDocumental.php", 
              {
                idLogin : Usuario.id,
                Fecha : $('#txtCrearDocumental_Fecha').val(),
                Tipo : $('#txtCrearDocumental_Tipo').val(),
                Nombre : $('#txtCrearDocumental_Nombre').val(),
                Consecutivo : $('#txtCrearDocumental_Consecutivo').val(),
                Descripcion : $('#txtCrearDocumental_Descripcion').val(),
                Ruta : respuesta
              },
                function(data)
                {
                  Mensaje("Ok","Documento Creado con el consecutivo: " + data);
                  $("#txtCrearDocumental_Consecutivo").val(data);
                  $("#txtCrearDocumental_Conscutivo").show();
                }).fail(function()
                {
                  Mensaje("Error", "No hay conexión con el Servidor");
                });
            } else
            {
              Mensaje("Ok","Hubo un Error, " + respuesta);
            }
          }
        }); 
      });
   </script>
   <!-- END JAVASCRIPTS -->   
</body>
<!-- END BODY -->
</html>