<body class="fixed-top">
      <!-- BEGIN PAGE -->  
            <!-- BEGIN PAGE CONTENT-->
            <div class="row-fluid">
              <form id='frmCrearNovedad' class="form-horizontal">
                <div class="control-group">
                  <label class="control-label">Aplicar:</label>
                  <div class="controls">
                     <select class="span6 chosen" data-placeholder="Seleccione la Ubicación" tabindex="1" id="txtCrearNovedad_Tipo">
                      <option value="1">Usuario</option>
                      <option value="2">Vehículo</option>
                     </select>
                  </div>
                </div>
                <div class="control-group">
                    <label class="control-label" id='lblCrearNovedad_Usuario'>Nombre de Usuario</label>
                    <div class="controls">
                       <div class="input-prepend">
                          <span class="add-on  icon-credit-card"></span><input class="input-xlarge" type="text" required id="txtCrearNovedad_Usuario" />
                       </div>
                    </div>
                 </div>
                <div class="control-group">
                    <label class="control-label">Tipo de Novedad</label>
                    <div class="controls">
                        <input type="text" placeholder="Tipo de Novedad" class="input-large" id='txtCrearNovedad_Nombre' required/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Descripción</label>
                    <div class="controls">
                        <textarea class="input-xxlarge" placeholder='Descripcion' rows="3" id='txtCrearNovedad_Observaciones'></textarea>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Adjuntar archivos</label>
                    <div class="controls">
                        <iframe src="subir" scrolling="no" width="450" height="320"></iframe>
                    </div>
                </div>
                  <div class="form-actions">
                      <button type="submit" class="btn btn-success"><i class="icon-ok"></i> Guardar</button>
                      <button type="reset" class="btn btn-danger"><i class="icon-remove"></i> Nuevo</button>
                  </div>
              </form>
            </div>

            <!-- END PAGE CONTENT-->         
         
      <!-- END PAGE -->  
   <!-- END CONTAINER -->
   <!-- BEGIN JAVASCRIPTS -->    
   <!-- Load javascripts at bottom, this will reduce page load time -->
   <!-- ie8 fixes -->
   <!--[if lt IE 9]>
   <script src="js/excanvas.js"></script>
   <script src="js/respond.js"></script>
   <![endif]-->
   
   
 
   
   <script>
      jQuery(document).ready(function() 
      {       
         // initiate layout and plugins
         crearNovedad();
      });
   </script>
   <!-- END JAVASCRIPTS -->   
</body>