<body class="fixed-top">
      <!-- BEGIN PAGE -->  
            <!-- BEGIN PAGE CONTENT-->
            <div class="row-fluid">
              <form id='frmCrearContrato' class="form-horizontal">
                <div class="control-group">
                    <label class="control-label">Número de la Orden</label>
                    <div class="controls">
                        <input type="text" placeholder="Número de la Orden" class="input-large" id='txtContrato_Nombre' required/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Tipo de Orden</label>
                    <div class="controls">
                        <textarea class="input-xxlarge" placeholder='Tipo de Orden' rows="3" id='txtContrato_Descripcion'></textarea>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Fecha de Inicio: </label>
                    <div class="controls">
                        <div class="input-append" id="grpContratoFechaInicio">
                            <input type="text" class="m-wrap medium" id='txtContrato_FechaInicio' required/>
                            <span class="add-on"><i class="icon-calendar"></i></span>
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Fecha de Terminación: </label>
                    <div class="controls">
                        <div class="input-append" id="grpContratoFechaTerminacion">
                            <input type="text" class="m-wrap medium" id='txtContrato_FechaTerminacion'/>
                            <span class="add-on"><i class="icon-calendar"></i></span>
                        </div>
                    </div>
                </div>
                <div class="control-group noMostrar">
                    <label class="control-label">Valor del Contrato</label>
                    <div class="controls">
                       <div class="input-prepend">
                          <span class="add-on">$</span><input class=" " type="number" placeholder="Valor del Contrato"  id='txtContrato_Valor'/>
                       </div>
                    </div>
                 </div>
                 <div class="control-group">
                    <label class="control-label">Descripción</label>
                    <div class="controls">
                        <textarea class="input-xxlarge" placeholder='Descripción' rows="3" id='txtContrato_Objeto' required></textarea>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Responsabilidades</label>
                    <div class="controls">
                        <textarea class="input-xxlarge" placeholder='Responsabilidades' rows="3" id='txtContrato_Responsabilidades'></textarea>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Cliente</label>
                    <div class="controls">
                       <div class="input-prepend">
                          <span class="add-on  icon-hand-right"></span><input class="input-large" type="text" placeholder="Contratante" id='txtContrato_Contratante' required />
                       </div>
                    </div>
                 </div>
                 <div class="control-group">
                    <label class="control-label">Direccion</label>
                    <div class="controls">
                       <div class="input-prepend">
                          <span class="add-on icon-hand-left"></span><input class="input-large" type="text" placeholder="Dirección" id='txtContrato_Contratista' required />
                       </div>
                    </div>
                 </div>
                 <div class="control-group">
                  <label class="control-label">Asignar A:</label>
                  <div class="controls">
                     <select class="span6 chosen" data-placeholder="Seleccione el Usuario" tabindex="1" id="txtContrato_Usuario"></select>
                  </div>
                </div>
                  <div class="form-actions">
                      <button type="submit" class="btn btn-success"><i class="icon-ok"></i> Guardar</button>
                      <button type="reset" class="btn btn-danger"><i class="icon-remove"></i> Borrar</button>
                  </div>
              </form>
            </div>

            <!-- END PAGE CONTENT-->         
         
      <!-- END PAGE -->  
   <!-- END CONTAINER -->
   <!-- BEGIN JAVASCRIPTS -->    
   <!-- Load javascripts at bottom, this will reduce page load time -->
   <!-- ie8 fixes -->
   <!--[if lt IE 9]>
   <script src="js/excanvas.js"></script>
   <script src="js/respond.js"></script>
   <![endif]-->
   
   
 
   
   <script>
      jQuery(document).ready(function() 
      {       
         // initiate layout and plugins
         crearContrato();         
      });
   </script>
   <!-- END JAVASCRIPTS -->   
</body>