<!-- BEGIN PAGE CONTENT-->
            <div class="row-fluid">
              <form id="frmCrearActividad" class="form-horizontal">
                <div class="control-group">
                    <label class="control-label">Nombre</label>
                    <div class="controls">
                        <input type="text" placeholder="Nombre de la Actividad" class="input-large" id="txtCrearActividad_Nombre" required />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Descripción</label>
                    <div class="controls">
                        <textarea class="input-xxlarge" placeholder='Texto a mostrar en la Actividad' rows="3" id="txtCrearActividad_Descripcion" required></textarea>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Tipo de Respuesta</label>
                    <div class="controls">
                        <select class="input-large m-wrap" tabindex="1" id='txtActividad_TipoRespuesta'>
                            <option value="1">Texto</option>
                            <option value="2">Respuesta Múltiple</option>
                            <option value="3">Si/No/No Aplica</option>
                        </select>
                    </div>
                </div>
                <div class="control-group noMostrar" id='grpSeleccionMultiple'>
                      <input type="hidden" id='txtCrearActividad_SeleccionMultiple' />
                      <div class="widget">
                          <div class="widget-title">
                              <h4><i class="icon-list-ul"></i>Opciones</h4>
                          </div>
                          <div class="widget-body">
                            <div class="input-append">
                                <input class="input-xxlarge" type="text" />
                                <span id="btnCrearActividad_AgregarItem" class="add-on"><i class="icon-plus"></i></span>
                            </div>
                              <table id='tblCrearActividad_Items' class="table">
                                <thead>
                                  <tr>
                                    <th>Item</th>
                                    <th></th>
                                  </tr>
                                </thead>
                                <tbody></tbody>
                              </table>
                          </div>
                      </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Lleva Archivos</label>
                    <div class="controls">
                        <div class="text-toggle-button">
                            <input type="checkbox" class="toggle" id="txtCrearActividad_Archivos" />
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Lleva Observaciones</label>
                    <div class="controls">
                        <div class="text-toggle-button">
                            <input type="checkbox" class="toggle" id="txtCrearActividad_Observaciones"/>
                        </div>
                    </div>
                </div>
                  <div class="form-actions">
                      <button type="submit" class="btn btn-success"><i class="icon-ok"></i> Guardar</button>
                      <button type="reset" class="btn btn-danger"><i class="icon-remove"></i> Borrar</button>
                  </div>
              </form>
            </div>

            <!-- END PAGE CONTENT-->         
   <!-- BEGIN JAVASCRIPTS -->    
   <script>
      jQuery(document).ready(function() {       
         // initiate layout and plugins
         
        crearActividad();
      });
   </script>
   <!-- END JAVASCRIPTS -->   
</body>
<!-- END BODY -->
</html>