<body class="fixed-top">
      <!-- BEGIN PAGE -->  
            <!-- BEGIN PAGE CONTENT-->
            <div class="row-fluid">
              <form id='frmCrearMaterial' class="form-horizontal">
                <div class="control-group">
                    <label class="control-label">Nombre: </label>
                    <div class="input-prepend">
                      <span class="add-on"><i class="icon-shopping-cart"> </i></span>
                        <input type="text" placeholder="Nombre del Equipo/Material" class="input-xxlarge" id='txtMaterial_Nombre' required/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Marca: </label>
                    <div class="input-prepend">
                      <span class="add-on"><i class="icon-certificate"> </i></span>
                        <input type="text" placeholder="Marca del Equipo/Material" class="input-large" id='txtMaterial_Marca'/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Referencia: </label>
                    <div class="input-prepend">
                      <span class="add-on"><i class="icon-barcode"> </i></span>
                        <input type="text" placeholder="Referencia del Equipo/Material" class="input-large" id='txtMaterial_Referencia'/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Cargar Foto</label>
                    <div class="controls">
                        <div class="fileupload fileupload-new" data-provides="fileupload">
                            <div class="fileupload-new thumbnail" style="width: 200px; height: 150px;">
                                <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=No hay foto" alt="" />
                            </div>
                            <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 200px; max-height: 150px; line-height: 20px;"></div>
                            <div>
                       <span class="btn btn-file"><span class="fileupload-new">Cargar imagen</span>
                       <span class="fileupload-exists">Cambiar</span>
                       <input type="file" class="default" /></span>
                                <a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Quitar</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Fecha de Compra: </label>
                    <div class="controls">
                        <div class="input-append" id="grpMaterialFechaInicio">
                            <input type="text" class="m-wrap medium" id='txtMaterial_FechaInicio' />
                            <span class="add-on"><i class="icon-calendar"></i></span>
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Fecha de Asignación: </label>
                    <div class="controls">
                        <div class="input-append" id="grpMaterialFechaTerminacion">
                            <input type="text" class="m-wrap medium" id='txtMaterial_FechaTerminacion' required/>
                            <span class="add-on"><i class="icon-calendar"></i></span>
                        </div>
                    </div>
                </div>
                <div class="control-group">
                  <label class="control-label">Asignar A:</label>
                  <div class="controls">
                     <select class="span6 chosen" data-placeholder="Usuario que Recibe" tabindex="1" id="txtMaterial_Usuario"></select>
                  </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Valor del Material</label>
                    <div class="controls">
                       <div class="input-prepend">
                          <span class="add-on">$</span><input class=" " type="number" placeholder="Valor del Material"  id='txtMaterial_Valor'/>
                       </div>
                    </div>
                 </div>
                 <div class="control-group">
                    <label class="control-label">Descripción</label>
                    <div class="controls">
                        <textarea class="input-xxlarge" placeholder='Descripción' rows="3" id='txtMaterial_Descripcion' required></textarea>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Accesorios</label>
                    <div class="controls">
                        <textarea class="input-xxlarge" placeholder='Accesorios' rows="3" id='txtMaterial_Accesorios'></textarea>
                    </div>
                </div>
                 <div class="control-group">
                    <label class="control-label">Observaciones</label>
                    <div class="controls">
                        <textarea class="input-xxlarge" placeholder='Observaciones' rows="3" id='txtMaterial_Observaciones'></textarea>
                    </div>
                </div>
                  <div class="form-actions">
                      <button type="submit" class="btn btn-success"><i class="icon-ok"></i> Guardar</button>
                      <button type="reset" class="btn btn-danger"><i class="icon-remove"></i> Borrar</button>
                  </div>
              </form>
            </div>

            <!-- END PAGE CONTENT-->         
         
      <!-- END PAGE -->  
   <!-- END CONTAINER -->
   <!-- BEGIN JAVASCRIPTS -->    
   <!-- Load javascripts at bottom, this will reduce page load time -->
   <!-- ie8 fixes -->
   <!--[if lt IE 9]>
   <script src="js/excanvas.js"></script>
   <script src="js/respond.js"></script>
   <![endif]-->
   
   
 
   
   <script>
      jQuery(document).ready(function() 
      {       
         // initiate layout and plugins
         crearMaterial();         
      });
   </script>
   <!-- END JAVASCRIPTS -->   
</body>