<!-- BEGIN BODY -->
<body class="fixed-top"> 
      <!-- BEGIN PAGE -->  
            <!-- BEGIN PAGE CONTENT-->
            <div class="row-fluid">
              <form id="frmCrearEmpresa" class="form-horizontal">
                <div class="control-group">
                    <label class="control-label">Nombre</label>
                    <div class="controls">
                        <input type="text" placeholder="Nombre de la Empresa" class="input-xxlarge" id="txtEmpresa_Nombre" required/>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">Numero de Identificación</label>
                    <div class="controls">
                       <div class="input-prepend">
                          <span class="add-on  icon-credit-card"></span><input type="text" placeholder="Numero de Identificación" required id='txtEmpresa_Identificacion'/>
                       </div>
                    </div>
                 </div>

                 <div class="control-group">
                    <label class="control-label">Dirección</label>
                    <div class="controls">
                       <div class="input-prepend">
                          <span class="add-on icon-map-marker"></span><input class="input-xxlarge" type="text" placeholder="Dirección de la Empresa" id="txtEmpresa_Direccion" />
                       </div>
                    </div>
                 </div>

                 <div class="control-group">
                    <label class="control-label">Teléfono</label>
                    <div class="controls">
                       <div class="input-prepend">
                          <span class="add-on icon-phone"></span><input class=" " type="text" placeholder="Teléfono de la Empresa" id="txtEmpresa_Telefono"/>
                       </div>
                    </div>
                 </div>

                 <div class="control-group">
                    <label class="control-label">Correo de Contacto</label>
                    <div class="controls">
                       <div class="input-prepend">
                          <span class="add-on  icon-envelope-alt"></span><input class=" " type="email" placeholder="Correo de Contacto" id="txtEmpresa_Correo" required />
                       </div>
                    </div>
                 </div>

                  <div class="form-actions">
                      <button type="submit" class="btn btn-success"><i class="icon-ok"></i> Guardar</button>
                      <button type="reset" class="btn btn-danger"><i class="icon-remove"></i> Borrar</button>
                  </div>  
              </form>
            </div>

            <!-- END PAGE CONTENT-->         
      <!-- END PAGE -->  
   <!-- BEGIN JAVASCRIPTS -->    
   <!-- Load javascripts at bottom, this will reduce page load time -->
   <!-- ie8 fixes -->
   <!--[if lt IE 9]>
   <script src="js/excanvas.js"></script>
   <script src="js/respond.js"></script>
   <![endif]-->
  
   <script>
      jQuery(document).ready(function() {       
         // initiate layout and plugins
         crearEmpresa();
         
     });
   </script>
   <!-- END JAVASCRIPTS -->   
</body>
<!-- END BODY -->
