  <form class="form-horizontal" id="frmCTInt" idInspeccion="0">
     <div class="form-wizard">
        <div class="navbar steps">
           <div class="navbar-inner">
              <ul class="row-fluid">
                 <li class="span3">
                    <a href="#frmCTInt_tab1" data-toggle="tab" class="step active">
                    <span class="number">1</span>
                    <span class="desc"><i class="icon-ok"></i> Predio</span>
                    </a>
                 </li>
                 <li class="span3">
                    <a href="#frmCTInt_tab2" data-toggle="tab" class="step">
                    <span class="number">2</span>
                    <span class="desc"><i class="icon-ok"></i> Cliente</span>
                    </a>
                 </li>
                 <li class="span3">
                    <a href="#frmCTInt_tab3" data-toggle="tab" class="step">
                    <span class="number">3</span>
                    <span class="desc"><i class="icon-ok"></i> Suspensión</span>
                    </a>
                 </li>
                 <li class="span3">
                    <a href="#frmCTInt_tab4" data-toggle="tab" class="step">
                    <span class="number">4</span>
                    <span class="desc"><i class="icon-ok"></i> NNSS</span>
                    </a> 
                 </li>
                 <li class="span3">
                    <a href="#frmCTInt_tab5" data-toggle="tab" class="step">
                    <span class="number">5</span>
                    <span class="desc"><i class="icon-ok"></i> Macros</span>
                    </a> 
                 </li>
                 <li class="span3">
                    <a href="#frmCTInt_tab6" data-toggle="tab" class="step">
                    <span class="number">6</span>
                    <span class="desc"><i class="icon-ok"></i> Generales</span>
                    </a> 
                 </li>
              </ul>
           </div>
        </div>
        <div id="bar" class="progress progress-striped">
           <div class="bar"></div>
        </div>
        <div class="tab-content">
           <div class="tab-pane active" id="frmCTInt_tab1">
              <h4>INFORMACIÓN DEL PREDIO</h4>
              <div class="control-group" id="CTInt_radio_Contenedor_1-1">
                 <label class="control-label"> El predio tiene servicio?</label>
                 <div class="controls">
                    <div class="span2 CTInt_radio" id="CTInt_radio_1-1">
                      <input type="radio" id="rad_NA_1-1" name="rad_1-1" checked="checked" value="NA"><label for="rad_NA_1-1">NA</label>
                      <input type="radio" id="rad_Si_1-1" name="rad_1-1" value="Si"><label for="rad_Si_1-1">Si</label>
                      <input type="radio" id="rad_No_1-1" name="rad_1-1" value="No"><label for="rad_No_1-1">No</label>
                    </div>
                    <div>
                      <textarea class="input-medium" placeholder="OBS" class="CTInt_Obs"></textarea>
                    </div>
                 </div>
              </div>
              <div class="control-group" id="CTInt_radio_Contenedor_1-2">
                   <label class="control-label"> El medidor registra consumo?</label>
                   <div class="controls">
                      <div class="span2 CTInt_radio" id="CTInt_radio_1-2">
                        <input type="radio" id="rad_NA_1-2" name="rad_1-2" checked="checked" value="NA"><label for="rad_NA_1-2">NA</label>
                        <input type="radio" id="rad_Si_1-2" name="rad_1-2" value="Si"><label for="rad_Si_1-2">Si</label>
                        <input type="radio" id="rad_No_1-2" name="rad_1-2" value="No"><label for="rad_No_1-2">No</label>
                      </div>
                      <div>
                        <textarea class="input-medium" placeholder="OBS" class="CTInt_Obs"></textarea>
                      </div>
                   </div>
                </div>
              <div class="control-group" id="CTInt_radio_Contenedor_1-3">
                   <label class="control-label"> La acometida se encuentra en buen estado?</label>
                   <div class="controls">
                      <div class="span2 CTInt_radio" id="CTInt_radio_1-3">
                        <input type="radio" id="rad_NA_1-3" name="rad_1-3" checked="checked" value="NA"><label for="rad_NA_1-3">NA</label>
                        <input type="radio" id="rad_Si_1-3" name="rad_1-3" value="Si"><label for="rad_Si_1-3">Si</label>
                        <input type="radio" id="rad_No_1-3" name="rad_1-3" value="No"><label for="rad_No_1-3">No</label>
                      </div>
                      <div>
                        <textarea class="input-medium" placeholder="OBS" class="CTInt_Obs"></textarea>
                      </div>
                   </div>
                </div>
              <div class="control-group" id="CTInt_radio_Contenedor_1-4">
                   <label class="control-label"> La caja tiene perno de seguridad?</label>
                   <div class="controls">
                      <div class="span2 CTInt_radio" id="CTInt_radio_1-4">
                        <input type="radio" id="rad_NA_1-4" name="rad_1-4" checked="checked" value="NA"><label for="rad_NA_1-4">NA</label>
                        <input type="radio" id="rad_Si_1-4" name="rad_1-4" value="Si"><label for="rad_Si_1-4">Si</label>
                        <input type="radio" id="rad_No_1-4" name="rad_1-4" value="No"><label for="rad_No_1-4">No</label>
                      </div>
                      <div>
                        <textarea class="input-medium" placeholder="OBS" class="CTInt_Obs"></textarea>
                      </div>
                   </div>
                </div>
              <div class="control-group" id="CTInt_radio_Contenedor_1-5">
                   <label class="control-label"> El perno de seguridad se encuentra en buen estado?</label>
                   <div class="controls">
                      <div class="span2 CTInt_radio" id="CTInt_radio_1-5">
                        <input type="radio" id="rad_NA_1-5" name="rad_1-5" checked="checked" value="NA"><label for="rad_NA_1-5">NA</label>
                        <input type="radio" id="rad_Si_1-5" name="rad_1-5" value="Si"><label for="rad_Si_1-5">Si</label>
                        <input type="radio" id="rad_No_1-5" name="rad_1-5" value="No"><label for="rad_No_1-5">No</label>
                      </div>
                      <div>
                        <textarea class="input-medium" placeholder="OBS" class="CTInt_Obs"></textarea>
                      </div>
                   </div>
                </div>
              <div class="control-group" id="CTInt_radio_Contenedor_1-6">
                   <label class="control-label"> La caja de conexiones tiene sellos?</label>
                   <div class="controls">
                      <div class="span2 CTInt_radio" id="CTInt_radio_1-6">
                        <input type="radio" id="rad_NA_1-6" name="rad_1-6" checked="checked" value="NA"><label for="rad_NA_1-6">NA</label>
                        <input type="radio" id="rad_Si_1-6" name="rad_1-6" value="Si"><label for="rad_Si_1-6">Si</label>
                        <input type="radio" id="rad_No_1-6" name="rad_1-6" value="No"><label for="rad_No_1-6">No</label>
                      </div>
                      <div>
                        <textarea class="input-medium" placeholder="OBS" class="CTInt_Obs"></textarea>
                      </div>
                   </div>
                </div>
              <div class="control-group" id="CTInt_radio_Contenedor_1-7">
                   <label class="control-label"> Los sellos están en buen estado?</label>
                   <div class="controls">
                      <div class="span2 CTInt_radio" id="CTInt_radio_1-7">
                        <input type="radio" id="rad_NA_1-7" name="rad_1-7" checked="checked" value="NA"><label for="rad_NA_1-7">NA</label>
                        <input type="radio" id="rad_Si_1-7" name="rad_1-7" value="Si"><label for="rad_Si_1-7">Si</label>
                        <input type="radio" id="rad_No_1-7" name="rad_1-7" value="No"><label for="rad_No_1-7">No</label>
                      </div>
                      <div>
                        <textarea class="input-medium" placeholder="OBS" class="CTInt_Obs"></textarea>
                      </div>
                   </div>
                </div>
              <div class="control-group" id="CTInt_radio_Contenedor_1-8">
                   <label class="control-label"> Se encuentra el cliente en el predio y atiende la visita?</label>
                   <div class="controls">
                      <div class="span2 CTInt_radio" id="CTInt_radio_1-8">
                        <input type="radio" id="rad_NA_1-8" name="rad_1-8" checked="checked" value="NA"><label for="rad_NA_1-8">NA</label>
                        <input type="radio" id="rad_Si_1-8" name="rad_1-8" value="Si"><label for="rad_Si_1-8">Si</label>
                        <input type="radio" id="rad_No_1-8" name="rad_1-8" value="No"><label for="rad_No_1-8">No</label>
                      </div>
                      <div>
                        <textarea class="input-medium" placeholder="OBS" class="CTInt_Obs"></textarea>
                      </div>
                   </div>
                </div>
              <div class="control-group" id="CTInt_radio_Contenedor_1-9">
                   <label class="control-label"> Se dejó copia al cliente del acta?</label>
                   <div class="controls">
                      <div class="span2 CTInt_radio" id="CTInt_radio_1-9">
                        <input type="radio" id="rad_NA_1-9" name="rad_1-9" checked="checked" value="NA"><label for="rad_NA_1-9">NA</label>
                        <input type="radio" id="rad_Si_1-9" name="rad_1-9" value="Si"><label for="rad_Si_1-9">Si</label>
                        <input type="radio" id="rad_No_1-9" name="rad_1-9" value="No"><label for="rad_No_1-9">No</label>
                      </div>
                      <div>
                        <textarea class="input-medium" placeholder="OBS" class="CTInt_Obs"></textarea>
                      </div>
                   </div>
                </div>
              <div class="control-group" id="CTInt_radio_Contenedor_1-10">
                   <label class="control-label"> El acta se diligenció correctamente?</label>
                   <div class="controls">
                      <div class="span2 CTInt_radio" id="CTInt_radio_1-10">
                        <input type="radio" id="rad_NA_1-10" name="rad_1-10" checked="checked" value="NA"><label for="rad_NA_1-10">NA</label>
                        <input type="radio" id="rad_Si_1-10" name="rad_1-10" value="Si"><label for="rad_Si_1-10">Si</label>
                        <input type="radio" id="rad_No_1-10" name="rad_1-10" value="No"><label for="rad_No_1-10">No</label>
                      </div>
                      <div>
                        <textarea class="input-medium" placeholder="OBS" class="CTInt_Obs"></textarea>
                      </div>
                   </div>
                </div>
              <div class="control-group" id="CTInt_radio_Contenedor_1-11">
                   <label class="control-label"> El resultado coincide con lo encontrado en terreno?</label>
                   <div class="controls">
                      <div class="span2 CTInt_radio" id="CTInt_radio_1-11">
                        <input type="radio" id="rad_NA_1-11" name="rad_1-11" checked="checked" value="NA"><label for="rad_NA_1-11">NA</label>
                        <input type="radio" id="rad_Si_1-11" name="rad_1-11" value="Si"><label for="rad_Si_1-11">Si</label>
                        <input type="radio" id="rad_No_1-11" name="rad_1-11" value="No"><label for="rad_No_1-11">No</label>
                      </div>
                      <div>
                        <textarea class="input-medium" placeholder="OBS" class="CTInt_Obs"></textarea>
                      </div>
                   </div>
                </div>
              <div class="control-group" id="CTInt_radio_Contenedor_1-12">
                   <label class="control-label"> El diagrama unifilar del acta coincide con lo encontrado en terreno?</label>
                   <div class="controls">
                      <div class="span2 CTInt_radio" id="CTInt_radio_1-12">
                        <input type="radio" id="rad_NA_1-12" name="rad_1-12" checked="checked" value="NA"><label for="rad_NA_1-12">NA</label>
                        <input type="radio" id="rad_Si_1-12" name="rad_1-12" value="Si"><label for="rad_Si_1-12">Si</label>
                        <input type="radio" id="rad_No_1-12" name="rad_1-12" value="No"><label for="rad_No_1-12">No</label>
                      </div>
                      <div>
                        <textarea class="input-medium" placeholder="OBS" class="CTInt_Obs"></textarea>
                      </div>
                   </div>
                </div>
              <div class="control-group" id="CTInt_radio_Contenedor_1-13">
                   <label class="control-label"> Se encuentra alguna anomalía en el predio?</label>
                   <div class="controls">
                      <div class="span2 CTInt_radio" id="CTInt_radio_1-13">
                        <input type="radio" id="rad_NA_1-13" name="rad_1-13" checked="checked" value="NA"><label for="rad_NA_1-13">NA</label>
                        <input type="radio" id="rad_Si_1-13" name="rad_1-13" value="Si"><label for="rad_Si_1-13">Si</label>
                        <input type="radio" id="rad_No_1-13" name="rad_1-13" value="No"><label for="rad_No_1-13">No</label>
                      </div>
                      <div>
                        <textarea class="input-medium" placeholder="OBS" class="CTInt_Obs"></textarea>
                      </div>
                   </div>
                </div>
              <div class="control-group noMostrar" id="CTInt_radio_Contenedor_1-14">
                   <label class="control-label">ANOMALIAS</label>
                   <div class="controls">
                      <div class="span2 CTInt_radio" id="CTInt_radio_1-14">
                        <input type="radio" id="rad_NA_1-14" name="rad_1-14" checked="checked" value="NA"><label for="rad_NA_1-14">NA</label>
                        <input type="radio" id="rad_Si_1-14" name="rad_1-14" value="Si"><label for="rad_Si_1-14">Si</label>
                        <input type="radio" id="rad_No_1-14" name="rad_1-14" value="No"><label for="rad_No_1-14">No</label>
                      </div>
                      <div>
                        <textarea class="input-medium" placeholder="OBS" class="CTInt_Obs"></textarea>
                      </div>
                   </div>
                </div>
           </div>
           <div class="tab-pane" id="frmCTInt_tab2">
              <h4>PERCEPCIÓN DEL CLIENTE</h4>
              <div class="control-group" id="CTInt_radio_Contenedor_2-1">
                 <label class="control-label"> La cuadrilla se presentó antes de iniciar las labores?</label>
                 <div class="controls">
                    <div class="span2 CTInt_radio" id="CTInt_radio_2-1">
                      <input type="radio" id="rad_NA_2-1" name="rad_2-1" checked="checked" value="NA"><label for="rad_NA_2-1">NA</label>
                      <input type="radio" id="rad_Si_2-1" name="rad_2-1" value="Si"><label for="rad_Si_2-1">Si</label>
                      <input type="radio" id="rad_No_2-1" name="rad_2-1" value="No"><label for="rad_No_2-1">No</label>
                    </div>
                    <div>
                      <textarea class="input-medium" placeholder="OBS" class="CTInt_Obs"></textarea>
                    </div>
                 </div>
              </div>
            <div class="control-group" id="CTInt_radio_Contenedor_2-2">
                 <label class="control-label"> Se solicitó la factura antes de iniciar las labores?</label>
                 <div class="controls">
                    <div class="span2 CTInt_radio" id="CTInt_radio_2-2">
                      <input type="radio" id="rad_NA_2-2" name="rad_2-2" checked="checked" value="NA"><label for="rad_NA_2-2">NA</label>
                      <input type="radio" id="rad_Si_2-2" name="rad_2-2" value="Si"><label for="rad_Si_2-2">Si</label>
                      <input type="radio" id="rad_No_2-2" name="rad_2-2" value="No"><label for="rad_No_2-2">No</label>
                    </div>
                    <div>
                      <textarea class="input-medium" placeholder="OBS" class="CTInt_Obs"></textarea>
                    </div>
                 </div>
              </div>
            <div class="control-group" id="CTInt_radio_Contenedor_2-3">
                 <label class="control-label"> Se le dio tiempo prudente antes de iniciar la operación en caso de requerirlo?</label>
                 <div class="controls">
                    <div class="span2 CTInt_radio" id="CTInt_radio_2-3">
                      <input type="radio" id="rad_NA_2-3" name="rad_2-3" checked="checked" value="NA"><label for="rad_NA_2-3">NA</label>
                      <input type="radio" id="rad_Si_2-3" name="rad_2-3" value="Si"><label for="rad_Si_2-3">Si</label>
                      <input type="radio" id="rad_No_2-3" name="rad_2-3" value="No"><label for="rad_No_2-3">No</label>
                    </div>
                    <div>
                      <textarea class="input-medium" placeholder="OBS" class="CTInt_Obs"></textarea>
                    </div>
                 </div>
              </div>
            <div class="control-group" id="CTInt_radio_Contenedor_2-4">
                 <label class="control-label"> Le explicaron la operación a realizar?</label>
                 <div class="controls">
                    <div class="span2 CTInt_radio" id="CTInt_radio_2-4">
                      <input type="radio" id="rad_NA_2-4" name="rad_2-4" checked="checked" value="NA"><label for="rad_NA_2-4">NA</label>
                      <input type="radio" id="rad_Si_2-4" name="rad_2-4" value="Si"><label for="rad_Si_2-4">Si</label>
                      <input type="radio" id="rad_No_2-4" name="rad_2-4" value="No"><label for="rad_No_2-4">No</label>
                    </div>
                    <div>
                      <textarea class="input-medium" placeholder="OBS" class="CTInt_Obs"></textarea>
                    </div>
                 </div>
              </div>
            <div class="control-group" id="CTInt_radio_Contenedor_2-5">
                 <label class="control-label"> El trato de la cuadrilla fue cordial?</label>
                 <div class="controls">
                    <div class="span2 CTInt_radio" id="CTInt_radio_2-5">
                      <input type="radio" id="rad_NA_2-5" name="rad_2-5" checked="checked" value="NA"><label for="rad_NA_2-5">NA</label>
                      <input type="radio" id="rad_Si_2-5" name="rad_2-5" value="Si"><label for="rad_Si_2-5">Si</label>
                      <input type="radio" id="rad_No_2-5" name="rad_2-5" value="No"><label for="rad_No_2-5">No</label>
                    </div>
                    <div>
                      <textarea class="input-medium" placeholder="OBS" class="CTInt_Obs"></textarea>
                    </div>
                 </div>
              </div>
            <div class="control-group" id="CTInt_radio_Contenedor_2-6">
                 <label class="control-label"> La cuadrilla presentó su carné de identificación?</label>
                 <div class="controls">
                    <div class="span2 CTInt_radio" id="CTInt_radio_2-6">
                      <input type="radio" id="rad_NA_2-6" name="rad_2-6" checked="checked" value="NA"><label for="rad_NA_2-6">NA</label>
                      <input type="radio" id="rad_Si_2-6" name="rad_2-6" value="Si"><label for="rad_Si_2-6">Si</label>
                      <input type="radio" id="rad_No_2-6" name="rad_2-6" value="No"><label for="rad_No_2-6">No</label>
                    </div>
                    <div>
                      <textarea class="input-medium" placeholder="OBS" class="CTInt_Obs"></textarea>
                    </div>
                 </div>
              </div>
            <div class="control-group" id="CTInt_radio_Contenedor_2-7">
                 <label class="control-label"> La cuadrilla se  presentó con dotación?</label>
                 <div class="controls">
                    <div class="span2 CTInt_radio" id="CTInt_radio_2-7">
                      <input type="radio" id="rad_NA_2-7" name="rad_2-7" checked="checked" value="NA"><label for="rad_NA_2-7">NA</label>
                      <input type="radio" id="rad_Si_2-7" name="rad_2-7" value="Si"><label for="rad_Si_2-7">Si</label>
                      <input type="radio" id="rad_No_2-7" name="rad_2-7" value="No"><label for="rad_No_2-7">No</label>
                    </div>
                    <div>
                      <textarea class="input-medium" placeholder="OBS" class="CTInt_Obs"></textarea>
                    </div>
                 </div>
              </div>
            <div class="control-group" id="CTInt_radio_Contenedor_2-8">
                 <label class="control-label"> Se dejó limpio el lugar de trabajo?</label>
                 <div class="controls">
                    <div class="span2 CTInt_radio" id="CTInt_radio_2-8">
                      <input type="radio" id="rad_NA_2-8" name="rad_2-8" checked="checked" value="NA"><label for="rad_NA_2-8">NA</label>
                      <input type="radio" id="rad_Si_2-8" name="rad_2-8" value="Si"><label for="rad_Si_2-8">Si</label>
                      <input type="radio" id="rad_No_2-8" name="rad_2-8" value="No"><label for="rad_No_2-8">No</label>
                    </div>
                    <div>
                      <textarea class="input-medium" placeholder="OBS" class="CTInt_Obs"></textarea>
                    </div>
                 </div>
              </div>
            <div class="control-group" id="CTInt_radio_Contenedor_2-9">
                 <label class="control-label"> Está recibiendo la factura oportunamente?</label>
                 <div class="controls">
                    <div class="span2 CTInt_radio" id="CTInt_radio_2-9">
                      <input type="radio" id="rad_NA_2-9" name="rad_2-9" checked="checked" value="NA"><label for="rad_NA_2-9">NA</label>
                      <input type="radio" id="rad_Si_2-9" name="rad_2-9" value="Si"><label for="rad_Si_2-9">Si</label>
                      <input type="radio" id="rad_No_2-9" name="rad_2-9" value="No"><label for="rad_No_2-9">No</label>
                    </div>
                    <div>
                      <textarea class="input-medium" placeholder="OBS" class="CTInt_Obs"></textarea>
                    </div>
                 </div>
              </div>
           </div>
           <div class="tab-pane" id="frmCTInt_tab3">
              <h4>SI EL SERVICIO SE ENCUENTRA SUSPENDIDO</h4>
              <div class="control-group" id="CTInt_radio_Contenedor_3-1">
                 <label class="control-label">La suspensión se realizó en:</label>
                 <div class="controls">
                    <div class="span2 CTInt_radio" id="CTInt_radio_3-1">
                      <input type="radio" id="rad_NA_3-1" name="rad_3-1" checked="checked" value="A"><label for="rad_NA_3-1">A</label>
                      <input type="radio" id="rad_Si_3-1" name="rad_3-1" value="B"><label for="rad_Si_3-1">B</label>
                      <input type="radio" id="rad_No_3-1" name="rad_3-1" value="C"><label for="rad_No_3-1">C</label>
                      <input type="radio" id="rad_OO_4-1" name="rad_3-1" value="D"><label for="rad_OO_4-1">D</label>
                    </div>
                    <div class="control-group">
                      <textarea class="input-medium" placeholder="OBS" class="CTInt_Obs"></textarea>
                      <div class="help-inline" >
                        <small>A = Poste o cámara de inspección (tipo I)</small><br>
                        <small>B = Medidor (tipo II)</small><br>
                        <small>C = Centro de distribución o pin de corte (tipo III)</small><br>
                        <small>D = Medida indirecta (tipo IV)</small>
                      </div>
                    </div>
                 </div>
              </div>
            <div class="control-group" id="CTInt_radio_Contenedor_3-2">
                 <label class="control-label">Se instaló DIP?</label>
                 <div class="controls">
                    <div class="span2 CTInt_radio" id="CTInt_radio_3-2">
                      <input type="radio" id="rad_NA_3-2" name="rad_3-2" checked="checked" value="NA"><label for="rad_NA_3-2">NA</label>
                      <input type="radio" id="rad_Si_3-2" name="rad_3-2" value="Si"><label for="rad_Si_3-2">Si</label>
                      <input type="radio" id="rad_No_3-2" name="rad_3-2" value="No"><label for="rad_No_3-2">No</label>
                    </div>
                    <div>
                      <textarea class="input-medium" placeholder="OBS" class="CTInt_Obs"></textarea>
                    </div>
                 </div>
              </div>
            <div class="control-group" id="CTInt_radio_Contenedor_3-3">
                 <label class="control-label">Se encuentra adhesivo?</label>
                 <div class="controls">
                    <div class="span2 CTInt_radio" id="CTInt_radio_3-3">
                      <input type="radio" id="rad_NA_3-3" name="rad_3-3" checked="checked" value="NA"><label for="rad_NA_3-3">NA</label>
                      <input type="radio" id="rad_Si_3-3" name="rad_3-3" value="Si"><label for="rad_Si_3-3">Si</label>
                      <input type="radio" id="rad_No_3-3" name="rad_3-3" value="No"><label for="rad_No_3-3">No</label>
                    </div>
                    <div>
                      <textarea class="input-medium" placeholder="OBS" class="CTInt_Obs"></textarea>
                    </div>
                 </div>
              </div>
            <div class="control-group noMostrar" id="CTInt_radio_Contenedor_3-4">
                 <label class="control-label">COLOR</label>
                 <div class="controls">
                    <div class="span2 CTInt_radio" id="CTInt_radio_3-4">
                      <input type="radio" id="rad_NA_3-4" name="rad_3-4" checked="checked" value="NA"><label for="rad_NA_3-4">NA</label>
                      <input type="radio" id="rad_Si_3-4" name="rad_3-4" value="Si"><label for="rad_Si_3-4">Si</label>
                      <input type="radio" id="rad_No_3-4" name="rad_3-4" value="No"><label for="rad_No_3-4">No</label>
                    </div>
                    <div class="control-group">
                      <textarea class="input-medium" placeholder="OBS" class="CTInt_Obs"></textarea>
                      <small class="help-inline">Poner en Observaciones [ROJO, BLANCO, etc]</small>
                    </div>
                 </div>
              </div>
            <div class="control-group noMostrar" id="CTInt_radio_Contenedor_3-5">
                 <label class="control-label">SERIE</label>
                 <div class="controls">
                    <div class="span2 CTInt_radio" id="CTInt_radio_3-5">
                      <input type="radio" id="rad_NA_3-5" name="rad_3-5" checked="checked" value="NA"><label for="rad_NA_3-5">NA</label>
                      <input type="radio" id="rad_Si_3-5" name="rad_3-5" value="Si"><label for="rad_Si_3-5">Si</label>
                      <input type="radio" id="rad_No_3-5" name="rad_3-5" value="No"><label for="rad_No_3-5">No</label>
                    </div>
                    <div>
                      <textarea class="input-medium" placeholder="OBS" class="CTInt_Obs"></textarea>
                    </div>
                 </div>
              </div>
            <div class="control-group" id="CTInt_radio_Contenedor_3-6">
                 <label class="control-label">El adhesivo está en buen estado?</label>
                 <div class="controls">
                    <div class="span2 CTInt_radio" id="CTInt_radio_3-6">
                      <input type="radio" id="rad_NA_3-6" name="rad_3-6" checked="checked" value="NA"><label for="rad_NA_3-6">NA</label>
                      <input type="radio" id="rad_Si_3-6" name="rad_3-6" value="Si"><label for="rad_Si_3-6">Si</label>
                      <input type="radio" id="rad_No_3-6" name="rad_3-6" value="No"><label for="rad_No_3-6">No</label>
                    </div>
                    <div>
                      <textarea class="input-medium" placeholder="OBS" class="CTInt_Obs"></textarea>
                    </div>
                 </div>
              </div>
           </div>
           <div class="tab-pane" id="frmCTInt_tab4">
              <h4>NUEVO SUMINISTRO</h4>
              <div class="control-group" id="CTInt_radio_Contenedor_4-1">
                 <label class="control-label"> Los materiales instalados son de buena calidad?</label>
                 <div class="controls">
                    <div class="span2 CTInt_radio" id="CTInt_radio_4-1">
                      <input type="radio" id="rad_NA_4-1" name="rad_4-1" checked="checked" value="NA"><label for="rad_NA_4-1">NA</label>
                      <input type="radio" id="rad_Si_4-1" name="rad_4-1" value="Si"><label for="rad_Si_4-1">Si</label>
                      <input type="radio" id="rad_No_4-1" name="rad_4-1" value="No"><label for="rad_No_4-1">No</label>
                    </div>
                    <div>
                      <textarea class="input-medium" placeholder="OBS" class="CTInt_Obs"></textarea>
                    </div>
                 </div>
              </div>
            <div class="control-group" id="CTInt_radio_Contenedor_4-2">
                 <label class="control-label"> En caso de rechazo, se le informó al cliente el motivo?</label>
                 <div class="controls">
                    <div class="span2 CTInt_radio" id="CTInt_radio_4-2">
                      <input type="radio" id="rad_NA_4-2" name="rad_4-2" checked="checked" value="NA"><label for="rad_NA_4-2">NA</label>
                      <input type="radio" id="rad_Si_4-2" name="rad_4-2" value="Si"><label for="rad_Si_4-2">Si</label>
                      <input type="radio" id="rad_No_4-2" name="rad_4-2" value="No"><label for="rad_No_4-2">No</label>
                    </div>
                    <div>
                      <textarea class="input-medium" placeholder="OBS" class="CTInt_Obs"></textarea>
                    </div>
                 </div>
              </div>
            <div class="control-group" id="CTInt_radio_Contenedor_4-3">
                 <label class="control-label"> Se le explicó al cliente la oferta comercial?</label>
                 <div class="controls">
                    <div class="span2 CTInt_radio" id="CTInt_radio_4-3">
                      <input type="radio" id="rad_NA_4-3" name="rad_4-3" checked="checked" value="NA"><label for="rad_NA_4-3">NA</label>
                      <input type="radio" id="rad_Si_4-3" name="rad_4-3" value="Si"><label for="rad_Si_4-3">Si</label>
                      <input type="radio" id="rad_No_4-3" name="rad_4-3" value="No"><label for="rad_No_4-3">No</label>
                    </div>
                    <div>
                      <textarea class="input-medium" placeholder="OBS" class="CTInt_Obs"></textarea>
                    </div>
                 </div>
              </div>
            <div class="control-group" id="CTInt_radio_Contenedor_4-4">
                 <label class="control-label"> Se le explicó al cliente la garantía de las obras realizadas?</label>
                 <div class="controls">
                    <div class="span2 CTInt_radio" id="CTInt_radio_4-4">
                      <input type="radio" id="rad_NA_4-4" name="rad_4-4" checked="checked" value="NA"><label for="rad_NA_4-4">NA</label>
                      <input type="radio" id="rad_Si_4-4" name="rad_4-4" value="Si"><label for="rad_Si_4-4">Si</label>
                      <input type="radio" id="rad_No_4-4" name="rad_4-4" value="No"><label for="rad_No_4-4">No</label>
                    </div>
                    <div>
                      <textarea class="input-medium" placeholder="OBS" class="CTInt_Obs"></textarea>
                    </div>
                 </div>
              </div>
            <div class="control-group" id="CTInt_radio_Contenedor_4-5">
                 <label class="control-label"> La dirección escrita en el acta está completa y correcta?</label>
                 <div class="controls">
                    <div class="span2 CTInt_radio" id="CTInt_radio_4-5">
                      <input type="radio" id="rad_NA_4-5" name="rad_4-5" checked="checked" value="NA"><label for="rad_NA_4-5">NA</label>
                      <input type="radio" id="rad_Si_4-5" name="rad_4-5" value="Si"><label for="rad_Si_4-5">Si</label>
                      <input type="radio" id="rad_No_4-5" name="rad_4-5" value="No"><label for="rad_No_4-5">No</label>
                    </div>
                    <div>
                      <textarea class="input-medium" placeholder="OBS" class="CTInt_Obs"></textarea>
                    </div>
                 </div>
              </div>
            <div class="control-group" id="CTInt_radio_Contenedor_4-6">
                 <label class="control-label"> Se realizaron pruebas al medidor instalado?</label>
                 <div class="controls">
                    <div class="span2 CTInt_radio" id="CTInt_radio_4-6">
                      <input type="radio" id="rad_NA_4-6" name="rad_4-6" checked="checked" value="NA"><label for="rad_NA_4-6">NA</label>
                      <input type="radio" id="rad_Si_4-6" name="rad_4-6" value="Si"><label for="rad_Si_4-6">Si</label>
                      <input type="radio" id="rad_No_4-6" name="rad_4-6" value="No"><label for="rad_No_4-6">No</label>
                    </div>
                    <div>
                      <textarea class="input-medium" placeholder="OBS" class="CTInt_Obs"></textarea>
                    </div>
                 </div>
              </div>
            <div class="control-group" id="CTInt_radio_Contenedor_4-7">
                 <label class="control-label"> Se devolvieron los materiales retirados al cliente?</label>
                 <div class="controls">
                    <div class="span2 CTInt_radio" id="CTInt_radio_4-7">
                      <input type="radio" id="rad_NA_4-7" name="rad_4-7" checked="checked" value="NA"><label for="rad_NA_4-7">NA</label>
                      <input type="radio" id="rad_Si_4-7" name="rad_4-7" value="Si"><label for="rad_Si_4-7">Si</label>
                      <input type="radio" id="rad_No_4-7" name="rad_4-7" value="No"><label for="rad_No_4-7">No</label>
                    </div>
                    <div>
                      <textarea class="input-medium" placeholder="OBS" class="CTInt_Obs"></textarea>
                    </div>
                 </div>
              </div>
            <div class="control-group" id="CTInt_radio_Contenedor_4-8">
                 <label class="control-label"> Le entregaron la carpeta de bienvenida?</label>
                 <div class="controls">
                    <div class="span2 CTInt_radio" id="CTInt_radio_4-8">
                      <input type="radio" id="rad_NA_4-8" name="rad_4-8" checked="checked" value="NA"><label for="rad_NA_4-8">NA</label>
                      <input type="radio" id="rad_Si_4-8" name="rad_4-8" value="Si"><label for="rad_Si_4-8">Si</label>
                      <input type="radio" id="rad_No_4-8" name="rad_4-8" value="No"><label for="rad_No_4-8">No</label>
                    </div>
                    <div>
                      <textarea class="input-medium" placeholder="OBS" class="CTInt_Obs"></textarea>
                    </div>
                 </div>
              </div>
           </div>
           <div class="tab-pane" id="frmCTInt_tab5">
              <h4>TRANSFORMADOR DE DISTRIBUCIÓN (MACROS)</h4>
              <div class="control-group" id="CTInt_radio_Contenedor_5-1">
                 <label class="control-label"> El transformador tiene macromedidor?</label>
                 <div class="controls">
                    <div class="span2 CTInt_radio" id="CTInt_radio_5-1">
                      <input type="radio" id="rad_NA_5-1" name="rad_5-1" checked="checked" value="NA"><label for="rad_NA_5-1">NA</label>
                      <input type="radio" id="rad_Si_5-1" name="rad_5-1" value="Si"><label for="rad_Si_5-1">Si</label>
                      <input type="radio" id="rad_No_5-1" name="rad_5-1" value="No"><label for="rad_No_5-1">No</label>
                    </div>
                    <div>
                      <textarea class="input-medium" placeholder="OBS" class="CTInt_Obs"></textarea>
                    </div>
                 </div>
              </div>
            <div class="control-group noMostrar" id="CTInt_radio_Contenedor_5-2">
                 <label class="control-label"> Si no tiene macromedidor, hay posibilidad de instalarlo?</label>
                 <div class="controls">
                    <div class="span2 CTInt_radio" id="CTInt_radio_5-2">
                      <input type="radio" id="rad_NA_5-2" name="rad_5-2" checked="checked" value="NA"><label for="rad_NA_5-2">NA</label>
                      <input type="radio" id="rad_Si_5-2" name="rad_5-2" value="Si"><label for="rad_Si_5-2">Si</label>
                      <input type="radio" id="rad_No_5-2" name="rad_5-2" value="No"><label for="rad_No_5-2">No</label>
                    </div>
                    <div>
                      <textarea class="input-medium" placeholder="OBS" class="CTInt_Obs"></textarea>
                    </div>
                 </div>
              </div>
            <div class="control-group noMostrar" id="CTInt_radio_Contenedor_5-3">
                 <label class="control-label"> El transformador se encuentra en buen estado?</label>
                 <div class="controls">
                    <div class="span2 CTInt_radio" id="CTInt_radio_5-3">
                      <input type="radio" id="rad_NA_5-3" name="rad_5-3" checked="checked" value="NA"><label for="rad_NA_5-3">NA</label>
                      <input type="radio" id="rad_Si_5-3" name="rad_5-3" value="Si"><label for="rad_Si_5-3">Si</label>
                      <input type="radio" id="rad_No_5-3" name="rad_5-3" value="No"><label for="rad_No_5-3">No</label>
                    </div>
                    <div>
                      <textarea class="input-medium" placeholder="OBS" class="CTInt_Obs"></textarea>
                    </div>
                 </div>
              </div>
            <div class="control-group noMostrar" id="CTInt_radio_Contenedor_5-4">
                 <label class="control-label"> Las redes se encuentran en buen estado?</label>
                 <div class="controls">
                    <div class="span2 CTInt_radio" id="CTInt_radio_5-4">
                      <input type="radio" id="rad_NA_5-4" name="rad_5-4" checked="checked" value="NA"><label for="rad_NA_5-4">NA</label>
                      <input type="radio" id="rad_Si_5-4" name="rad_5-4" value="Si"><label for="rad_Si_5-4">Si</label>
                      <input type="radio" id="rad_No_5-4" name="rad_5-4" value="No"><label for="rad_No_5-4">No</label>
                    </div>
                    <div>
                      <textarea class="input-medium" placeholder="OBS" class="CTInt_Obs"></textarea>
                    </div>
                 </div>
              </div>
            <div class="control-group" id="CTInt_radio_Contenedor_5-5">
                 <label class="control-label"> La caja del macromedidor está instalada correctamente?</label>
                 <div class="controls">
                    <div class="span2 CTInt_radio" id="CTInt_radio_5-5">
                      <input type="radio" id="rad_NA_5-5" name="rad_5-5" checked="checked" value="NA"><label for="rad_NA_5-5">NA</label>
                      <input type="radio" id="rad_Si_5-5" name="rad_5-5" value="Si"><label for="rad_Si_5-5">Si</label>
                      <input type="radio" id="rad_No_5-5" name="rad_5-5" value="No"><label for="rad_No_5-5">No</label>
                    </div>
                    <div>
                      <textarea class="input-medium" placeholder="OBS" class="CTInt_Obs"></textarea>
                    </div>
                 </div>
              </div>
            <div class="control-group" id="CTInt_radio_Contenedor_5-6">
                 <label class="control-label"> El medidor registra consumo?</label>
                 <div class="controls">
                    <div class="span2 CTInt_radio" id="CTInt_radio_5-6">
                      <input type="radio" id="rad_NA_5-6" name="rad_5-6" checked="checked" value="NA"><label for="rad_NA_5-6">NA</label>
                      <input type="radio" id="rad_Si_5-6" name="rad_5-6" value="Si"><label for="rad_Si_5-6">Si</label>
                      <input type="radio" id="rad_No_5-6" name="rad_5-6" value="No"><label for="rad_No_5-6">No</label>
                    </div>
                    <div>
                      <textarea class="input-medium" placeholder="OBS" class="CTInt_Obs"></textarea>
                    </div>
                 </div>
              </div>
            <div class="control-group" id="CTInt_radio_Contenedor_5-7">
                 <label class="control-label"> La altura de instalación del macromedidor es apropiada?</label>
                 <div class="controls">
                    <div class="span2 CTInt_radio" id="CTInt_radio_5-7">
                      <input type="radio" id="rad_NA_5-7" name="rad_5-7" checked="checked" value="NA"><label for="rad_NA_5-7">NA</label>
                      <input type="radio" id="rad_Si_5-7" name="rad_5-7" value="Si"><label for="rad_Si_5-7">Si</label>
                      <input type="radio" id="rad_No_5-7" name="rad_5-7" value="No"><label for="rad_No_5-7">No</label>
                    </div>
                    <div>
                      <textarea class="input-medium" placeholder="OBS" class="CTInt_Obs"></textarea>
                    </div>
                 </div>
              </div>
            <div class="control-group" id="CTInt_radio_Contenedor_5-8">
                 <label class="control-label"> La lectura del macromedidor es visible?</label>
                 <div class="controls">
                    <div class="span2 CTInt_radio" id="CTInt_radio_5-8">
                      <input type="radio" id="rad_NA_5-8" name="rad_5-8" checked="checked" value="NA"><label for="rad_NA_5-8">NA</label>
                      <input type="radio" id="rad_Si_5-8" name="rad_5-8" value="Si"><label for="rad_Si_5-8">Si</label>
                      <input type="radio" id="rad_No_5-8" name="rad_5-8" value="No"><label for="rad_No_5-8">No</label>
                    </div>
                    <div>
                      <textarea class="input-medium" placeholder="OBS" class="CTInt_Obs"></textarea>
                    </div>
                 </div>
              </div>
            <div class="control-group noMostrar" id="CTInt_radio_Contenedor_5-9">
                 <label class="control-label"> Se informó a los clientes sobre el corte del servicio para la instalación o mantenimiento del macromedidor?</label>
                 <div class="controls">
                    <div class="span2 CTInt_radio" id="CTInt_radio_5-9">
                      <input type="radio" id="rad_NA_5-9" name="rad_5-9" checked="checked" value="NA"><label for="rad_NA_5-9">NA</label>
                      <input type="radio" id="rad_Si_5-9" name="rad_5-9" value="Si"><label for="rad_Si_5-9">Si</label>
                      <input type="radio" id="rad_No_5-9" name="rad_5-9" value="No"><label for="rad_No_5-9">No</label>
                    </div>
                    <div>
                      <textarea class="input-medium" placeholder="OBS" class="CTInt_Obs"></textarea>
                    </div>
                 </div>
              </div>
            <div class="control-group noMostrar" id="CTInt_radio_Contenedor_5-10">
                 <label class="control-label"> El corte se realizó en el horario indicado?</label>
                 <div class="controls">
                    <div class="span2 CTInt_radio" id="CTInt_radio_5-10">
                      <input type="radio" id="rad_NA_5-10" name="rad_5-10" checked="checked" value="NA"><label for="rad_NA_5-10">NA</label>
                      <input type="radio" id="rad_Si_5-10" name="rad_5-10" value="Si"><label for="rad_Si_5-10">Si</label>
                      <input type="radio" id="rad_No_5-10" name="rad_5-10" value="No"><label for="rad_No_5-10">No</label>
                    </div>
                    <div>
                      <textarea class="input-medium" placeholder="OBS" class="CTInt_Obs"></textarea>
                    </div>
                 </div>
              </div>
            <div class="control-group noMostrar" id="CTInt_radio_Contenedor_5-11">
                 <label class="control-label"> Se verificó el servicio a los clientes después de la operación?</label>
                 <div class="controls">
                    <div class="span2 CTInt_radio" id="CTInt_radio_5-11">
                      <input type="radio" id="rad_NA_5-11" name="rad_5-11" checked="checked" value="NA"><label for="rad_NA_5-11">NA</label>
                      <input type="radio" id="rad_Si_5-11" name="rad_5-11" value="Si"><label for="rad_Si_5-11">Si</label>
                      <input type="radio" id="rad_No_5-11" name="rad_5-11" value="No"><label for="rad_No_5-11">No</label>
                    </div>
                    <div>
                      <textarea class="input-medium" placeholder="OBS" class="CTInt_Obs"></textarea>
                    </div>
                 </div>
              </div>
            <div class="control-group noMostrar" id="CTInt_radio_Contenedor_5-12">
                 <label class="control-label"> Se reportó al centro de control la apertura?</label>
                 <div class="controls">
                    <div class="span2 CTInt_radio" id="CTInt_radio_5-12">
                      <input type="radio" id="rad_NA_5-12" name="rad_5-12" checked="checked" value="NA"><label for="rad_NA_5-12">NA</label>
                      <input type="radio" id="rad_Si_5-12" name="rad_5-12" value="Si"><label for="rad_Si_5-12">Si</label>
                      <input type="radio" id="rad_No_5-12" name="rad_5-12" value="No"><label for="rad_No_5-12">No</label>
                    </div>
                    <div>
                      <textarea class="input-medium" placeholder="OBS" class="CTInt_Obs"></textarea>
                    </div>
                 </div>
              </div>
           </div>
           <div class="tab-pane" id="frmCTInt_tab6">
              <h4>CUMPLIMIENTO DEL PROCEDIMIENTO</h4>
              <div class="control-group" id="CTInt_radio_Contenedor_6-1">
                 <label class="control-label">Se cumplió con el procedimiento establecido para la actividad?</label>
                 <div class="controls">
                    <div class="span2 CTInt_radio" id="CTInt_radio_6-1">
                      <input type="radio" id="rad_NA_6-1" name="rad_6-1" checked="checked" value="NA"><label for="rad_NA_6-1">NA</label>
                      <input type="radio" id="rad_Si_6-1" name="rad_6-1" value="Si"><label for="rad_Si_6-1">Si</label>
                      <input type="radio" id="rad_No_6-1" name="rad_6-1" value="No"><label for="rad_No_6-1">No</label>
                    </div>
                    <div>
                      <textarea class="input-medium" placeholder="OBS" class="CTInt_Obs"></textarea>
                    </div>
                 </div>
              </div>
           </div>
        </div>
        <div class="form-actions clearfix">
           <a href="javascript:;" class="btn button-previous" id="frmCTInt_button-previous">
           <i class="icon-angle-left"></i> Anterior 
           </a>
           <a href="javascript:;" class="btn btn-primary blue button-next" id="frmCTInt_button-next"> Siguiente <i class="icon-angle-right"></i>
           </a>
           <a href="javascript:;" class="btn btn-success button-submit">
           Guardar <i class="icon-ok"></i>
           </a>
        </div>
     </div>
  </form>
  <script type="text/javascript">

    var CT_Int_Obs;

    $("#frmCTInt .button-submit").on("click", function()
    {
      CT_Int_Obs = {};
      var obj = $("#frmCTInt .CTInt_radio");
      var idObj;
      var objTxt;
      $.each(obj, function(index, objeto)
        {
          idObj = $(objeto).attr("id").replace("CTInt_radio_", "");
          objTxt = $("#CTInt_radio_Contenedor_" + idObj).find("textarea");

          CT_Int_Obs[idObj] = {"Val" : $('input:radio[name=rad_' + idObj + ']:checked').val(), "Obs" : $(objTxt).val()};
        });
      var idInspeccion = $("#frmCTInt").attr("idInspeccion");
      $.post("php/comercial/CTINT.php", {Interventoria : CT_Int_Obs, idComercial: idInspeccion}, 
        function(data)
        {
          if (data > 0)
          {
            Mensaje("Ok", "La Interventoría ha sido almacenada.");
            $("#modulo_CT_Int").remove();
            $("#txtPrefijo").val("");
            //$(this).cargarModulo({pagina : "comercial", titulo : "Comercial", icono : "icon-copy"});
          } else
          {
            Mensaje("Error", "Hubo un error, por favor revise los datos ingresados.");
          }

        }).always(function() 
              {
                //Cuando Finaliza
              }).fail(function() {
                Mensaje("Error", "No fue posible almacenar La Ejecución, por favor intenta nuevamente.");
              });
      });

    $( ".CTInt_radio" ).buttonset();

    /*$("#CTInt_radio_1-1 input").on("click", function()
      {
        CTInt_MoverGrupo([
          {Objeto: "3-1", ValorTrue : 0, ValorFalse: 0},
          {Objeto: "3-2", ValorTrue : 0, ValorFalse: 0},
          {Objeto: "3-3", ValorTrue : 0, ValorFalse: 0},
          {Objeto: "3-6", ValorTrue : 0, ValorFalse: 0}], $("#rad_Si_1-1").is(':checked'));
      });*/

    $("#CTInt_radio_1-13 input").on("click", function()
      {
        CTInt_MoverGrupo([{Objeto: "1-14", ValorTrue : 1, ValorFalse: 2}], $("#rad_Si_1-13").is(':checked'));
      });
    
    $("#CTInt_radio_3-3 input").on("click", function()
      {
        CTInt_MoverGrupo([{Objeto: "3-4", ValorTrue : 1, ValorFalse: 0}, {Objeto: "3-5", ValorTrue : 1, ValorFalse: 0}], $("#rad_Si_3-3").is(':checked'));
      });

    $("#CTInt_radio_5-1 input").on("click", function()
      {
        if ($("#rad_No_5-1").is(':checked'))
        {
          CTInt_MoverGrupo([
            {Objeto: "5-2", ValorTrue : 0, ValorFalse: 0},
            {Objeto: "5-3", ValorTrue : 0, ValorFalse: 0},
            {Objeto: "5-4", ValorTrue : 0, ValorFalse: 0},
            {Objeto: "5-9", ValorTrue : 0, ValorFalse: 0},
            {Objeto: "5-10", ValorTrue : 0, ValorFalse: 0},
            {Objeto: "5-11", ValorTrue : 0, ValorFalse: 0},
            {Objeto: "5-12", ValorTrue : 0, ValorFalse: 0}
            ], $("#rad_No_5-1").is(':checked'));  
        }
        if ($("#rad_Si_5-1").is(':checked'))
        {
          CTInt_MoverGrupo([{Objeto: "5-2", ValorTrue : 0, ValorFalse: 0}], $("#rad_No_5-1").is(':checked'));
        }
      });

  
    $("#frmCTInt .button-submit").hide();
    $("#frmCTInt .button-previous").hide();

    $("#frmCTInt").bootstrapWizard({
        'nextSelector': '#frmCTInt_button-next',
        'previousSelector': '#frmCTInt_button-previous',
        onTabClick: function (tab, navigation, index) {
            var total = navigation.find('li').length;
            var current = index + 1;
            // set wizard title
            //App.scrollTo($('#bar'));

        },
        onNext: function (tab, navigation, index) {
            var total = navigation.find('li').length;
            var current = index + 1;
            // set done steps
        },
        onPrevious: function (tab, navigation, index) {
            var total = navigation.find('li').length;
            var current = index + 1;
            // set wizard title
        },
        onTabShow: function (tab, navigation, index) {
          $("#frmCTInt .page-title:visible").text($(tab).find(".desc").text());
            var total = navigation.find('li').length;
            //var current = index + 1;
            var li_list = navigation.find('li');
            jQuery(li_list[index]).addClass("done");
            var current = $(".done").length;
            var $percent = (current / total) * 100;
            current = index + 1;
            previusNextWizard(current, total, $("#frmCTInt"));

            $('#frmCTInt').find('.bar').css({
                width: $percent + '%'
            });
        }
    });
    function previusNextWizard(current, total, objForm)
    {
      if (current == 1) {
            $(objForm).find('.button-previous').hide();
        } else {
            $(objForm).find('.button-previous').show();
        }

        if (current >= total) {
            $(objForm).find('.button-next').hide();
            $(objForm).find('.button-submit').show();
        } else {
            $(objForm).find('.button-next').show();
            $(objForm).find('.button-submit').hide();
        }
    }
    function CTInt_MoverGrupo(objArray, valorSeleccionado)
    {
      if (valorSeleccionado)
      {
        $.each(objArray, function(index, value)
        {
          $("input:radio[name=rad_" + value.Objeto + "]")[value.ValorTrue].checked = true;
          $("#CTInt_radio_" + value.Objeto).buttonset("refresh");
          $("#CTInt_radio_Contenedor_" + value.Objeto).slideDown();
        });  
      } else
      {
        $.each(objArray, function(index, value)
        {
          $("input:radio[name=rad_" + value.Objeto + "]")[value.ValorFalse].checked = true;
          $("#CTInt_radio_" + value.Objeto).buttonset("refresh");
          $("#CTInt_radio_Contenedor_" + value.Objeto).slideUp();
        });  
      }
    }
  </script>
  <!-- END PAGE CONTENT-->