<!-- BEGIN PAGE CONTENT-->
      <form id="frmEditarIpal" class="form-horizontal">
          <div class="control-group">
              <label class="control-label">Empresa</label>
              <div class="controls">
                  <select placeholder="Empresa" class="input-large" id='txtEditarIpal_Nombre'>
                    <option value=''>Seleccione una Empresa</option>
                    <option value='CAM'>CAM</option>
                    <option value='MICOL'>MICOL</option>
                    <option value='DELTEC'>DELTEC</option>
                    <option value='MEC'>MEC</option>
                    <option value='JMSedinko'>JMSedinko</option>
                    <option value='1'>Otra</option>
                  </select>
              </div>
          </div>
          <div class="control-group">
              <label class="control-label">Dirección</label>
              <div class="controls">
                  <input type="text" placeholder="Dirección" class="input-xlarge" id='txtEditarIpal_Direccion' required/>
              </div>
          </div>
          <div class="control-group">
              <label class="control-label">Cel/Avantel</label>
              <div class="controls">
                  <input type="number" placeholder="Cel/Avantel" class="input-large" id='txtEditarIpal_Celular' required/>
              </div>
          </div>
          <div class="control-group">
              <label class="control-label">Tipo Vehículo</label>
              <div class="controls">
                  <input type="text" placeholder="Tipo Vehículo" class="input-large" id='txtEditarIpal_TipoVehiculo' />
              </div>
          </div>
          <div class="control-group">
              <label class="control-label">Placa Vehículo</label>
              <div class="controls">
                  <input type="text" placeholder="Placa Vehículo" class="input-large" id='txtEditarIpal_PlacaVehiculo' />
              </div>
          </div>
          <div class="control-group">
              <label class="control-label">Placa Grua</label>
              <div class="controls">
                  <input type="text" placeholder="Placa Grua" class="input-large" id='txtEditarIpal_PlacaGrua' />
              </div>
          </div>
          <div class="control-group">
              <label class="control-label">Placa Canasta</label>
              <div class="controls">
                  <input type="text" placeholder="Placa Canasta" class="input-large" id='txtEditarIpal_PlacaCanasta' />
              </div>
          </div>
          <div class="control-group">
              <label class="control-label">Placa Moto</label>
              <div class="controls">
                  <input type="text" placeholder="Placa Moto" class="input-large" id='txtEditarIpal_PlacaMoto' />
              </div>
          </div>
        
          <div class="control-group">
              <label class="control-label">No. Contrato</label>
              <div class="controls">
                  <input type="text" placeholder="No. Contrato" class="input-large" id='txtEditarIpal_NoContrato' required>
              </div>
          </div>
          <div class="control-group">
              <label class="control-label">Trabajo a Realizar</label>
              <div class="controls">
                  <input type="text" placeholder="Trabajo a Realizar" class="input-xlarge" id='txtEditarIpal_Trabajo' required>
              </div>
          </div>
          <div class="control-group">
              <label class="control-label">Proceso</label>
              <div class="controls">
                  <input type="text" placeholder="Proceso" class="input-xlarge" id='txtEditarIpal_Proceso' required>
              </div>
          </div>
          <div class="control-group">
              <label class="control-label">Zona E.E.C</label>
              <div class="controls">
                  <select placeholder="Zona E.E.C" class="input-large" id='txtEditarIpal_Zona'>
                    <option value='11'>Sin Clasificar</option>
                    <option value='0'>Villeta</option>
                    <option value='1'>La Palma</option>
                    <option value='2'>Facatativá</option>
                    <option value='3'>Girardot</option>
                    <option value='4'>La Mesa</option>
                    <option value='5'>Fusagasugá</option>
                    <option value='6'>Cáqueza</option>
                    <option value='7'>Gachetá</option>
                    <option value='8'>Chocontá</option>
                    <option value='9'>Pacho</option>
                    <option value='10'>Todas</option>
                  </select>
              </div>
          </div>

        <h4>Cuadrilla</h4>

         <table class="table table-striped table-hover table-bordered" id="tableEditarIpalCuadrilla">
              <thead>
              <tr>
                  <th class="span2">Cedula</th>
                  <th class="span6">Nombres y Apellidos</th>
                  <th class="span2">Función Cargo</th>
                  <th class="span2"></th>
              </tr>
              </thead>
              <tbody></tbody>
          </table>
       
        <h4>Items Evaluados</h4>
         <table class="table table-striped table-hover table-bordered" id="tableEditarIpalResultados">
              <thead>
              <tr>
                  <th>Numeral</th>
                  <th>Descripción</th>
                  <th>Resultado</th>
                  <th>Observaciones</th>
                  <th>x</th>
              </tr>
              </thead>
              <tbody></tbody>
          </table>

        

          <div class="control-group">
              <label class="control-label">Observaciones</label>
              <div class="controls">
                <div class="input-prepend">
                  <textarea class="input-xxlarge" placeholder='Observaciones de la Inspección' rows="3" id="txtEditarIpal_Observaciones"></textarea>
                </div>
              </div>
          </div>
          
           <div class="control-group">
              <label class="control-label">Recibió:</label>
              <div class="controls">
                 <div class="input-prepend">
                    <span class="add-on  icon-credit-card"></span><input class="input-large" type="text" placeholder="Inspección recibida por" id="txtEditarIpal_Recibio" required >
                 </div>
              </div>
           </div>
           <div class="control-group">
              <label class="control-label">Cargo-Empresa:</label>
              <div class="controls">
                 <div class="input-prepend">
                    <span class="add-on icon-barcode"></span><input class="input-large" type="text" placeholder="Cargo-Empresa" id="txtEditarIpal_RecibioCargo" required >
                 </div>
              </div>
           </div>
          <div class="control-group">
              <label class="control-label">Resultado Final:</label>
              <div class="controls">
                 <div class="input-prepend">
                    <select id="txtEditarIpal_Resultado">
                      <option value="Cumple">Cumple</option>
                      <option value="Rechazada">Rechazada</option>
                    </select>
                 </div>
              </div>
           </div>
          
          <div id="ContenedorIframes" class="span12">
            <iframe id="ipalSubir" scrolling="no" class="span12"></iframe>
          </div>

            <div class="form-actions">
                <button type="submit" class="btn btn-success"><i class="icon-ok"></i> Guardar</button>
            </div>


      </form>
            <!-- END PAGE CONTENT-->
   <script>
      jQuery(document).ready(function() {       
         // initiate layout and plugins
         editarIpal();
      });
   </script>
   <!-- END JAVASCRIPTS -->   
