<div>
  <form id="frmFactura" class="control-group">
      <label class="control-label">Fecha</label>
      <div class="controls">
          <input class="m-wrap small" size="16" type="text" value="" id="txtFactura_Desde" required/>
          <span class="text-inline">&nbsp;Hasta&nbsp;</span>
          <input class="m-wrap small" size="16" type="text" value="" id="txtFactura_Hasta" required/>
          <img src="assets\pre-loader\Sun.gif" class="noMostrar icoCargando">
          <button class="btn btn-success" type="submit"><i class="icon-search"></i> Buscar</button>
      </div>
  </form>
  <div class="widget-body">
    <table class="table table-striped table-hover" id="tblFactura">
      <thead>
          <tr>
            <th class="span2">#</th>
            <th>Tipo</th>
            <th>Item</th>
            <th>Zona</th>
            <th>SubZona</th>
            <th>Municipio</th>
            <th>Costo Unitario</th>
            <th>Cantidad</th>
            <th>Total</th>
          </tr>
      </thead>
      <tbody></tbody>
    </table>
     <div class="space20"></div>
      <div class="row-fluid">
          <div class="span4 invoice-block pull-right">
              <ul class="unstyled amounts">
                  <li id="lblFactura_TotalInspecciones" class="alert-info"><strong>Total Inspecciones : </strong><span>0</span></li>
                  <li id="lblFactura_SubTotal"><strong>SubTotal : </strong><span>0</span></li>
                  <li id="lblFactura_IVA"><strong>IVA : </strong><span>0</span></li>
                  <li id="lblFactura_Total"><strong>Gran Total : </strong><span>0</span></li>
              </ul>
          </div>
      </div>
      <div class="space20"></div>
  </div>
</div>
   <!-- BEGIN JAVASCRIPTS -->
   <!-- Load javascripts at bottom, this will reduce page load time -->
   <script>
      jQuery(document).ready(function() {       
         // initiate layout and plugins
         factura();
           fechasRango($("#txtFactura_Desde"), $("#txtFactura_Hasta"));

        var f = new Date();
        f = f.getFullYear() + "-" + CompletarConCero(f.getMonth() +1, 2) + "-" + CompletarConCero(f.getDate(), 2);
        $("#txtFactura_Desde").val(f);
        $("#txtFactura_Hasta").val(f);
      });
   </script>
</body>
<!-- END BODY -->