<div class="row-fluid" id="frmDetalleMateriales">
 <div class="span6">
   <img id="txtMaterialesDetalle_Imagen" src="">
 </div>
 <div class="span6">
        <span>Id: </span>
        <strong id="txtMaterialesDetalle_Id"></strong><br/>
        <span>Nombre: </span>
        <strong id="txtMaterialesDetalle_Nombre"></strong><br/>
        <span>Marca: </span>
        <strong id="txtMaterialesDetalle_Marca"></strong><br/>
        <span>Referencia: </span>
        <strong id="txtMaterialesDetalle_Referencia"></strong><br/>
        <span>Fecha Compra: </span>
        <strong id="txtMaterialesDetalle_FechaCompra"></strong><br/>
        <span>Fecha Asignación: </span>
        <strong id="txtMaterialesDetalle_FechaAsignacion"></strong><br/>
        <span>Usuario: </span>
        <strong id="txtMaterialesDetalle_Usuario"></strong><br/>
        <span>Valor: </span>
        <strong id="txtMaterialesDetalle_Valor"></strong><br/>
        <span>Desripción: </span>
        <strong id="txtMaterialesDetalle_Descripcion"></strong><br/>
        <span>Accesorios: </span>
        <strong id="txtMaterialesDetalle_Accesorios"></strong><br/>
        <span>Observaciones: </span>
        <strong id="txtMaterialesDetalle_Observaciones"></strong><br/>
        <span>Estado: </span>
        <strong id="txtMaterialesDetalle_Estado" class="label"></strong><br/>
 </div>
 <div id="frmMaterialesDetalle_Entrega">
    <h4 class="label label-success span10">Detalles de Entrega</h4>
    <div  class="row-fluid">
        <div class="span6">
            <img id="txtMaterialesDetalle_ImagenEntrega" src="">
        </div>
        <div class="span6">
            <span>Recibió: </span>
            <strong id="txtMaterialesDetalle_Recibio"></strong><br/>
            <span>Fecha Entrega: </span>
            <strong id="txtMaterialesDetalle_FechaEntrega"></strong><br/>
            <span>Detalles Entrega: </span>
            <strong id="txtMaterialesDetalle_DetalleEntrega"></strong><br/>
        </div>
    </div>
 </div>
 <div class="form-actions">
    <form id="frmEntregarMaterial" class="form-horizontal span12 " idMaterial="idMaterial" >
        <h4 class="label label-info span12">Entregar</h4>
        <div class="control-group">
            <label class="control-label">Descripción</label>
            <div class="controls">
                <textarea class="input-xxlarge" placeholder='Descripción' rows="3" id='txtMaterialesDetalle_ObservacionesEntrega' required></textarea>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Cargar Foto</label>
            <div class="controls">
                <div class="fileupload fileupload-new" data-provides="fileupload">
                    <div class="fileupload-new thumbnail" style="width: 200px; height: 150px;">
                        <img id="txtMaterialesDetalle_FotoEntrega" src="img/photo.jpg" alt="" />
                    </div>
                    <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 200px; max-height: 150px; line-height: 20px;"></div>
                    <div>
               <span class="btn btn-file"><span class="fileupload-new">Cargar imagen</span>
               <span class="fileupload-exists">Cambiar</span>
               <input type="file" class="default" /></span>
                        <a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Quitar</a>
                    </div>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-large btn-danger span4 offset8">Entregar</button>
    </form>
  </div>
</div>
    <script type="text/javascript">
      verMaterialesDetalle();
   </script>