    <li id='mnuInicio' pagina='Inicio' icono='icon-dashboard'><a href="javascript:;" class=""><span class="icon-box"><i class="icon-dashboard"></i></span>Inicio</a></li>
<li id='mnuContratos' class="has-sub">
    <a href="javascript:;" class="">
        <span class="icon-box"> <i class="icon-book"></i></span> OT
        <span class="arrow"></span>
    </a>
    <ul class="sub">
        <li id='mnuVerContratos' pagina='verContratos' icono='icon-search'><a class=""><i class="icon-search"></i>Ver Orden</a></li>
        <li id='mnuCrearContratos' pagina='crearContrato' icono='icon-file'><a class=""><i class="icon-file"></i>Crear Orden</a></li>
        <li id='mnuCrearOt' pagina='subir/index2' icono='icon-upload-alt'><a class=""><i class="icon-upload-alt"></i>Enviar Orden</a></li>
    </ul>
</li>
<!--
<li id='mnuNovedades' class="has-sub">
    <a href="javascript:;" class="">
        <span class="icon-box"> <i class="icon-cogs"></i></span> Novedades
        <span class="arrow"></span>
    </a>
    <ul class="sub">
        <!--<li id='mnuVerEmpresas' pagina='verNovedades' icono='icon-search'><a class=""><i class="icon-search"></i>Buscar en Novedades</a></li>--><!--
        
    </ul>
</li>-->
<li id='mnuUsuarios' class="has-sub">
    <a href="javascript:;" class="">
        <span class="icon-box"> <i class="icon-group"></i></span> Usuarios
        <span class="arrow"></span>
    </a>
    <ul class="sub">
        <li id='mnuVerUsuarios' pagina='verUsuarios' icono='icon-user-md'><a class=""><i class="icon-user-md"></i>Ver Usuarios</a></li>
        <li id='mnuCrearPerfil' pagina='crearPerfil' icono='icon-filter'><a class=""><i class="icon-filter"></i>Crear Perfil</a></li>
        <li id='mnuCrearUsuario' pagina='crearUsuario' icono='icon-user'><a class=""><i class="icon-user"></i>Crear Usuario</a></li>
        <li id='mnuCrearVehiculo' pagina='crearVehiculo' icono='icon-truck'><a class=""><i class="icon-truck"></i>Crear Vehiculo</a></li>
    </ul>
</li>
<li id='mnuUsuarios' class="has-sub">
    <a href="javascript:;" class="">
        <span class="icon-box"> <i class="icon-signal"></i></span> Rendimientos
        <span class="arrow"></span>
    </a>
    <ul class="sub">
        <!--<li id='mnuVerUsuarios' pagina='404' icono='icon-user-md'><a class=""><i class="icon-user-md"></i>Por Usuario</a></li>-->
        <li id='mnuANS' pagina='ans' icono='icon-flag'><a class=""><i class="icon-flag"></i>ANS</a></li>
        <!--<li id='mnuCrearPerfil' pagina='404' icono='icon-bar-chart'><a class=""><i class="icon-bar-chart"></i>Gráficas</a></li>-->
    </ul>
</li>
<li id='mnuEntrada' class="has-sub">
    <a href="javascript:;" class="">
        <span class="icon-box"> <i class=" icon-inbox"></i></span> Entrada
        <span class="arrow"></span>
    </a>
    <ul class="sub">
        <li id='mnuMensajes' pagina='inbox' icono='icon-envelope'><a class=""><i class="icon-envelope"></i>Mensajes</a></li>
    </ul>
</li>
<li id='mnuDocumental' class="has-sub">
    <a href="javascript:;" class="">
        <span class="icon-box"> <i class=" icon-copy"></i></span> Documental
        <span class="arrow"></span>
    </a>
    <ul class="sub">
        <li id='mnuDocumentalCrear' pagina='crearDocumento' icono='icon-paste'><a class=""><i class="icon-paste"></i>Crear Documento</a></li>
        <li id='mnuDocumentalVer' pagina='sgd' icono='icon-search'><a class=""><i class="icon-search"></i>Buscar Documentos</a></li>
        
        <!--<li id='mnuNotificaciones' pagina='404' icono='icon-bell'><a class=""><i class="icon-bell"></i>Notificaciones</a></li-->
    </ul>
</li>
<li id='mnuMateriales' class="has-sub">
    <a href="javascript:;" class="">
        <span class="icon-box"> <i class="icon-briefcase"></i></span> Materiales
        <span class="arrow"></span>
    </a>
    <ul class="sub">
        <li id='mnuVerMateriales' pagina='verMateriales' icono='icon-search'><a class=""><i class="icon-search"></i>Buscar Materiales</a></li>
        <li id='mnuCrearMaterial' pagina='crearMaterial' icono='icon-signin'><a class=""><i class="icon-signin"></i>Ingresar Material</a></li>
    </ul>
</li>
<!--
<li id='mnuIpal' pagina='ipal' icono='icon-edit'><a href="javascript:;" class=""><span class="icon-box"><i class="icon-edit"></i></span>IPAL</a></li>
<li id='mnuIpal' pagina='alumbrado' icono='icon-edit'><a href="javascript:;" class=""><span class="icon-box"><i class="icon-edit"></i></span>Alumbrado</a></li>
<li id='mnuComercial' pagina='comercial' icono='icon-edit'><a href="javascript:;" class=""><span class="icon-box"><i class="icon-edit"></i></span>Comercial</a></li>
<li id='mnuComercial' pagina='facturacion' icono='icon-edit'><a href="javascript:;" class=""><span class="icon-box"><i class="icon-edit"></i></span>Facturación</a></li>
-->

<li id='mnuEmpresas' class="has-sub">
    <a href="javascript:;" class="">
        <span class="icon-box"> <i class="icon-cogs"></i></span> Tecnica
        <span class="arrow"></span>
    </a>
    <ul class="sub">
        <li id='mnuVerEmpresas' pagina='Comercial_Apoyos' icono='icon-edit'><a class=""><i class="icon-edit"></i>Apoyos</a></li>
        <!--<li id='mnuVerEmpresas' pagina='tecnica_TramosBT' icono='icon-edit'><a class=""><i class="icon-edit"></i>Tramos BT</a></li>-->
        <li id='mnuVerEmpresas' pagina='tecnica_TramosMT' icono='icon-edit'><a class=""><i class="icon-edit"></i>Tramos</a></li>
        <li id='mnuVerEmpresas' pagina='tecnica_TrafoDist' icono='icon-edit'><a class=""><i class="icon-edit"></i>Transformadores de Dist</a></li>
        <li id='mnuVerEmpresas' pagina='tecnica_Pararrayos' icono='icon-edit'><a class=""><i class="icon-edit"></i>Pararrayos</a></li>
        <li id='mnuVerEmpresas' pagina='tecnica_TrafoDist' icono='icon-edit'><a class=""><i class="icon-edit"></i>Seccionadores</a></li>
        <li id='mnuVerEmpresas' pagina='tecnica_Pararrayos' icono='icon-edit'><a class=""><i class="icon-edit"></i>Reconectadores</a></li>
        <li id='mnuVerEmpresas' pagina='tecnica_TrafoDist' icono='icon-edit'><a class=""><i class="icon-edit"></i>Cortacircuitos</a></li>
        <li id='mnuVerEmpresas' pagina='tecnica_TrafoDist' icono='icon-edit'><a class=""><i class="icon-edit"></i>Cajas de Maniobra</a></li>
        <li id='mnuVerEmpresas' pagina='tecnica_TrafoDist' icono='icon-edit'><a class=""><i class="icon-edit"></i>Trans Potencial</a></li>
        <li id='mnuVerEmpresas' pagina='tecnica_TrafoDist' icono='icon-edit'><a class=""><i class="icon-edit"></i>VCR</a></li>
    </ul>
</li>
<li id='mnuPreoperacional' class="has-sub">
    <a href="javascript:;" class="">
        <span class="icon-box"> <i class="icon-book"></i></span> Preoperacional
        <span class="arrow"></span>
    </a>
    <ul class="sub">
        <li id='mnuPreoperacionalCrear' pagina='preoperacionalCrear' icono='icon-edit'><a class=""><i class="icon-edit"></i>Crear</a></li>
        <!--<li id='mnuPreoperacionalVer' pagina='preoperacionalVer' icono='icon-search'><a class=""><i class="icon-search"></i>Ver</a></li>-->
    </ul>
</li>
<li id='mnuInspeccion' pagina='postInspeccion' icono='icon-edit'><a href="javascript:;" class=""><span class="icon-box"><i class="icon-edit"></i></span>Realizar Inspección</a></li>
<li id='mnuReportes' class="has-sub">
    <a href="javascript:;" class="">
        <span class="icon-box"> <i class="icon-book"></i></span> Reportes
        <span class="arrow"></span>
    </a>
    <ul class="sub">
        <li id='mnuReporteInspecciones' pagina='reporteInspecciones' icono='icon-copy'><a class=""><i class="icon-copy"></i>Inspecciones</a></li>
        <li id='mnureporteParaFactura' pagina='reporteParaFactura' icono='icon-copy'><a class=""><i class="icon-copy"></i>Para Factura</a></li>
        <li id='mnureporteParaConciliacion' pagina='reporteParaConciliacion' icono='icon-copy'><a class=""><i class="icon-copy"></i>Conciliación</a></li>
        <li id='mnuReportesIpales' pagina='reporteIpales' icono='icon-copy'><a class=""><i class="icon-copy"></i>Ipales</a></li>
        <li id='mnuReportesIpalesCompleto' pagina='reporteIpalesCompleto' icono='icon-copy'><a class=""><i class="icon-copy"></i>Ipales Completo</a></li>
        <li id='mnuReportesComercial' pagina='reporteComercial' icono='icon-copy'><a class=""><i class="icon-copy"></i>Comercial</a></li>
        <li id='mnuReportesComercialCompleto' pagina='reporteComercialCompleto' icono='icon-copy'><a class=""><i class="icon-copy"></i>Comercial Completo</a
            ></li>
        <li id='mnuReportesPNC' pagina='reportePNC' icono='icon-copy'><a class=""><i class="icon-copy"></i> PNC</a></li>
        <li id='mnuReportesAlumbradoCompleto' pagina='reporteAlumbradoCompleto' icono='icon-copy'><a class=""><i class="icon-copy"></i>Alumbrado Completo</a></li>
        <li id='mnuReporteFacturacion' pagina='reporteGrupoFacturacion' icono='icon-copy'><a class=""><i class="icon-copy"></i>Facturación</a></li>
        <li id='mnuReporteFacturacionDetalle' pagina='reporteFacturacionDetalle' icono='icon-copy'><a class=""><i class="icon-copy"></i>Facturación Detalle</a></li>
    </ul>
</li>   

<li id='mnuReportes' class="has-sub">
    <a href="javascript:;" class="">
        <span class="icon-box"> <i class="icon-book"></i></span> NTC 2859
        <span class="arrow"></span>
    </a>
    <ul class="sub">
        <li id='mnuNTC2859' pagina='ntc2859' icono='icon-edit'><a class=""><i class="icon-edit"></i>Crear NTC 2859</a></li>
        <li id='mnuNTC2859_Reporte' pagina='reporteNTC2859' icono='icon-search'><a class=""><i class="icon-search"></i>Ver Reporte</a></li>
    </ul>
</li>   


<li id='mnuFactura' pagina='factura' icono='icon-money'><a href="javascript:;" class=""><span class="icon-box"><i class="icon-money"></i></span>Ver Factura</a></li>
<li id='mnuConfiguracion' class="has-sub">
    <a href="javascript:;" class="">
        <span class="icon-box"> <i class="icon-cogs"></i></span> Configuracion
        <span class="arrow"></span>
    </a>
    <ul class="sub">
        <li id='mnuIpal' pagina='editarTabla' icono='icon-table'><a href="javascript:;" class=""><i class="icon-table"></i></span>Tabla</a></li>
        <li id='mnuIpal' pagina='editarBaremo' icono='icon-edit'><a href="javascript:;" class=""><i class="icon-edit"></i></span>Baremo</a></li>
    </ul>
</li> 
<li id='mnuPruebas' class="has-sub">
    <a href="javascript:;" class="">
        <span class="icon-box"> <i class="icon-wrench"></i></span> Pruebas
        <span class="arrow"></span>
    </a>
    <ul class="sub">
        <li id='mnuIpal' pagina='ipal' icono='icon-edit'><a href="javascript:;" class=""><i class="icon-edit"></i></span>IPAL</a></li>
        <li id='mnuIpal' pagina='alumbrado' icono='icon-edit'><a href="javascript:;" class=""><i class="icon-edit"></i></span>Alumbrado</a></li>
        <li id='mnuIpal' pagina='comercial' icono='icon-edit'><a href="javascript:;" class=""><i class="icon-edit"></i></span>Comercial</a></li>
        <li id='mnuFacturacion' pagina='facturacion' icono='icon-edit'><a href="javascript:;" class=""><i class="icon-edit"></i></span>Facturación</a></li>
        <li id='mnuPrueba' pagina='CT_Int' icono='icon-edit'><a href="javascript:;" class=""><i class="icon-edit"></i></span>CT INT</a></li>
        <li id='mnuCrearNovedad' pagina='crearNovedad' icono='icon-user-md'><a class=""><i class="icon-user-md"></i>Crear Novedad</a></li>
        <li id='mnuEditarComercial' pagina='editarComercial' icono='icon-user-md'><a class=""><i class="icon-user-md"></i>Editar Comercial</a>
        <li id='mnuEditarIpal' pagina='editarIpal' icono='icon-user-md'><a class=""><i class="icon-user-md"></i>Editar Ipal</a></li>

    </ul>
</li> 

<script type="text/javascript">
    jQuery(document).ready(function() 
    {
     /*   if ((Usuario.id > 63 && Usuario.id < 69) || Usuario.id == 89)
        {
            $("#sideMenu li").hide();
            $("#mnuInicio").show("slide");
            $("#mnuContratos").show("slide");
            $("#mnuContratos li").show("slide");
            $("#mnuReportes").show("slide");
            $("#mnuReportes li").show("slide");
        }
        /**/$.post("php/privilegios.php", {usuario : Usuario.id}, 
            function(data) {
                $.each(data, function(index, value)
                    {
                        $("#" + value.idFuncion).remove();        
                    });
                
            }, "json").fail(function() {
                $("#sideMenu li").remove();
                Mensaje("Error", "No fue posible cargar las Funciones, por favor actuliza la página.");
            });
    });
</script>