<div id="ntc2859_Inspeccion_Contenedor">
  
</div>
<button class="btn btn-success btnNTC2859_Inspeccionador" Resultado="Aprobado"><i class="icon-ok"></i> Aprobar</button>
<button class="btn btn-danger btnNTC2859_Inspeccionador" Resultado="No Aprobado"><i class="icon-remove"></i> NO aprobar</button>
<label for="txtNTC2859_Observaciones">Observaciones:</label>
<textarea id="txtNTC2859_Observaciones" class="input-xxlarge" rows="2"></textarea>
   <!-- BEGIN JAVASCRIPTS -->
   <!-- Load javascripts at bottom, this will reduce page load time -->
   <script>
      jQuery(document).ready(function() 
      {       
        $(".btnNTC2859_Inspeccionador").on("click", function(evento)
          {
            evento.preventDefault();
            var res = $(this).attr("Resultado");
            $.post("php/ntc2859/guardarResultado.php", 
            {
              Prefijo : $("#txtPrefijo").val(),
              idInspeccion : inspeccionesRevisar[Opciones.indiceInspeccion],
              Resultado : res,
              Observaciones : $("#txtNTC2859_Observaciones").val(),
            }, function(data)
            {
              if (data == 1)
              {
                if (res = "No Aprobado")
                {
                  Opciones.noAprobadas = parseInt(parseInt(Opciones.noAprobadas) + 1);
                }
                $("#txtNTC2859_Observaciones").val("");

                Opciones.indiceInspeccion = parseInt(Opciones.indiceInspeccion) + 1;
                  if (Opciones.indiceInspeccion < Opciones.muestra)
                  {
                    cargarInspeccion();
                  } else
                  {
                    if (Opciones.noAprobadas > Opciones.margenRechazo)
                    {
                      Mensaje("Prueba Rechazada", "La evaluación no fue exitosa");
                      $("#txtNTC2859_Intento").val(parseInt($("#txtNTC2859_Intento").val()) + 1);
                      $("#modulo_ntc2859").cargarModulo({pagina : "ntc2859", titulo : "Crear NTC 2859", icono : "icon-dashboard"}, function()
                        {
                          $("#frmNTC2859").submit();
                          $("#modulo_ntc2859_Inspeccion").remove();
                        });
                    } else
                    {
                      Mensaje("Prueba Aprobada", "La evaluación fue exitosa");
                      $("#modulo_ntc2859_Inspeccion").remove();
                      $("#modulo_ntc2859").cargarModulo({pagina : "reporteNTC2859", titulo : "Reporte NTC 2859", icono : "icon-dashboard"});
                    }

                  }
              }
            });
          });
         function cargarInspeccion()
         {
          $.post("php/ntc2859/evaluarInspeccion.php", {idInspeccion : inspeccionesRevisar[Opciones.indiceInspeccion]},
            function(data)
            {
              $("#ntc2859_Inspeccion_Contenedor table").remove();
              
              var tds = "<table class='table table-borderless'><tbody>";
              $.each(data, function(index, value)
                {
                  tds += "<tr><td class='span4'>" + index + " :</td><td class='span6'>" + value + "</td></tr>";
                });
              tds += "</tbody></table>";
              $("#ntc2859_Inspeccion_Contenedor").append(tds);

            }, "json");
         }
        cargarInspeccion();
         
      });
   </script>
</body>
<!-- END BODY -->