<div>
  <form id="frmNTC2859" class="form-horizontal">
    <h4>Plan de muestreo múltiple para Inspección Normal</h4>
      <div class="control-group">
        <label class="control-label">Intento:</label>
        <div class="controls">
          <input type="text" class="input-mini" value="1" id="txtNTC2859_Intento" disabled>
        </div>
      </div>
      <div class="control-group">
          <label class="control-label">Fecha</label>
          <div class="controls">
              <input class="m-wrap small" size="16" type="text" value="" id="txtNTC2859_Desde" required/>
              <span class="text-inline">&nbsp;Hasta&nbsp;</span>
              <input class="m-wrap small" size="16" type="text" value="" id="txtNTC2859_Hasta" required/>
          </div>
      </div>
      <div class="control-group">
        <label class="control-label">Nivel de Inspección:</label>
        <div class="controls">
           <select class="chosen" data-placeholder="Seleccione un Tipo" tabindex="1" id="txtNTC2859_NivelInspeccion">
            <option value="I">I</option>
            <option value="II">II</option>
            <option value="III">III</option>
            <option value="S1">S1</option>
            <option value="S2">S2</option>
            <option value="S3">S3</option>
            <option value="S4">S4</option>
           </select>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">Nivel Aceptable de Calidad:</label>
        <div class="controls">
           <select class="chosen" data-placeholder="Seleccione un Tipo" tabindex="1" id="txtNTC2859_NAC">
            <option value='1'>0,01</option>
            <option value='2'>0,015</option>
            <option value='3'>0,025</option>
            <option value='4'>0,04</option>
            <option value='5'>0,065</option>
            <option value='6'>0,1</option>
            <option value='7'>0,15</option>
            <option value='8'>0,25</option>
            <option value='9'>0,4</option>
            <option value='10'>0,65</option>
            <option value='11'>1</option>
            <option value='12'>1,5</option>
            <option value='13'>2,5</option>
            <option value='14'>4</option>
            <option value='15'>6,5</option>
            <option value='16'>10</option>
            <option value='17'>15</option>
            <option value='18'>25</option>
            <option value='19'>40</option>
            <option value='20'>65</option>
            <option value='21'>100</option>
            <option value='22'>150</option>
            <option value='23'>250</option>
            <option value='24'>400</option>
            <option value='25'>650</option>
            <option value='26'>1000</option>
           </select>
        </div>
      </div>
      <div class="form-actions">
          <button class="btn btn-success" type="submit"><i class="icon-search"></i> Validar</button>
      </div>
  </form>
  <div class="widget-body">
          <h4 id="lblNTC2859_Tamanio">Tamaño del Lote: <span></span></h4>
          <h4 id="lblNTC2859_Codigo">Letra Codigo: <span></span></h4>
          <h4 id="lblNTC2859_Muestra">Tamaño de la Muestra: <span></span></h4>
          <h4 id="lblNTC2859_Margen">Margen de Rechazo: <span></span></h4>
    <button class="btn btn-warning noMostrar" id="btnNTC2859_Empezar"><i class="icon-signin"></i> Empezar</button>
  </div>
</div>
   <!-- BEGIN JAVASCRIPTS -->
   <!-- Load javascripts at bottom, this will reduce page load time -->
   <script>
         var inspeccionesRevisar = {};
         
         var Opciones = 
         {
            numeroIntento : 1,
            indiceInspeccion : 0,
            muestra : 0,
            margenRechazo : 0,
            noAprobadas : 0
         };
      jQuery(document).ready(function() {       
         // initiate layout and plugins
         //NTC2859();
           fechasRango($("#txtNTC2859_Desde"), $("#txtNTC2859_Hasta"));
           $("#frmNTC2859").on("submit", function(evento)
            {
              evento.preventDefault();

              $.post("php/ntc2859/validar.php", 
                {
                  Desde : $("#txtNTC2859_Desde").val(),
                  Hasta : $("#txtNTC2859_Hasta").val(),
                  NivelInspeccion : $("#txtNTC2859_NivelInspeccion").val(),
                  NAC : $("#txtNTC2859_NAC").val(),
                  Intento : $("#txtNTC2859_Intento").val()
                }, 
                function(data)
                {
                  $("#btnNTC2859_Empezar").hide();
                  if (data.Tamanio == 0)
                  {
                    Mensaje("Hey", "El periodo Seleccionado no contiene las suficientes muestras");
                  } else
                  {
                    if (data.Re == 0)
                    {
                      Mensaje("Hey", "El Margen de Rechazo seleccionado no es adecuado para el Tamaño del Lote, Hay que seleccionar un Nivel Aceptable de Calidad o un Nivel de Inspección Diferente");
                    } else
                    {
                      $("#btnNTC2859_Empezar").show();
                    }
                  }
                  
                  if (parseInt(data.Muestra) > parseInt(data.Tamanio))
                  {
                    data.Muestra = data.Tamanio;
                  }

                  if (parseInt(data.Re) > parseInt(data.Muestra))
                  {
                    data.Re = data.Muestra;
                  }
                  $("#lblNTC2859_Tamanio span").text(data.Tamanio);
                  $("#lblNTC2859_Codigo span").text(data.Codigo);
                  $("#lblNTC2859_Muestra span").text(data.Muestra);
                  $("#lblNTC2859_Margen span").text(data.Re);
                },"json").fail( function()
              {
                Mensaje("Error", "No hay conexión con el Servidor");
              });
            });

            $("#btnNTC2859_Empezar").on("click", function(evento)
              {
                evento.preventDefault();
                var f = new Date();
                var pPrefijo = CompletarConCero(Usuario.id, 3) + f.getFullYear() + CompletarConCero(f.getMonth() +1, 2) + CompletarConCero(f.getDate(), 2) + CompletarConCero(f.getHours(), 2) + CompletarConCero(f.getMinutes(), 2) + CompletarConCero(f.getSeconds(), 2);
                
                $("#txtPrefijo").val(pPrefijo);
                Opciones.muestra = parseInt($("#lblNTC2859_Muestra span").text());
                Opciones.margenRechazo = parseInt($("#lblNTC2859_Margen span").text());
                Opciones.noAprobadas = 0;
                $.post("php/ntc2859/devolverMuestra.php",
                {
                  Desde : $("#txtNTC2859_Desde").val(),
                  Hasta : $("#txtNTC2859_Hasta").val(),
                  Muestra: Opciones.muestra
                }, function(data)
                {
                  inspeccionesRevisar = data;
                  $.post("php/ntc2859/guardarPrueba.php", {
                    Prefijo : $("#txtPrefijo").val(),
                    Desde : $("#txtNTC2859_Desde").val(),
                    Hasta : $("#txtNTC2859_Hasta").val(),
                    NivelInspeccion : $("#txtNTC2859_NivelInspeccion").val(),
                    NAC : $("#txtNTC2859_NAC").val(),
                    Lote : $("#lblNTC2859_Tamanio span").text(),
                    Codigo : $("#lblNTC2859_Codigo span").text(),
                    Muestra : $("#lblNTC2859_Muestra span").text(), 
                    margenRechazo : $("#lblNTC2859_Margen span").text()
                  }, function(data)
                  {
                    $(this).cargarModulo({pagina : "ntc2859_Inspeccion", titulo : "Revisión Inspecciones", icono : "icon-edit"});
                  });
                }, "json");
              });



        var f = new Date();
        f = f.getFullYear() + "-" + CompletarConCero(f.getMonth() +1, 2) + "-" + CompletarConCero(f.getDate(), 2);
        $("#txtNTC2859_Desde").val(f);
        $("#txtNTC2859_Hasta").val(f);
      });
   </script>
</body>
<!-- END BODY -->