    <form id="frmPostInspeccion" class="form-horizontal" idInspeccion="0">
      
        <div class="control-group">
          <label class="control-label">Actividad Interventoría:</label>
          <div class="controls">
             <select class="chosen span6" data-placeholder="Seleccione un Tipo" tabindex="1" id="txtPostInspeccion_Actividad"></select>
            <small class="help-inline">Por favor seleccione el tipo de actividad que desea realizar</small>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Municipio:</label>
          <div class="controls">
             <select class="chosen span6" data-placeholder="Seleccione un Tipo" tabindex="1" id="txtPostInspeccion_Municipio">
                <option value='1'>CHAGUANI</option>
                <option value='2'>GUADUAS</option>
                <option value='3'>LA VEGA</option>
                <option value='4'>NIMAIMA</option>
                <option value='5'>NOCAIMA</option>
                <option value='6'>QUEBRADANEGRA</option>
                <option value='7'>SUPATA</option>
                <option value='8'>VERGARA</option>
                <option value='9'>VILLETA</option>
                <option value='10'>CAPARRAPI</option>
                <option value='11'>EL PEÑON</option>
                <option value='12'>LA PALMA</option>
                <option value='13'>LA PEÑA</option>
                <option value='14'>PUERTO SALGAR</option>
                <option value='15'>TOPAIPÍ</option>
                <option value='16'>ÚTICA</option>
                <option value='17'>YACOPÍ</option>
                <option value='18'>ALBAN</option>
                <option value='19'>BITUIMA</option>
                <option value='20'>FACATATIVA</option>
                <option value='21'>GUAYABAL DE SIQUIMA</option>
                <option value='22'>SAN FRANCISCO</option>
                <option value='23'>SAN JUAN DE RÍO SECO</option>
                <option value='24'>SASAIMA</option>
                <option value='25'>VIANÍ</option>
                <option value='26'>ZIPACÓN</option>
                <option value='27'>AGUA DE DIOS</option>
                <option value='28'>APULO</option>
                <option value='29'>BELTRAN</option>
                <option value='30'>COELLO</option>
                <option value='31'>FLANDES</option>
                <option value='32'>GIRARDOT</option>
                <option value='33'>GUATAQUÍ</option>
                <option value='34'>JERUSALÉN</option>
                <option value='35'>NARIÑO</option>
                <option value='36'>NILO</option>
                <option value='37'>PIEDRAS</option>
                <option value='38'>PULÍ</option>
                <option value='39'>RICAURTE</option>
                <option value='40'>TOCAIMA</option>
                <option value='41'>ANAPOIMA</option>
                <option value='42'>BOJACÁ</option>
                <option value='43'>CACHIPAY</option>
                <option value='44'>EL COLEGIO</option>
                <option value='45'>LA MESA</option>
                <option value='46'>SAN ANTONIO DEL TEQUENDAMA</option>
                <option value='47'>TENA</option>
                <option value='48'>VIOTA</option>
                <option value='49'>ARBELAEZ</option>
                <option value='50'>CABRERA</option>
                <option value='51'>FUSAGASUGA</option>
                <option value='52'>GRANADA</option>
                <option value='53'>ICONONZO</option>
                <option value='54'>PANDI</option>
                <option value='55'>PASCA</option>
                <option value='56'>SAN BERNARDO</option>
                <option value='57'>SIBATE</option>
                <option value='58'>SILVANIA</option>
                <option value='59'>TIBACUY</option>
                <option value='60'>VENECIA</option>
                <option value='61'>ACACIAS</option>
                <option value='62'>CABUYARO</option>
                <option value='63'>CAQUEZA</option>
                <option value='64'>CHIPAQUE</option>
                <option value='65'>CHOACHI</option>
                <option value='66'>EL CALVARIO</option>
                <option value='67'>FOMEQUE</option>
                <option value='68'>FOSCA</option>
                <option value='69'>GUAYABETAL</option>
                <option value='70'>GUTIÉRREZ</option>
                <option value='71'>MEDINA</option>
                <option value='72'>PARATEBUENO</option>
                <option value='73'>QUETAME</option>
                <option value='74'>SAN JUANITO</option>
                <option value='75'>UBAQUE</option>
                <option value='76'>UNE</option>
                <option value='77'>GACHALA</option>
                <option value='78'>GACHETA</option>
                <option value='79'>GAMA</option>
                <option value='80'>GUASCA</option>
                <option value='81'>JUNÍN</option>
                <option value='82'>UBALA</option>
                <option value='83'>MACHETA</option>
                <option value='84'>MANTA</option>
                <option value='85'>TIBIRITA</option>
                <option value='86'>PACHO</option>
                <option value='87'>ANOLAIMA</option>
                <option value='88'>BOGOTA, D.C.</option>
                <option value='89'>CARMEN DE CARUPA</option>
                <option value='90'>CHIQUINQUIRA</option>
                <option value='91'>COPER</option>
                <option value='92'>GUATAVITA</option>
                <option value='93'>QUÍPAMA</option>
                <option value='94'>QUIPILE</option>
                <option value='95'>SAN CAYETANO</option>
                <option value='96'>SAN MIGUEL DE SEMA</option>
                <option value='97'>SIMIJACA</option>
                <option value='98'>SUSA</option>
                <option value='99'>VILLAGOMEZ</option>
             </select>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Sucursal:</label>
          <div class="controls">
             <select class="chosen span6" data-placeholder="Seleccione un Tipo" tabindex="1" id="txtPostInspeccion_Sucursal">
                <option value="0"></option>
                <option value="6000">EEC</option>
                <option value="4000">Codensa</option>
             </select>
          </div>
        </div>
        
        <div class="control-group">
           <label class="control-label"> Necesitó desplazarse para realizar ESTA inspección?</label>
           <div class="controls">
              <div class="radPostInspeccion" id="txtPostInspeccion_Desplazamiento">
                <input type="radio" id="radPostInspeccion_Desplazamiento_Si" name="radPostInspeccion_Desplazamiento" value="1"><label for="radPostInspeccion_Desplazamiento_Si">Si</label>
                <input type="radio" id="radPostInspeccion_Desplazamiento_No" name="radPostInspeccion_Desplazamiento" value="0" checked><label for="radPostInspeccion_Desplazamiento_No">No</label>
              </div>
              <small "help-inline">Si ya había marcado <b>SÍ</b> en alguna inspección anterior para el mismo desplazamiento, por favor no volver a poner Sí.</small>
           </div>
        </div>

        <div class="control-group noMostrar" id="grpPostInspeccion_Hora">
            <label class="control-label"> Cuanto duró el Desplazamiento? (Horas:Minutos)</label>
            <div class="controls">
                <input class=" m-ctrl-small timepicker-24" type="text" id="txtPostInspeccion_Hora"/>
            </div>
        </div>
        <div class="control-group">
           <label class="control-label"> La inspección se va a realizar en Zona Veredal?</label>
           <div class="controls">
              <div class="radPostInspeccion">
                <input type="radio" id="radPostInspeccion_Veredal_Si" name="radPostInspeccion_Veredal" value="1"><label for="radPostInspeccion_Veredal_Si">Si</label>
                <input type="radio" id="radPostInspeccion_Veredal_No" name="radPostInspeccion_Veredal" value="0" checked><label for="radPostInspeccion_Veredal_No">No</label>
              </div>
           </div>
        </div>
        <div class="control-group">
           <label class="control-label"> Necesitó Pernoctar para realizar ESTA inspección?</label>
           <div class="controls">
              <div class="radPostInspeccion">
                <input type="radio" id="radPostInspeccion_Viaticos_Si" name="radPostInspeccion_Viaticos" value="1"><label for="radPostInspeccion_Viaticos_Si">Si</label>
                <input type="radio" id="radPostInspeccion_Viaticos_No" name="radPostInspeccion_Viaticos" value="0" checked><label for="radPostInspeccion_Viaticos_No">No</label>
              </div>
              <small "help-inline">Si ya había marcado <b>SÍ</b> en alguna inspección anterior para la misma noche, por favor no volver a poner Sí.</small>
           </div>
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-success"><i class="icon-ok"></i> Iniciar</button>
            <button type="reset" class="btn btn-danger"><i class="icon-remove"></i> Cancelar</button>
        </div>
    </form>
   <!-- BEGIN JAVASCRIPTS -->
   <script>
      jQuery(document).ready(function() 
      {       
         // initiate layout and plugins
         postInspeccion();
      });
   </script>
</body>
