<body class="fixed-top">
      <!-- BEGIN PAGE -->  
            <!-- BEGIN PAGE CONTENT-->
            <div class="row-fluid">
              <form id='frmPreoperacionalCrear' class="form-horizontal">
                <div class="control-group">
                    <label class="control-label">Fecha: </label>
                    <div class="controls">
                        <div class="input-append" id="grpPreoperacionalCrearFechaInicio">
                            <input type="text" class="m-wrap medium" id="txtPreoperacionalCrear_Fecha" required/>
                            <span class="add-on"><i class="icon-calendar"></i></span>
                        </div>
                    </div>
                </div>
                <div class="control-group">
                  <label class="control-label">Municipio:</label>
                  <div class="controls">
                     <select class="span6 chosen" data-placeholder="Seleccione el Municipio" tabindex="1" id="txtPreoperacionalCrear_Municipio">
                       <option value='ALBAN'>ALBAN</option>
                        <option value='CHAGUANI'>CHAGUANI</option>
                        <option value='GUADUAS'>GUADUAS</option>
                        <option value='LA PEÑA'>LA PEÑA</option>
                        <option value='LA VEGA'>LA VEGA</option>
                        <option value='NIMAIMA'>NIMAIMA</option>
                        <option value='NOCAIMA'>NOCAIMA</option>
                        <option value='QUEBRADANEGRA'>QUEBRADANEGRA</option>
                        <option value='SAN FRANCISCO'>SAN FRANCISCO</option>
                        <option value='SUPATA'>SUPATA</option>
                        <option value='ÚTICA'>ÚTICA</option>
                        <option value='VERGARA'>VERGARA</option>
                        <option value='VIANÍ'>VIANÍ</option>
                        <option value='BOGOTÁ, D.C.'>BOGOTÁ, D.C.</option>
                        <option value='CAPARRAPI'>CAPARRAPI</option>
                        <option value='FACATATIVA'>FACATATIVA</option>
                        <option value='LA PEÑA'>LA PEÑA</option>
                        <option value='PUERTO SALGAR'>PUERTO SALGAR</option>
                        <option value='ÚTICA'>ÚTICA</option>
                        <option value='YACOPÍ'>YACOPÍ</option>
                        <option value='ALBAN'>ALBAN</option>
                        <option value='BITUIMA'>BITUIMA</option>
                        <option value='CHAGUANI'>CHAGUANI</option>
                        <option value='FACATATIVA'>FACATATIVA</option>
                        <option value='GUADUAS'>GUADUAS</option>
                        <option value='GUAYABAL DE SIQUIMA'>GUAYABAL DE SIQUIMA</option>
                        <option value='LA VEGA'>LA VEGA</option>
                        <option value='NIMAIMA'>NIMAIMA</option>
                        <option value='NOCAIMA'>NOCAIMA</option>
                        <option value='QUEBRADANEGRA'>QUEBRADANEGRA</option>
                        <option value='SAN FRANCISCO'>SAN FRANCISCO</option>
                        <option value='SAN JUAN DE RÍO SECO'>SAN JUAN DE RÍO SECO</option>
                        <option value='SASAIMA'>SASAIMA</option>
                        <option value='VILLETA'>VILLETA</option>
                        <option value='ZIPACÓN'>ZIPACÓN</option>
                        <option value='AGUA DE DIOS'>AGUA DE DIOS</option>
                        <option value='BELTRÁN'>BELTRÁN</option>
                        <option value='GIRARDOT'>GIRARDOT</option>
                        <option value='GUATAQUÍ'>GUATAQUÍ</option>
                        <option value='JERUSALÉN'>JERUSALÉN</option>
                        <option value='NARIÑO'>NARIÑO</option>
                        <option value='NILO'>NILO</option>
                        <option value='PULÍ'>PULÍ</option>
                        <option value='APULO'>APULO</option>
                        <option value='RICAURTE'>RICAURTE</option>
                        <option value='TOCAIMA'>TOCAIMA</option>
                        <option value='COELLO'>COELLO</option>
                        <option value='FLANDES'>FLANDES</option>
                        <option value='PIEDRAS'>PIEDRAS</option>
                        <option value='ANAPOIMA'>ANAPOIMA</option>
                        <option value='ANOLAIMA'>ANOLAIMA</option>
                        <option value='CACHIPAY'>CACHIPAY</option>
                        <option value='LA MESA'>LA MESA</option>
                        <option value='QUIPILE'>QUIPILE</option>
                        <option value='TENA'>TENA</option>
                        <option value='ZIPACÓN'>ZIPACÓN</option>
                        <option value='ARBELAEZ'>ARBELAEZ</option>
                        <option value='FUSAGASUGA'>FUSAGASUGA</option>
                        <option value='GRANADA'>GRANADA</option>
                        <option value='PASCA'>PASCA</option>
                        <option value='SAN BERNARDO'>SAN BERNARDO</option>
                        <option value='SILVANIA'>SILVANIA</option>
                        <option value='ICONONZO'>ICONONZO</option>
                        <option value='CAQUEZA'>CAQUEZA</option>
                        <option value='CHIPAQUE'>CHIPAQUE</option>
                        <option value='CHOACHI'>CHOACHI</option>
                        <option value='FOMEQUE'>FOMEQUE</option>
                        <option value='FOSCA'>FOSCA</option>
                        <option value='GUAYABETAL'>GUAYABETAL</option>
                        <option value='GUTIÉRREZ'>GUTIÉRREZ</option>
                        <option value='MEDINA'>MEDINA</option>
                        <option value='PARATEBUENO'>PARATEBUENO</option>
                        <option value='QUETAME'>QUETAME</option>
                        <option value='UBALÁ'>UBALÁ</option>
                        <option value='UBAQUE'>UBAQUE</option>
                        <option value='UNE'>UNE</option>
                        <option value='CABUYARO'>CABUYARO</option>
                        <option value='EL CALVARIO'>EL CALVARIO</option>
                        <option value='SAN JUANITO'>SAN JUANITO</option>
                        <option value='GACHALA'>GACHALA</option>
                        <option value='GACHETA'>GACHETA</option>
                        <option value='GAMA'>GAMA</option>
                        <option value='GUASCA'>GUASCA</option>
                        <option value='GUATAVITA'>GUATAVITA</option>
                        <option value='JUNÍN'>JUNÍN</option>
                        <option value='UBALÁ'>UBALÁ</option>
                        <option value='MACHETA'>MACHETA</option>
                        <option value='MANTA'>MANTA</option>
                        <option value='TIBIRITA'>TIBIRITA</option>
                        <option value='PACHO'>PACHO</option>
                     </select>
                  </div>
                </div>
                  <div id="preoperacionalCrear_Preguntas" class="tabbable tabbable-custom tabs-left">
                       <ul class="nav nav-tabs tabs-left">
                           <li class="active"><a href="#tabPreoperacionl_1" data-toggle="tab">Elementos de protección personal</a></li>
                           <li><a href="#tabPreoperacionl_2" data-toggle="tab">Gestión de Riesgo Biológico</a></li>
                           <li><a href="#tabPreoperacionl_3" data-toggle="tab">Gestión Biomecánica</a></li>
                           <li><a href="#tabPreoperacionl_4" data-toggle="tab">Maquinas y herramientas</a></li>
                           <li><a href="#tabPreoperacionl_5" data-toggle="tab">Productos químicos</a></li>
                           <li><a href="#tabPreoperacionl_6" data-toggle="tab">Medio Ambiente de trabajo</a></li>
                           <li><a href="#tabPreoperacionl_7" data-toggle="tab">Vehículos</a></li>
                           <li><a href="#tabPreoperacionl_8" data-toggle="tab">Auto cuidado</a></li>
                           <li><a href="#tabPreoperacionl_9" data-toggle="tab">Emergencia</a></li>
                           <li><a href="#tabPreoperacionl_10" data-toggle="tab">Trabajos de alto Riesgo</a></li>
                           <li><a href="#tabPreoperacionl_11" data-toggle="tab">Otros</a></li>
                       </ul>
                       <div class="tab-content">
                           <div class="tab-pane active" id="tabPreoperacionl_1">
                               <h4>Verifique que los elementos de protección: son los entregados por la organización, se usan correctamente, se mantienen en buen estado y son almacenados correctamente</h4>
                                    <div class="control-group">
                                        <label class="control-label span12">Protección auditiva</label>
                                        <div class="controls">
                                            <div class="text-toggle-button">
                                                <input type="checkbox" class="toggle" checked/>
                                            </div>
                                                <textarea class="input-xlarge" placeholder='Observaciones' rows="2" ></textarea>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label span12">Protección para la cabeza</label>
                                        <div class="controls">
                                            <div class="text-toggle-button">
                                                <input type="checkbox" class="toggle" checked/>
                                            </div>
                                                <textarea class="input-xlarge" placeholder='Observaciones' rows="2" ></textarea>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label span12">Protección para las manos</label>
                                        <div class="controls">
                                            <div class="text-toggle-button">
                                                <input type="checkbox" class="toggle" checked/>
                                            </div>
                                                <textarea class="input-xlarge" placeholder='Observaciones' rows="2" ></textarea>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label span12">Gafas de protección (usa las gafas formuladas)</label>
                                        <div class="controls">
                                            <div class="text-toggle-button">
                                                <input type="checkbox" class="toggle" checked/>
                                            </div>
                                                <textarea class="input-xlarge" placeholder='Observaciones' rows="2" ></textarea>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label span12">Protección para los pies</label>
                                        <div class="controls">
                                            <div class="text-toggle-button">
                                                <input type="checkbox" class="toggle" checked/>
                                            </div>
                                                <textarea class="input-xlarge" placeholder='Observaciones' rows="2" ></textarea>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label span12">Protección solar</label>
                                        <div class="controls">
                                            <div class="text-toggle-button">
                                                <input type="checkbox" class="toggle" checked/>
                                            </div>
                                                <textarea class="input-xlarge" placeholder='Observaciones' rows="2" ></textarea>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label span12">Elementos de protección contra caídas</label>
                                        <div class="controls">
                                            <div class="text-toggle-button">
                                                <input type="checkbox" class="toggle" checked/>
                                            </div>
                                                <textarea class="input-xlarge" placeholder='Observaciones' rows="2" ></textarea>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label span12">Dotaciones</label>
                                        <div class="controls">
                                            <div class="text-toggle-button">
                                                <input type="checkbox" class="toggle" checked/>
                                            </div>
                                                <textarea class="input-xlarge" placeholder='Observaciones' rows="2" ></textarea>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label span12">Protección respiratoria</label>
                                        <div class="controls">
                                            <div class="text-toggle-button">
                                                <input type="checkbox" class="toggle" checked/>
                                            </div>
                                                <textarea class="input-xlarge" placeholder='Observaciones' rows="2" ></textarea>
                                        </div>
                                    </div>
                           </div>
                           <div class="tab-pane" id="tabPreoperacionl_2">
                               <h4>Verifique la gestión del factor de riesgo biologico</h4>
                              <div class="control-group">
                                  <label class="control-label span12">Los integrantes están protegidos contra el riesgo Biológico (vacunas)</label>
                                  <div class="controls">
                                      <div class="text-toggle-button">
                                          <input type="checkbox" class="toggle" checked/>
                                      </div>
                                          <textarea class="input-xlarge" placeholder='Observaciones' rows="2" ></textarea>
                                  </div>
                              </div>
                              <div class="control-group">
                                  <label class="control-label span12">Se siguen los procedimientos para el control de riesgo biológico</label>
                                  <div class="controls">
                                      <div class="text-toggle-button">
                                          <input type="checkbox" class="toggle" checked/>
                                      </div>
                                          <textarea class="input-xlarge" placeholder='Observaciones' rows="2" ></textarea>
                                  </div>
                              </div>
                           </div>
                           <div class="tab-pane" id="tabPreoperacionl_3">
                               <h4>Verifique que la gestión del riesgo biomecánico se acorde a las normas nacional y organizacionales</h4>
                              <div class="control-group">
                                  <label class="control-label span12">Se siguen los instructivos del factor de riesgo</label>
                                  <div class="controls">
                                      <div class="text-toggle-button">
                                          <input type="checkbox" class="toggle" checked/>
                                      </div>
                                          <textarea class="input-xlarge" placeholder='Observaciones' rows="2" ></textarea>
                                  </div>
                              </div>
                              <div class="control-group">
                                  <label class="control-label span12">Las cargas se levantan correctamente (>25 kilos se usan ayudas ergonómicas)</label>
                                  <div class="controls">
                                      <div class="text-toggle-button">
                                          <input type="checkbox" class="toggle" checked/>
                                      </div>
                                          <textarea class="input-xlarge" placeholder='Observaciones' rows="2" ></textarea>
                                  </div>
                              </div>
                              <div class="control-group">
                                  <label class="control-label span12">Se adoptan posturas adecuadas durante la labor</label>
                                  <div class="controls">
                                      <div class="text-toggle-button">
                                          <input type="checkbox" class="toggle" checked/>
                                      </div>
                                          <textarea class="input-xlarge" placeholder='Observaciones' rows="2" ></textarea>
                                  </div>
                              </div>
                              <div class="control-group">
                                  <label class="control-label span12">Halar y empujar se realiza correctamente</label>
                                  <div class="controls">
                                      <div class="text-toggle-button">
                                          <input type="checkbox" class="toggle" checked/>
                                      </div>
                                          <textarea class="input-xlarge" placeholder='Observaciones' rows="2" ></textarea>
                                  </div>
                              </div>
                           </div>
                           <div class="tab-pane" id="tabPreoperacionl_4">
                               <h4>Condiciones de Operación</h4>
                                <div class="control-group">
                                    <label class="control-label span12">Manejo</label>
                                    <div class="controls">
                                        <div class="text-toggle-button">
                                            <input type="checkbox" class="toggle" checked/>
                                        </div>
                                            <textarea class="input-xlarge" placeholder='Observaciones' rows="2" ></textarea>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label span12">Limpieza</label>
                                    <div class="controls">
                                        <div class="text-toggle-button">
                                            <input type="checkbox" class="toggle" checked/>
                                        </div>
                                            <textarea class="input-xlarge" placeholder='Observaciones' rows="2" ></textarea>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label span12">Guardas</label>
                                    <div class="controls">
                                        <div class="text-toggle-button">
                                            <input type="checkbox" class="toggle" checked/>
                                        </div>
                                            <textarea class="input-xlarge" placeholder='Observaciones' rows="2" ></textarea>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label span12">Mantenimiento</label>
                                    <div class="controls">
                                        <div class="text-toggle-button">
                                            <input type="checkbox" class="toggle" checked/>
                                        </div>
                                            <textarea class="input-xlarge" placeholder='Observaciones' rows="2" ></textarea>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label span12">Sitio de almacenamiento</label>
                                    <div class="controls">
                                        <div class="text-toggle-button">
                                            <input type="checkbox" class="toggle" checked/>
                                        </div>
                                            <textarea class="input-xlarge" placeholder='Observaciones' rows="2" ></textarea>
                                    </div>
                                </div>
                           </div>
                           <div class="tab-pane" id="tabPreoperacionl_5">
                               <h4>Sitios de almacenamiento, manejo, transporte</h4>
                                <div class="control-group">
                                    <label class="control-label span12">Se encuentras etiquetados y almacenados correctamente</label>
                                    <div class="controls">
                                        <div class="text-toggle-button">
                                            <input type="checkbox" class="toggle" checked/>
                                        </div>
                                            <textarea class="input-xlarge" placeholder='Observaciones' rows="2" ></textarea>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label span12">Existe kit de derrames</label>
                                    <div class="controls">
                                        <div class="text-toggle-button">
                                            <input type="checkbox" class="toggle" checked/>
                                        </div>
                                            <textarea class="input-xlarge" placeholder='Observaciones' rows="2" ></textarea>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label span12">Existen hojas de seguridad</label>
                                    <div class="controls">
                                        <div class="text-toggle-button">
                                            <input type="checkbox" class="toggle" checked/>
                                        </div>
                                            <textarea class="input-xlarge" placeholder='Observaciones' rows="2" ></textarea>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label span12">La persona que los manipula esta capacitado en uso y manejo de materiales peligrosos</label>
                                    <div class="controls">
                                        <div class="text-toggle-button">
                                            <input type="checkbox" class="toggle" checked/>
                                        </div>
                                            <textarea class="input-xlarge" placeholder='Observaciones' rows="2" ></textarea>
                                    </div>
                                </div>
                           </div>
                           <div class="tab-pane" id="tabPreoperacionl_6">
                               <h4>Revise las instalaciones de trabajo</h4>
                              <div class="control-group">
                                  <label class="control-label span12">Recuperación de residuos solidos</label>
                                  <div class="controls">
                                      <div class="text-toggle-button">
                                          <input type="checkbox" class="toggle" checked/>
                                      </div>
                                          <textarea class="input-xlarge" placeholder='Observaciones' rows="2" ></textarea>
                                  </div>
                              </div>
                              <div class="control-group">
                                  <label class="control-label span12">Orden y limpieza en áreas de trabajo</label>
                                  <div class="controls">
                                      <div class="text-toggle-button">
                                          <input type="checkbox" class="toggle" checked/>
                                      </div>
                                          <textarea class="input-xlarge" placeholder='Observaciones' rows="2" ></textarea>
                                  </div>
                              </div>
                              <div class="control-group">
                                  <label class="control-label span12">Se realiza la labor con la iluminación adecuada</label>
                                  <div class="controls">
                                      <div class="text-toggle-button">
                                          <input type="checkbox" class="toggle" checked/>
                                      </div>
                                          <textarea class="input-xlarge" placeholder='Observaciones' rows="2" ></textarea>
                                  </div>
                              </div>
                              <div class="control-group">
                                  <label class="control-label span12">Se controlan los aspectos ambientales significativos</label>
                                  <div class="controls">
                                      <div class="text-toggle-button">
                                          <input type="checkbox" class="toggle" checked/>
                                      </div>
                                          <textarea class="input-xlarge" placeholder='Observaciones' rows="2" ></textarea>
                                  </div>
                              </div>
                              <div class="control-group">
                                  <label class="control-label span12">La señalización es la adecuada</label>
                                  <div class="controls">
                                      <div class="text-toggle-button">
                                          <input type="checkbox" class="toggle" checked/>
                                      </div>
                                          <textarea class="input-xlarge" placeholder='Observaciones' rows="2" ></textarea>
                                  </div>
                              </div>
                           </div>
                           <div class="tab-pane" id="tabPreoperacionl_7">
                               <h4>Verifique todos los vehículos motorizados en el proyecto o el área inspeccionado</h4>
                                <div class="control-group">
                                    <label class="control-label span12">Se cumplen con los instructivos de la organización</label>
                                    <div class="controls">
                                        <div class="text-toggle-button">
                                            <input type="checkbox" class="toggle" checked/>
                                        </div>
                                            <textarea class="input-xlarge" placeholder='Observaciones' rows="2" ></textarea>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label span12">El conductor esta autorizado para conducir vehículos(tiene  curso certificado)</label>
                                    <div class="controls">
                                        <div class="text-toggle-button">
                                            <input type="checkbox" class="toggle" checked/>
                                        </div>
                                            <textarea class="input-xlarge" placeholder='Observaciones' rows="2" ></textarea>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label span12">El vehículo se encuentra en buen estado(llantas, frenos, sin fugas, espejos, panoramicos, luces)</label>
                                    <div class="controls">
                                        <div class="text-toggle-button">
                                            <input type="checkbox" class="toggle" checked/>
                                        </div>
                                            <textarea class="input-xlarge" placeholder='Observaciones' rows="2" ></textarea>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label span12">Se realiza el mantenimiento preventivo del vehículo. (Revise cada 5000 km vehiculos) (cada 3 meses)</label>
                                    <div class="controls">
                                        <div class="text-toggle-button">
                                            <input type="checkbox" class="toggle" checked/>
                                        </div>
                                            <textarea class="input-xlarge" placeholder='Observaciones' rows="2" ></textarea>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label span12">Se realiza el mantenimiento preventivo del motocicletas  (cada 3 meses)</label>
                                    <div class="controls">
                                        <div class="text-toggle-button">
                                            <input type="checkbox" class="toggle" checked/>
                                        </div>
                                            <textarea class="input-xlarge" placeholder='Observaciones' rows="2" ></textarea>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label span12">Se usan los elementos de protección personal de acuerdo al tipo de vehículo</label>
                                    <div class="controls">
                                        <div class="text-toggle-button">
                                            <input type="checkbox" class="toggle" checked/>
                                        </div>
                                            <textarea class="input-xlarge" placeholder='Observaciones' rows="2" ></textarea>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label span12">El conductores  mantiene al día (soat, revisión tecnico mecánica, certificado de gases y pase de conducción)</label>
                                    <div class="controls">
                                        <div class="text-toggle-button">
                                            <input type="checkbox" class="toggle" checked/>
                                        </div>
                                            <textarea class="input-xlarge" placeholder='Observaciones' rows="2" ></textarea>
                                    </div>
                                </div>
                           </div>
                           <div class="tab-pane" id="tabPreoperacionl_8">
                               <h4>Verifique la Identificación de peligros por parte de los integrantes de la operación</h4>
                                <div class="control-group">
                                    <label class="control-label span12">Línea de fuego-(posicionamiento correcto)</label>
                                    <div class="controls">
                                        <div class="text-toggle-button">
                                            <input type="checkbox" class="toggle" checked/>
                                        </div>
                                            <textarea class="input-xlarge" placeholder='Observaciones' rows="2" ></textarea>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label span12">Punto de Pellizco/Lastimadura - Objetos con Filo/Punta</label>
                                    <div class="controls">
                                        <div class="text-toggle-button">
                                            <input type="checkbox" class="toggle" checked/>
                                        </div>
                                            <textarea class="input-xlarge" placeholder='Observaciones' rows="2" ></textarea>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label span12">Ascendiendo/Descendiendo (Escalera/Banco)</label>
                                    <div class="controls">
                                        <div class="text-toggle-button">
                                            <input type="checkbox" class="toggle" checked/>
                                        </div>
                                            <textarea class="input-xlarge" placeholder='Observaciones' rows="2" ></textarea>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label span12">Identifica los peligros presentes en el área.</label>
                                    <div class="controls">
                                        <div class="text-toggle-button">
                                            <input type="checkbox" class="toggle" checked/>
                                        </div>
                                            <textarea class="input-xlarge" placeholder='Observaciones' rows="2" ></textarea>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label span12">Caminando se usan  los caminos adecuados y menos peligrosos</label>
                                    <div class="controls">
                                        <div class="text-toggle-button">
                                            <input type="checkbox" class="toggle" checked/>
                                        </div>
                                            <textarea class="input-xlarge" placeholder='Observaciones' rows="2" ></textarea>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label span12">Se reportan las condiciones y actos inseguros</label>
                                    <div class="controls">
                                        <div class="text-toggle-button">
                                            <input type="checkbox" class="toggle" checked/>
                                        </div>
                                            <textarea class="input-xlarge" placeholder='Observaciones' rows="2" ></textarea>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label span12">Se siguen los instructivos del factor de riesgo Publico</label>
                                    <div class="controls">
                                        <div class="text-toggle-button">
                                            <input type="checkbox" class="toggle" checked/>
                                        </div>
                                            <textarea class="input-xlarge" placeholder='Observaciones' rows="2" ></textarea>
                                    </div>
                                </div>
                           </div>
                           <div class="tab-pane" id="tabPreoperacionl_9">
                               <h4>Verifique las acciones a seguir ante una emergencia</h4>
                                <div class="control-group">
                                    <label class="control-label span12">Se conocen los procedimientos ante una emergencia</label>
                                    <div class="controls">
                                        <div class="text-toggle-button">
                                            <input type="checkbox" class="toggle" checked/>
                                        </div>
                                            <textarea class="input-xlarge" placeholder='Observaciones' rows="2" ></textarea>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label span12">Los equipos de comunicación, de extinción y otros, son los adecuados y funcionan correctamente</label>
                                    <div class="controls">
                                        <div class="text-toggle-button">
                                            <input type="checkbox" class="toggle" checked/>
                                        </div>
                                            <textarea class="input-xlarge" placeholder='Observaciones' rows="2" ></textarea>
                                    </div>
                                </div>
                           </div>
                           <div class="tab-pane" id="tabPreoperacionl_10">
                               <h4>Verifique si realizan trabajo de alto riesgo</h4>
                                  <div class="control-group">
                                      <label class="control-label span12">Se siguen los procedimientos para los trabajos de alto riego(alturas, confinados, trabajo en calientes, energías peligrosas)</label>
                                      <div class="controls">
                                          <div class="text-toggle-button">
                                              <input type="checkbox" class="toggle" checked/>
                                          </div>
                                              <textarea class="input-xlarge" placeholder='Observaciones' rows="2" ></textarea>
                                      </div>
                                  </div>
                                  <div class="control-group">
                                      <label class="control-label span12">El personal que realiza los trabajos de alto riesgo se encuentra capacitada y certificada</label>
                                      <div class="controls">
                                          <div class="text-toggle-button">
                                              <input type="checkbox" class="toggle" checked/>
                                          </div>
                                              <textarea class="input-xlarge" placeholder='Observaciones' rows="2" ></textarea>
                                      </div>
                                  </div>
                           </div>
                           <div class="tab-pane" id="tabPreoperacionl_11">
                               <h4>Existen otros aspectos que ponen en riesgo a los trabajadores</h4>
                                <div class="control-group">
                                    <label class="control-label span12"></label>
                                    <div class="controls">
                                        <div class="text-toggle-button">
                                            <input type="checkbox" class="toggle" checked/>
                                        </div>
                                            <textarea class="input-xlarge" placeholder='Cual?' rows="2" ></textarea>
                                    </div>
                                </div>
                           </div>
                       </div>
                   </div>
                    <table class="table table-borderless">
                        <tbody>
                        <tr>
                            <td class="span4">TOTAL DE ITEMS EVALUADOS :</td>
                            <td><span class="badge">48</span></td>
                        </tr>
                        <tr>
                            <td class="span4">CORRECTOS :</td>
                            <td id="txtPreoperacionalCrear_Correctos"><span class="badge badge-success">48</span></td>
                        </tr>
                        <tr>
                            <td class="span4">INCORRECTOS :</td>
                            <td id="txtPreoperacionalCrear_Incorrectos"><span class="badge badge-important">0</span></td>
                        </tr>
                        <tr>
                            <td class="span4">% DE CUMPLIMIENTO :</td>
                            <td id="txtPreoperacionalCrear_Cumplimiento"><span class="badge badge-info">100</span></td>
                        </tr>
                        <tr>
                            <td class="span4">EVALUACIÓN :</td>
                            <td id="txtPreoperacionalCrear_Evaluacion" class="label"></td>
                        </tr>
                        </tbody>
                    </table>
                  <div class="form-actions">
                      <button type="submit" class="btn btn-success"><i class="icon-ok"></i> Guardar</button>
                      <button type="reset" class="btn btn-danger" id="btnPreoperacionalCrear_Reset"><i class="icon-remove"></i> Borrar</button>
                  </div>
              </form>
            </div>

            <!-- END PAGE CONTENT-->         
         
      <!-- END PAGE -->  
   <!-- END CONTAINER -->
   <!-- BEGIN JAVASCRIPTS -->    
   <!-- Load javascripts at bottom, this will reduce page load time -->
   <!-- ie8 fixes -->
   <!--[if lt IE 9]>
   <script src="js/excanvas.js"></script>
   <script src="js/respond.js"></script>
   <![endif]-->
   
   
 
   
   <script>
      jQuery(document).ready(function() 
      {       
        preoperacionalCrear();         
      });
   </script>
   <!-- END JAVASCRIPTS -->   
</body>