<!-- BEGIN PAGE CONTENT-->
<div class="row-fluid">
            <div class="widget-body">
                <div class="span3">
                    <div class="text-center profile-pic">
                        <img id="txtProfile_Imagen" src="img/profile-pic.jpg" alt="">
                    </div>
                    <ul class="nav nav-tabs nav-stacked">
                        <li><a href="javascript:void(0)"><i class="icon-coffee"></i> Trabajo</a></li>
                        <li class="cargarMateriales_Usuario" Usuario=""><a href="javascript:void(0)"><i class="icon-briefcase"></i> Materiales</a></li>
                        <li class="cargarArchivos_Usuario" idLogin="0" Nombre=""><a href="javascript:void(0)"><i class="icon-folder-open"></i> Archivos</a></li>
                    </ul>
                    <ul class="nav nav-tabs nav-stacked">
                        <li><a href="javascript:void(0)"><i class="icon-unlock"></i> Cambiar Clave</a></li>
                        <li><a href="javascript:void(0)"><i class="icon-edit"></i> Editar</a></li>
                    </ul>
                </div>
                <div class="span6">
                    <h4 id="txtProfile_Nombre"></h4>
                    <table class="table table-borderless">
                        <tbody>
                        <tr>
                            <td class="span2">Usuario :</td>
                            <td id="txtProfile_Usuario"></td>
                        </tr>
                        <tr>
                            <td class="span2">Empresa :</td>
                            <td id="txtProfile_Empresa"></td>
                        </tr>
                        <tr>
                            <td class="span2">Estado :</td>
                            <td id="txtProfile_Estado"></td>
                        </tr>
                        <tr>
                            <td class="span2">Correo :</td>
                            <td id="txtProfile_Correo"></td>
                        </tr>
                        <tr>
                            <td class="span2">Perfil :</td>
                            <td id="txtProfile_Perfil"></td>
                        </tr>
                        </tbody>
                    </table>
                    <!-- BEGIN HORIZONTAL DESCRIPTION LISTS PORTLET-->
                              <dl id="txtProfile_Novedades" class="dl-horizontal"></dl>
                <form id="Profile_CrearNovedad" class="control-group">
                    <label class="control-label">Agregar Novedad</label>
                    <div class="controls">
                       <div class="input-prepend">
                          <input class="input-large" type="text" required id="txtProfileCrearNovedad_Nombre" placeholder="Tipo de Novedad">
                          <textarea class="input-xxlarge" required id="txtProfileCrearNovedad_Observaciones" placeholder="Descripcion"></textarea>
                       </div>
                    </div>
                    <!--<div class="form-actions">-->
                      <button type="submit" class="span4 offset10 btn btn-warning"><i class="icon-ok"></i> Agregar</button>
                    <!--</div>-->
                 </form>
                    <!-- END HORIZONTAL DESCRIPTION LISTS PORTLET-->
                    <!--
                    <h4>Actividades<p class="text-error">* Esto todavía no le está apuntando a nada.</p></h4>

                    <table class="table table-borderless">
                        <tbody>
                        <tr>
                            <td class="span1"><span class="label label-inverse">Alumbrado</span></td>
                            <td>
                                <div class="progress progress-success progress-striped">
                                    <div style="width: 90%" class="bar"></div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="span1"><span class="label label-inverse">Comercial</span></td>
                            <td>
                                <div class="progress progress-warning progress-striped">
                                    <div style="width: 85%" class="bar"></div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="span1"><span class="label label-inverse">Tecnica</span></td>
                            <td>
                                <div class="progress progress-success progress-striped">
                                    <div style="width: 60%" class="bar"></div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="span1"><span class="label label-inverse">IPAL</span></td>
                            <td>
                                <div class="progress progress-success progress-striped">
                                    <div style="width: 40%" class="bar"></div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                -->
                </div>
                <div class="space5"></div>
            </div>
</div>
<!-- END PAGE CONTENT-->         
         