|<div>
  <form id="frmReporteParaConciliacion" class="control-group">
      <label class="control-label">Fecha</label>
      <div class="controls">
          <input class="m-wrap small" size="16" type="text" value="" id="txtReporteParaConciliacion_Desde" required/>
          <span class="text-inline">&nbsp;Hasta&nbsp;</span>
          <input class="m-wrap small" size="16" type="text" value="" id="txtReporteParaConciliacion_Hasta" required/>
          <img src="assets\pre-loader\Sun.gif" class="noMostrar icoCargando">
          <button class="btn btn-info" id="btnReporteParaConciliacion_Descargar"><i class="icon-download"></i> Descargar</button>
      </div>
  </form>
</div>
   <!-- BEGIN JAVASCRIPTS -->
   <!-- Load javascripts at bottom, this will reduce page load time -->
   <script>
      jQuery(document).ready(function() {       
         // initiate layout and plugins
         reporteParaConciliacion();
           fechasRango($("#txtReporteParaConciliacion_Desde"), $("#txtReporteParaConciliacion_Hasta"));

        var f = new Date();
        f = f.getFullYear() + "-" + CompletarConCero(f.getMonth() +1, 2) + "-" + CompletarConCero(f.getDate(), 2);
        $("#txtReporteParaConciliacion_Desde").val(f);
        $("#txtReporteParaConciliacion_Hasta").val(f);
      });
   </script>
</body>
<!-- END BODY -->