<div>
  <form id="frmReporteAlumbradoCompleto" class="control-group">
      <label class="control-label">Fecha</label>
      <div class="controls">
          <input class="m-wrap small" size="16" type="text" value="" id="txtReporteAlumbradoCompleto_Desde" required/>
          <span class="text-inline">&nbsp;Hasta&nbsp;</span>
          <input class="m-wrap small" size="16" type="text" value="" id="txtReporteAlumbradoCompleto_Hasta" required/>
          <img src="assets\pre-loader\Sun.gif" class="noMostrar icoCargando">
          <button class="btn btn-success" type="submit"><i class="icon-search"></i> Buscar</button>
          <button class="btn btn-info" id="btnReporteAlumbradoCompleto_Descargar"><i class="icon-download"></i> Descargar</button>
      </div>
  </form>
  <div class="widget-body">
    <table class="table table-striped table-bordered" id="tblAlumbradoCompleto">
      <thead>
          <tr>
            <th class='hidden-phone'>ID</th>
            <th class='hidden-phone'>OT</th>
            <th class='hidden-phone'>TIPO_OT</th>
            <th class='hidden-phone'>FECHA_EJEC</th>
            <th class='hidden-phone'>EJECUTOR</th>
            <th class='hidden-phone'>MUNICIPIO</th>
            <th class='hidden-phone'>CD</th>
            <th class='hidden-phone'>Trafo_nox</th>
            <th class='hidden-phone'>Trafo_noy</th>
            <th class='hidden-phone'>trafo_capa</th>
            <th class='hidden-phone'>trafo_fase</th>
            <th class='hidden-phone'>trafo_ubic</th>
            <th class='hidden-phone'>trafo_mun</th>
            <th class='hidden-phone'>trafo_barr</th>
            <th class='hidden-phone'>trafo_dir</th>
            <th class='hidden-phone'>clase_red</th>
            <th class='hidden-phone'>uso_red</th>
            <th class='hidden-phone'>punto_sig</th>
            <th class='hidden-phone'>LUMINARIA</th>
            <th class='hidden-phone'>ILU_DIR</th>
            <th class='hidden-phone'>ilu_nox</th>
            <th class='hidden-phone'>ilu_noy</th>
            <th class='hidden-phone'>ilu_tipoco</th>
            <th class='hidden-phone'>ilu_cant</th>
            <th class='hidden-phone'>ilu_tiplam</th>
            <th class='hidden-phone'>ilu_ilumin</th>
            <th class='hidden-phone'>ilu_propie</th>
            <th class='hidden-phone'>ilu_tipvia</th>
            <th class='hidden-phone'>rele_tipo</th>
            <th class='hidden-phone'>Rele_nox</th>
            <th class='hidden-phone'>Rele_noy</th>
            <th class='hidden-phone'>red_tipseg</th>
            <th class='hidden-phone'>red_mat</th>
            <th class='hidden-phone'>red_estado</th>
            <th class='hidden-phone'>tiempo_op</th>
            <th class='hidden-phone'>tipo_red</th>
            <th class='hidden-phone'>observacio</th>
            <th class='hidden-phone'>estado</th>
          </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>
</div>
   <!-- BEGIN JAVASCRIPTS -->
   <!-- Load javascripts at bottom, this will reduce page load time -->
   <script>
      jQuery(document).ready(function() {       
         // initiate layout and plugins
         reporteAlumbrado();
           fechasRango($("#txtReporteAlumbradoCompleto_Desde"), $("#txtReporteAlumbradoCompleto_Hasta"));

        var f = new Date();
        f = f.getFullYear() + "-" + CompletarConCero(f.getMonth() +1, 2) + "-" + CompletarConCero(f.getDate(), 2);
        $("#txtReporteAlumbradoCompleto_Desde").val(f);
        $("#txtReporteAlumbradoCompleto_Hasta").val(f);
      });
   </script>
</body>
<!-- END BODY -->