<div>
  <div class="span12">
        <div class="span6 alert alert-info">
          <strong>Fecha :</strong><h4 id="txtComercialDetalle_Fecha"></h4>
        </div>
    <table class="table table-borderless">
      <tbody>
        <tr>
            <td class="span2">Consecutivo Interno :</td><td id="txtComercialDetalle_Consecutivo"></td>
            <td class="span2">Comercial :</td><td id="txtComercialDetalle_idComercial"></td>
        </tr>
        <tr>
            <td class="span2">Atendio :</td><td id="txtComercialDetalle_Atendio"></td>
            <td class="span2">Dirección :</td><td id="txtComercialDetalle_Direccion"></td>
            <td class="span2">Telefono :</td><td id="txtComercialDetalle_Telefono"></td>
        </tr>
        <tr>
            <td class="span2">Usuario :</td><td id="txtComercialDetalle_Usuario"></td>
        </tr>
        <tr>
            <td class="span2">No. OT :</td><td id="txtComercialDetalle_OT"></td>
        </tr>
        <tr>
            <td class="span2">Tipo de Interventoria :</td><td id="txtComercialDetalle_TipoInterventoria"></td>
            <td class="span2">SubProceso :</td><td id="txtComercialDetalle_SubProceso"></td>
        </tr>
        <tr>
            <td class="span2">Medida :</td><td id="txtComercialDetalle_Medida"></td>
            <td class="span2">SE :</td><td id="txtComercialDetalle_Se"></td>
            <td class="span2">Medida :</td><td id="txtComercialDetalle_Medida2"></td>
        </tr>
        <tr>
            <td class="span2">Actividad Economica :</td><td id="txtComercialDetalle_ActividadEconomica"></td>
            <td class="span2">Factor :</td><td id="txtComercialDetalle_Factor"></td>
        </tr>
        <tr>
            <td class="span2">Med Activa :</td><td id="txtComercialDetalle_MedActiva"></td>
            <td class="span2">Lec Activa :</td><td id="txtComercialDetalle_LecActiva"></td>
        </tr>
        <tr>
            <td class="span2">Tipo Fase :</td><td id="txtComercialDetalle_TipoFase"></td>
            <td class="span2">Marca :</td><td id="txtComercialDetalle_Marca"></td>
            <td class="span2">Red :</td><td id="txtComercialDetalle_Red"></td>
        </tr>
        <tr>
            <td class="span2">Acceso a Medidor :</td><td id="txtComercialDetalle_AccesoMedidor"></td>
            <td class="span2">Tipo de Acometida :</td><td id="txtComercialDetalle_TipoAcometida"></td>
            <td class="span2">Acometida Compartida :</td><td id="txtComercialDetalle_AcometidaCompartida"></td>
        </tr>
        <tr>
            <td class="span2">Localizacion de Medidor :</td><td id="txtComercialDetalle_LocalizacionMedidor"></td>
        </tr>
        <tr>
            <td class="span2">Medida Referencia :</td><td id="txtComercialDetalle_MedidaReferencia"></td>
            <td class="span2">Sellos :</td><td id="txtComercialDetalle_Sellos"></td>
        </tr>
        <tr>
            <td class="span2">Capa Trafo :</td><td id="txtComercialDetalle_CapaTrafo"></td>
            <td class="span2">CD :</td><td id="txtComercialDetalle_CD"></td>
            <td class="span2">Punto Fisico :</td><td id="txtComercialDetalle_PuntoFisico"></td>
        </tr>
        </tbody>
    </table>
  </div>
  
  <button id="btnComercialDetalle_Archivos" class="btn btn-large btn-primary" Prefijo="" Consecutivo=""><i class="icon-folder-open"></i> Ver Archivos</button>
</div>
</body>
