<div>
  <form id="frmReporteComercialCompleto" class="control-group">
      <label class="control-label">Fecha</label>
      <div class="controls">
          <input class="m-wrap small" size="16" type="text" value="" id="txtReporteComercialCompleto_Desde" required/>
          <span class="text-inline">&nbsp;Hasta&nbsp;</span>
          <input class="m-wrap small" size="16" type="text" value="" id="txtReporteComercialCompleto_Hasta" required/>
          <img src="assets\pre-loader\Sun.gif" class="noMostrar icoCargando">
          <button class="btn btn-success" type="submit"><i class="icon-search"></i> Buscar</button>
      </div>
  </form>
  <div class="widget-body">
    <table class="table table-striped table-bordered" id="tblComercialCompleto">
      <thead>
          <tr>
            <th class="hidden-phone">Consecutivo</th>
            <th class="hidden-phone">Prefijo</th>
            <th class="hidden-phone">Consecutivo Interno</th>
            <th class="hidden-phone">OT</th>
            <th class="hidden-phone">Fecha</th>
            <th class="hidden-phone">Hora Inicio</th>
            <th class="hidden-phone">Dirección</th>
            <th class="hidden-phone">Atendió</th>
            <th class="hidden-phone">Telefono</th>
            <th class="hidden-phone">Tipo</th>
            <th class="hidden-phone">Sub Proceso</th>
            <th class="hidden-phone">Medida</th>
            <th class="hidden-phone">SE</th>
            <th class="hidden-phone">Medida</th>
            <th class="hidden-phone">Act Economica</th>
            <th class="hidden-phone">Factor</th>
            <th class="hidden-phone">Med Activa</th>
            <th class="hidden-phone">Lec Activa</th>
            <th class="hidden-phone">Tipo Fase</th>
            <th class="hidden-phone">Marca</th>
            <th class="hidden-phone">Red</th>
            <th class="hidden-phone">Acceso Medidor</th>
            <th class="hidden-phone">Tipo Acometida</th>
            <th class="hidden-phone">Acometida Compartida</th>
            <th class="hidden-phone">Localización Medidor</th>
            <th class="hidden-phone">Med Referencia</th>
            <th class="hidden-phone">Sellos</th>
            <th class="hidden-phone">Capa Trafo</th>
            <th class="hidden-phone">CD</th>
            <th class="hidden-phone">Punto Fisico</th>
            <th class="hidden-phone">Observaciones</th>
            <th class="hidden-phone">F Supervisión</th>
            <th class="hidden-phone">Cuadrillas</th>
            <th class="hidden-phone">Ins Realizadas</th>
            <th class="hidden-phone">Plan Supervisión</th>
            <th class="hidden-phone">Obs Cliente</th>
            <th class="hidden-phone">Obs Predio</th>
            <th class="hidden-phone">Cumple</th>
            <th class="hidden-phone">Cod Incumplimiento</th>
            <th class="hidden-phone">Frio/Sitio</th>
            <th class="hidden-phone">Ejecutado Por:</th>
          </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>
</div>
   <!-- BEGIN JAVASCRIPTS -->
   <!-- Load javascripts at bottom, this will reduce page load time -->
   <script>
      jQuery(document).ready(function() {       
         // initiate layout and plugins
         reporteComercialCompleto();
           fechasRango($("#txtReporteComercialCompleto_Desde"), $("#txtReporteComercialCompleto_Hasta"));

        var f = new Date();
        f = f.getFullYear() + "-" + CompletarConCero(f.getMonth() +1, 2) + "-" + CompletarConCero(f.getDate(), 2);
        $("#txtReporteComercialCompleto_Desde").val(f);
        $("#txtReporteComercialCompleto_Hasta").val(f);
      });
   </script>
</body>
<!-- END BODY -->