<div>
  <form id="frmReporteGrupoFacturacionDetalle" class="control-group">
      <label class="control-label">Fecha</label>
      <div class="controls">
          <input class="m-wrap small" size="16" type="text" value="" id="txtReporteGrupoFacturacionDetalle_Desde" required/>
          <span class="text-inline">&nbsp;Hasta&nbsp;</span>
          <input class="m-wrap small" size="16" type="text" value="" id="txtReporteGrupoFacturacionDetalle_Hasta" required/>
          <img src="assets\pre-loader\Sun.gif" class="noMostrar icoCargando">
          <button class="btn btn-success" type="submit"><i class="icon-search"></i> Buscar</button>
      </div>
  </form>
  <div class="widget-body">
    <table class="table table-striped table-bordered" id="tblGrupoFacturacionDetalle">
      <thead>
          <tr>
            <th></th>
            <th>Consecutivo</th>
            <th>idFacturacionTerreno</th>
            <th>idFacturacion</th>
            <th>Prefijo</th>
            <th>PrefijoIns</th>
            <th>NumCuenta</th>
            <th>NumMedidor</th>
            <th>Sucursal</th>
            <th>Direccion</th>
            <th>Barrio</th>
            <th>Ciclo</th>
            <th>Grupo</th>
            <th>Lectura</th>
            <th>Anomalia</th>
            <th>EntregaFact</th>
            <th>EntregaOpor</th>
            <th>Cumple</th>
            <th>Observaciones</th>
          </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>
</div>
   <!-- BEGIN JAVASCRIPTS -->
   <!-- Load javascripts at bottom, this will reduce page load time -->
   <script>
      jQuery(document).ready(function() {       
         // initiate layout and plugins
         reporteGrupoFacturacionDetalle();
           fechasRango($("#txtReporteGrupoFacturacionDetalle_Desde"), $("#txtReporteGrupoFacturacionDetalle_Hasta"));

        var f = new Date();
        f = f.getFullYear() + "-" + CompletarConCero(f.getMonth() +1, 2) + "-" + CompletarConCero(f.getDate(), 2);
        $("#txtReporteGrupoFacturacionDetalle_Desde").val(f);
        $("#txtReporteGrupoFacturacionDetalle_Hasta").val(f);
      });
   </script>
</body>
<!-- END BODY -->