<div>
  <form id="frmReporteIpalesCompleto" class="control-group">
      <label class="control-label">Fecha</label>
      <div class="controls">
          <input class="m-wrap small" size="16" type="text" value="" id="txtReporteIpalesCompleto_Desde" required/>
          <span class="text-inline">&nbsp;Hasta&nbsp;</span>
          <input class="m-wrap small" size="16" type="text" value="" id="txtReporteIpalesCompleto_Hasta" required/>
          <img src="assets\pre-loader\Sun.gif" class="noMostrar icoCargando">
          <button class="btn btn-success" type="submit"><i class="icon-search"></i> Buscar</button>
      </div>
  </form>
  <div class="widget-body">
    <table class="table table-striped table-bordered" id="tblIpalesCompleto">
      <thead>
          <tr>
            <th></th>
            <th class="hidden-phone">Consecutivo</th>
            <th class="hidden-phone">Fecha</th>
            <th class="hidden-phone">Empresa</th>
            <th class="hidden-phone">Direccion</th>
            <th class="hidden-phone">Celular</th>
            <th class="hidden-phone">Tipo Vehiculo</th>
            <th class="hidden-phone">Placa Vehiculo</th>
            <th class="hidden-phone">Placa Grua</th>
            <th class="hidden-phone">Placa Canasta</th>
            <th class="hidden-phone">Placa Moto</th>
            <th class="hidden-phone">No. Contrato</th>
            <th class="hidden-phone">Trabajo</th>
            <th class="hidden-phone">Proceso</th>
            <th class="hidden-phone">Usuario</th>
            <th class="hidden-phone">Observaciones</th>
            <th class="hidden-phone">Zona</th>
            <th class="hidden-phone">Recibió</th>
            <th class="hidden-phone">Cargo-Empresa</th>
            <th class="hidden-phone">Resultado</th>
          </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>
</div>
   <!-- BEGIN JAVASCRIPTS -->
   <!-- Load javascripts at bottom, this will reduce page load time -->
   <script>
      jQuery(document).ready(function() {       
         // initiate layout and plugins
         reporteIpales();
           fechasRango($("#txtReporteIpalesCompleto_Desde"), $("#txtReporteIpalesCompleto_Hasta"));

        var f = new Date();
        f = f.getFullYear() + "-" + CompletarConCero(f.getMonth() +1, 2) + "-" + CompletarConCero(f.getDate(), 2);
        $("#txtReporteIpalesCompleto_Desde").val(f);
        $("#txtReporteIpalesCompleto_Hasta").val(f);
      });
   </script>
</body>
<!-- END BODY -->