<div>
  <div class="span12">
        <div class="span6 alert alert-info">
          <strong>Fecha :</strong><h4 id="txtGrupoFacturacionDetalle_Fecha"></h4>
        </div>
    <table class="table table-borderless">
      <tbody>
        <tr>
            <td class="span2">Hora Ini :</td><td id="txtGrupoFacturacionDetalle_HoraIni"></td>
            <td class="span2">Hora Fin :</td><td id="txtGrupoFacturacionDetalle_HoraFin"></td>
        </tr>
        <tr>
            <td class="span2">Colaboradora :</td><td id="txtGrupoFacturacionDetalle_Colaboradora"></td>
        </tr>
        <tr>
            <td class="span2">Municipio :</td><td id="txtGrupoFacturacionDetalle_Municipio"></td>
            <td class="span2">SubZona :</td><td id="txtGrupoFacturacionDetalle_SubZona"></td>
        </tr>
        <tr>
        </tr>
        <tr>
            <td class="span2">Supervisor :</td><td id="txtGrupoFacturacionDetalle_Supervisor"></td>
            <td class="span2">Cedula :</td><td id="txtGrupoFacturacionDetalle_SupervisorCedula"></td>
        </tr>
        <tr>
            <td class="span2">Hora Llegada :</td><td id="txtGrupoFacturacionDetalle_HoraLlegada"></td>
            <td class="span2">Hora Salida :</td><td id="txtGrupoFacturacionDetalle_HoraSalida"></td>
        </tr>
        <tr>
            <td class="span2">Charla :</td><td id="txtGrupoFacturacionDetalle_Charla"></td>
            <td class="span2">Tema :</td><td id="txtGrupoFacturacionDetalle_CharlaTema"></td>
        </tr>
        <tr>
            <td class="span2">Formato de Supervisión :</td><td id="txtGrupoFacturacionDetalle_FormatoSup"></td>
            <td class="span2">Cuadrillas a Cargo :</td><td id="txtGrupoFacturacionDetalle_Cuadrillas"></td>
        </tr>
        <tr>
            <td class="span2">Inspecciones Realizadas :</td><td id="txtGrupoFacturacionDetalle_Inspecciones"></td>
            <td class="span2">Cumple Plan de Supervisión :</td><td id="txtGrupoFacturacionDetalle_CumplePlanSup"></td>
        </tr>
        <tr>
            <td class="span2">Observaciones :</td><td id="txtGrupoFacturacionDetalle_Observaciones"></td>
        </tr>
        <tr>
            <td class="span2">Observaciones Generales :</td><td id="txtGrupoFacturacionDetalle_ObservacionesGenerales"></td>
        </tr>
        </tbody>
    </table>
  </div>
  <div class="widget-body">
    <table class="table table-striped table-bordered" id="tblGrupoFacturacionDetalle">
      <thead>
          <tr>
            <th></th>
            <th class="hidden-phone">Consecutivo</th>
            <th class="hidden-phone">Número de Cuenta</th>
            <th class="hidden-phone">Número de Medidor</th>
            <th class="hidden-phone">Sucursal</th>
            <th class="hidden-phone">Dirección</th>
            <th class="hidden-phone">Barrio</th>
            <th class="hidden-phone">Ciclo</th>
            <th class="hidden-phone">Grupo</th>
            <th class="hidden-phone">Lectura</th>
            <th class="hidden-phone">Anomalía</th>
            <th class="hidden-phone">Entrega Factura</th>
            <th class="hidden-phone">Entrega Oportuna</th>
            <th class="hidden-phone">Cumple</th>
            <th class="hidden-phone">Observaciones</th>
          </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>
</div>
</body>
