<div>
  <div class="span12">
        <div class="span6 alert alert-info">
          <strong>Fecha :</strong><h4 id="txtIpalDetalle_Fecha"></h4>
        </div>
        <div class="span2">
          <img id="txtIpalDetalle_Resultado" src="" width="55">
        </div>  
    <table class="table table-borderless">
      <tbody>
        <tr>
            <td class="span2">Consecutivo Interno :</td><td id="txtIpalDetalle_Consecutivo"></td>
            <td class="span2">Ipal :</td><td id="txtIpalDetalle_idIpal"></td>
        </tr>
        <tr>
            <td class="span2">Empresa :</td><td id="txtIpalDetalle_Empresa"></td>
        </tr>
        <tr>
            <td class="span2">Dirección :</td><td id="txtIpalDetalle_Direccion"></td>
        </tr>
        <tr>
            <td class="span2">Usuario :</td><td id="txtIpalDetalle_Usuario"></td>
        </tr>
        <tr>
            <td class="span2">No. Contrato :</td><td id="txtIpalDetalle_NoContrato"></td>
        </tr>
        <tr>
            <td class="span2">Observaciones :</td><td id="txtIpalDetalle_Observaciones"></td>
        </tr>
        <tr>
            <td class="span2">Celular :</td><td id="txtIpalDetalle_Celular"></td>
        </tr>
        <tr>
            <td class="span2">Tipo de Vehiculo :</td><td id="txtIpalDetalle_VehiculoTipo"></td>
            <td class="span2">Placa :</td><td id="txtIpalDetalle_VehiculoPlaca"></td>
        </tr>
        <tr>
            <td class="span2">Grua :</td><td id="txtIpalDetalle_GruaPlaca"></td>
            <td class="span2">Canasta :</td><td id="txtIpalDetalle_CanastaPlaca"></td>
            <td class="span2">Moto :</td><td id="txtIpalDetalle_MotoPlaca"></td>
        </tr>
        <tr>
            <td class="span2">Trabajo :</td><td id="txtIpalDetalle_Trabajo"></td>
            <td class="span2">Proceso :</td><td id="txtIpalDetalle_Proceso"></td>
        </tr>
        <tr>
            <td class="span2">Zona :</td><td id="txtIpalDetalle_Zona"></td>
        </tr>
        <tr>
            <td class="span2">Recibió :</td><td id="txtIpalDetalle_Recibio"></td>
            <td class="span2">Cargo-Empresa :</td><td id="txtIpalDetalle_CargoEmpresa"></td>
        </tr>
        </tbody>
    </table>
  </div>
  <div class="widget-body">
    <table class="table table-striped table-bordered" id="tblIpalesDetalle">
      <thead>
          <tr>
            <th></th>
            <th class="hidden-phone">Numeral</th>
            <th class="hidden-phone">Desripción</th>
            <th class="hidden-phone">Resultado</th>
          </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>
  <button id="btnIpalDetalle_Archivos" class="btn btn-large btn-primary" Prefijo="" Consecutivo=""><i class="icon-folder-open"></i> Ver Archivos</button>
</div>
</body>
