<div>
  <form id="frmReporteInspecciones" class="control-group">
      <label class="control-label">Fecha</label>
      <div class="controls">
          <input class="m-wrap small" size="16" type="text" value="" id="txtReporteInspecciones_Desde" required/>
          <span class="text-inline">&nbsp;Hasta&nbsp;</span>
          <input class="m-wrap small" size="16" type="text" value="" id="txtReporteInspecciones_Hasta" required/>
          <img src="assets\pre-loader\Sun.gif" class="noMostrar icoCargando">
          <button class="btn btn-success" type="submit"><i class="icon-search"></i> Buscar</button>
      </div>
  </form>
  <div class="widget-body">
    <table class="table table-striped table-bordered" id="tblInspecciones">
      <thead>
          <tr>
            <th></th>
            <th class="hidden-phone">Consecutivo</th>
            <th class="hidden-phone">Fecha</th>
            <th class="hidden-phone">Actividad</th>
            <th class="hidden-phone">Veredal</th>
            <th class="hidden-phone">Adjudicado</th>
            <th class="hidden-phone">Total</th>
            <th class="hidden-phone">Usuario</th>
            <th class="hidden-phone">Tipo</th>
          </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>
</div>
   <!-- BEGIN JAVASCRIPTS -->
   <!-- Load javascripts at bottom, this will reduce page load time -->
   <script>
      jQuery(document).ready(function() {       
         // initiate layout and plugins
         reporteInspecciones();
           fechasRango($("#txtReporteInspecciones_Desde"), $("#txtReporteInspecciones_Hasta"));

        var f = new Date();
        f = f.getFullYear() + "-" + CompletarConCero(f.getMonth() +1, 2) + "-" + CompletarConCero(f.getDate(), 2);
        $("#txtReporteInspecciones_Desde").val(f);
        $("#txtReporteInspecciones_Hasta").val(f);
      });
   </script>
</body>
<!-- END BODY -->