<div>
  <form id="frmReporteParaFactura" class="control-group">
      <label class="control-label">Fecha</label>
      <div class="controls">
          <input class="m-wrap small" size="16" type="text" value="" id="txtReporteParaFactura_Desde" required/>
          <span class="text-inline">&nbsp;Hasta&nbsp;</span>
          <input class="m-wrap small" size="16" type="text" value="" id="txtReporteParaFactura_Hasta" required/>
          <img src="assets\pre-loader\Sun.gif" class="noMostrar icoCargando">
          <button class="btn btn-success" type="submit"><i class="icon-search"></i> Buscar</button>
          <button class="btn btn-info" id="btnReporteParaFactura_Descargar"><i class="icon-download"></i> Descargar</button>
      </div>
  </form>
  <div class="widget-body">
    <table class="table table-striped table-bordered" id="tblParaFactura">
      <thead>
          <tr>
            <th>SubZona</th>
            <th>Municipio</th>
            <th>Total</th>
          </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>
</div>
   <!-- BEGIN JAVASCRIPTS -->
   <!-- Load javascripts at bottom, this will reduce page load time -->
   <script>
      jQuery(document).ready(function() {       
         // initiate layout and plugins
         reporteParaFactura();
           fechasRango($("#txtReporteParaFactura_Desde"), $("#txtReporteParaFactura_Hasta"));

        var f = new Date();
        f = f.getFullYear() + "-" + CompletarConCero(f.getMonth() +1, 2) + "-" + CompletarConCero(f.getDate(), 2);
        $("#txtReporteParaFactura_Desde").val(f);
        $("#txtReporteParaFactura_Hasta").val(f);
      });
   </script>
</body>
<!-- END BODY -->