<div>
  <form id="frmreporteNTC" class="control-group">
      <label class="control-label">Fecha</label>
      <div class="controls">
          <input class="m-wrap small" size="16" type="text" value="" id="txtreporteNTC_Desde" required/>
          <span class="text-inline">&nbsp;Hasta&nbsp;</span>
          <input class="m-wrap small" size="16" type="text" value="" id="txtreporteNTC_Hasta" required/>
          <img src="assets\pre-loader\Sun.gif" class="noMostrar icoCargando">
          <button class="btn btn-success" type="submit"><i class="icon-search"></i> Buscar</button>
      </div>
  </form>
  <div class="widget-body">
    <table class="table table-striped table-bordered" id="tblreporteNTC">
      <thead>
          <tr>
            <th></th>
            <th class="hidden-phone">Consecutivo</th>
            <th class="hidden-phone">Fecha</th>
            <th class="hidden-phone">Intento</th>
            <th class="hidden-phone">Desde</th>
            <th class="hidden-phone">Hasta</th>
            <th class="hidden-phone">Nivel de Inspeccion</th>
            <th class="hidden-phone">NAC</th>
            <th class="hidden-phone">Lote</th>
            <th class="hidden-phone">Codigo</th>
            <th class="hidden-phone">Muestra</th>
            <th class="hidden-phone">MargenRechazo</th>
            <th class="hidden-phone">Aprobadas</th>
            <th class="hidden-phone">No Aprobadas</th>
            <th class="hidden-phone">Resultado</th>
          </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>
</div>
   <!-- BEGIN JAVASCRIPTS -->
   <!-- Load javascripts at bottom, this will reduce page load time -->
   <script>
      jQuery(document).ready(function() {       
         // initiate layout and plugins
         //reporteNTC();
           fechasRango($("#txtreporteNTC_Desde"), $("#txtreporteNTC_Hasta"));

        var f = new Date();
        f = f.getFullYear() + "-" + CompletarConCero(f.getMonth() +1, 2) + "-" + CompletarConCero(f.getDate(), 2);
        $("#txtreporteNTC_Desde").val(f);
        $("#txtreporteNTC_Hasta").val(f);

        $("#frmreporteNTC").on("submit", function(evento)
          {
            evento.preventDefault();
            $.post("php/ntc2859/reporte.php", {Desde: $("#txtreporteNTC_Desde").val(), Hasta : $("#txtreporteNTC_Hasta").val()},
              function(data)
              {
                if (typeof(data) == "object")
                {
                  $("#tblreporteNTC").dataTable().fnDestroy();
                  $("#tblreporteNTC tbody tr").remove();
                  var tds = "";
                  var res = "";
                  $.each(data, function(index, val) 
                  {
                    if ((parseInt(val.No_Aprobados) + parseInt(val.Aprobados))> 0)
                    {
                      res = "<span class='label label-success'>Aprobado</span>";
                      tds += "<tr><td></td>";
                      $.each(val, function(key, value) 
                      {
                        if (key == "Prefijo")
                        {
                          tds += "<td>" + value + "</td>";
                        } else
                        {
                          tds += "<td>" + value + "</td>";
                        }
                      });
                      if (parseInt(val.MargenRechazo) < parseInt(val.No_Aprobados))
                      {
                        res = "<span class='label label-important'>No Aprobado</span>";
                      }
                      if ((parseInt(val.No_Aprobados) + parseInt(val.Aprobados))!= parseInt(val.Muestra))
                      {
                        res = "<span class='label label-warning'>Incompleto</span>";
                      }

                      tds += "<td>" + res + "</td></tr>";
                    }
                  });
                    $("#tblreporteNTC tbody").append(tds);
                    $("#tblreporteNTC").crearTabla1({lblMenu : "Reportes por página"});
                } else
                {
                  Mensaje("Error", "No se encontraron pruebas en ese periodo");
                }
              }, "json");
          });
      });
   </script>
</body>
<!-- END BODY -->