<div>
  <form id="frmReportePNC" class="control-group">
      <label class="control-label">Fecha</label>
      <div class="controls">
          <input class="m-wrap small" size="16" type="text" value="" id="txtReportePNC_Desde" required/>
          <span class="text-inline">&nbsp;Hasta&nbsp;</span>
          <input class="m-wrap small" size="16" type="text" value="" id="txtReportePNC_Hasta" required/>
          <img src="assets\pre-loader\Sun.gif" class="noMostrar icoCargando">
          <button class="btn btn-success" type="submit"><i class="icon-search"></i> Buscar</button>
      </div>
  </form>
  <div class="widget-body">
    <table class="table table-striped table-bordered" id="tblPNC">
      <thead>
        <tr class="fondoAzul">
          <td colspan="13" style='text-align:center;'>DATOS GENERALES</td>
          <td colspan="4" style='text-align:center;'>VALIDACIÓN CONTRATO</td>
          <td colspan="5" style='text-align:center;'>VALIDACIÓN FINAL (O.I)</td>
        </tr>
        <tr class="fondoAzul">
          <th>PROCESO</th>
          <th>EMPRESA COLABORADORA</th>
          <th>No. ORDEN</th>
          <th>FECHA ANALISIS</th>
          <th>FECHA EJECUCIÓN OT</th>
          <th>FECHA CARGUE ÉPICA</th>
          <th>CUADRILLA</th>
          <th>ZONA</th>
          <th>SUBZONA</th>
          <th>MUNICIPIO</th>
          <th>MOTIVO DEL RECHAZO</th>
          <th>OBSERVACION DEL RECHAZO</th>
          <th>ÁREA DE ORIGEN</th>
          <th>ACEPTA RECHAZO</th>
          <th>OBSERVACIONES DE LA EEC</th>
          <th>FECHA DE ENVÍO</th>
          <th>FECHA DE RESPUESTA</th>
          <th>APLICA RECHAZO</th>
          <th>OBSERVACIONES</th>
          <th>FECHA DE ENVÍO</th>
          <th>FECHA DE RESPUESTA</th>
          <th>VALOR TOTAL</th>
      </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>
</div>
   <!-- BEGIN JAVASCRIPTS -->
   <!-- Load javascripts at bottom, this will reduce page load time -->
   <script>
      jQuery(document).ready(function() {       
         // initiate layout and plugins
         reportePNC();
           fechasRango($("#txtReportePNC_Desde"), $("#txtReportePNC_Hasta"));

        var f = new Date();
        f = f.getFullYear() + "-" + CompletarConCero(f.getMonth() +1, 2) + "-" + CompletarConCero(f.getDate(), 2);
        $("#txtReportePNC_Desde").val(f);
        $("#txtReportePNC_Hasta").val(f);
      });
   </script>
</body>
<!-- END BODY -->