<div>
  <form id="frmReporteComercial" class="control-group">
      <label class="control-label">Fecha</label>
      <div class="controls">
          <input class="m-wrap small" size="16" type="text" value="" id="txtReporteComercial_Desde" required/>
          <span class="text-inline">&nbsp;Hasta&nbsp;</span>
          <input class="m-wrap small" size="16" type="text" value="" id="txtReporteComercial_Hasta" required/>
          <img src="assets\pre-loader\Sun.gif" class="noMostrar icoCargando">
          <button class="btn btn-success" type="submit"><i class="icon-search"></i> Buscar</button>
      </div>
  </form>
  <div class="widget-body">
    <table class="table table-striped table-bordered" id="tblComercial">
      <thead>
          <tr>
            <th></th>
            <th class="hidden-phone">Consecutivo</th>
            <th class="hidden-phone">Fecha</th>
            <th class="hidden-phone">Hora</th>
            <th class="hidden-phone">OT</th>
            <th class="hidden-phone">Direccion</th>
            <th class="hidden-phone">Tipo Interventoria</th>
            <th class="hidden-phone">SubProceso</th>
            <th class="hidden-phone">Ejecutó</th>
            <th class="hidden-phone">Ed</th>
            <th class="hidden-phone">El</th>
          </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>
</div>
   <!-- BEGIN JAVASCRIPTS -->
   <!-- Load javascripts at bottom, this will reduce page load time -->
   <script>
      jQuery(document).ready(function() {       
         // initiate layout and plugins
         reporteComercial();
           fechasRango($("#txtReporteComercial_Desde"), $("#txtReporteComercial_Hasta"));

        var f = new Date();
        f = f.getFullYear() + "-" + CompletarConCero(f.getMonth() +1, 2) + "-" + CompletarConCero(f.getDate(), 2);
        $("#txtReporteComercial_Desde").val(f);
        $("#txtReporteComercial_Hasta").val(f);
      });
   </script>
</body>
<!-- END BODY -->