<body class="fixed-top">
      <!-- BEGIN PAGE -->  
            <!-- BEGIN PAGE CONTENT-->
            <div class="row-fluid">
              <form id='frmTecnicaTramosmt' class="form-horizontal">
                <!--
                <div class="control-group">
                    <label class="control-label">Orden de Trabajo</label>
                    <div class="controls">
                        <input type="number" placeholder="Numero de la Orden de Trabajo" class="input-large" id='txtTecnicaTramosmt_Ot' required/>
                    </div>
                </div>
              -->
              <div class="control-group">
                    <label class="control-label">Coordenada X</label>
                    <div class="controls">
                      <input type="text" placeholder="Coordenada X" class="input-large" id='txtTecnicaTramosmt_CoordenadasIni' required/>
                        <button type="submit" id="btnTecnicaTramosmt_TomarCoordenadasIni" class="btn btn-info"><i class="icon-map-marker" Comparar="999.33,800.12732"></i> </button>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Coordenada Y</label>
                    <div class="controls">
                      <input type="text" placeholder="Coordenada Y" class="input-large" id='txtTecnicaTramosmt_CoordenadasIni' required/>
                        <button type="submit" id="btnTecnicaTramosmt_TomarCoordenadasFin" class="btn btn-info"><i class="icon-map-marker" Comparar="999.33,800.12732"></i> </button>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Punto Fisico</label>
                    <div class="controls">
                        <input type="text" placeholder="Número de serie del poste de donde viene la línea" class="input-large" id='txtTecnicaTramosmt_Serie' required/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Rótulo</label>
                    <div class="controls">
                        <input type="text" placeholder="Placa Amarilla" class="input-large" id='txtTecnicaTramosmt_Serie' required/>
                    </div>
                </div>



                <div class="control-group">
                    <label class="control-label">Subestación</label>
                    <div class="controls">
                        <select class="span6 chosen" data-placeholder="Tipo de Red" tabindex="1"  id='txtTecnicaTramosmt_Subestacion' >
                          <option value='401'>ARBELAEZ</option>
                          <option value='809'>DORADA CHEC</option>
                          <option value='807'>VILLETA</option>
                          <option value='407'>MUÑA (CODENSA)</option>
                          <option value='408'>PORTONES (CODENSA)</option>
                          <option value='404'>GRANADA</option>
                          <option value='405'>SAN JORGE</option>
                          <option value='407C'>DE SUBESTACION MUÑA (CODENSA)</option>
                          <option value='402'>BALMORAL</option>
                          <option value='303'>DIAMANTE</option>
                          <option value='309'>EL PEÑON</option>
                          <option value='314'>EL PALMAR</option>
                          <option value='306'>LA ISLA </option>
                          <option value='302'>BELTRAN</option>
                          <option value='307'>JOSE MARIA CORDOBA</option>
                          <option value='310'>FLANDES (ELECTROLIMA)</option>
                          <option value='311'>AMBALEMA BELTRAN (ELECTROLIMA)</option>
                          <option value='306-1'>LA ISLA</option>
                          <option value='601'>ANOLAIMA</option>
                          <option value='313'>PTO PEÑALIZA</option>
                          <option value='305'>GUATAQUI</option>
                          <option value='603'>CARTAGENITA</option>
                          <option value='617'>LA ESMERALDA</option>
                          <option value='602'>ARBOLEDA</option>
                          <option value='618'>FACA- VILLAS DE MANJUI</option>
                          <option value='604'>FACATATIVA</option>
                          <option value='606'>SAN FRANCISCO</option>
                          <option value='609'>EL SOL (CODENSA - EEC)</option>
                          <option value='611'>EL ROSAL (CODENSA)</option>
                          <option value='613'>VIANI (CODENSA)</option>
                          <option value='701'>ANAPOIMA</option>
                          <option value='702'>APULO</option>
                          <option value='703'>LA MESA 1</option>
                          <option value='704'>LA SALADA</option>
                          <option value='706'>LA GUACA (CODENSA)</option>
                          <option value='707'>DARIO VALENCIA - INICIO LINEA CODENSA </option>
                          <option value='605'>PACHO</option>
                          <option value='803'>PUERTO LIBRE</option>
                          <option value='806'>UTICA</option>
                          <option value='801'>GUADUAS</option>
                          <option value='802'>CENTRAL DE RIONEGRO</option>
                          <option value='804'>PTO SALGAR</option>
                          <option value='808'>VILLETA CODENSA</option>
                          <option value='810'>YUCALITO</option>
                          <option value='506'>SUPLENCIA-CODENSA LA CALERA</option>
                          <option value='PR001'>1</option>
                          <option value='PRUEB'>1</option>
                          <option value='PRU_2'>PRUEBA_2</option>
                          <option value='901'>CHOACHI</option>
                          <option value='503'>SAN PEDRO (CODENSA)</option>
                          <option value='501'>SALITRE</option>
                          <option value='907'>PARATEBUENO</option>
                          <option value='903'>JAPON </option>
                          <option value='502'>SUEVA (CEMEX)</option>
                          <option value='909'>CAQUEZA EEC</option>
                          <option value='902'>FOMEQUE</option>
                          <option value='403'>CHINAUTA</option>
                          <option value='904'>CÁQUEZA (CODENSA)</option>
                          <option value='906'>MANBITA - EMGESA</option>
                          <option value='316'>AGUA DE DIOS</option>
                          <option value='504'>GUATEQUE (ELECTROBOYACÁ)</option>
                          <option value='811'>GUALI (ENERTOLIMA)</option>
                          <option value='619'>ALBAN</option>
                          <option value='317'>LOS MANGOS</option>
                          <option value='507'>GACHETA</option>
                          <option value='001'>LA GRAN VIA - CODENSA</option>
                          <option value='318'>TERRALONGA</option>
                          <option value='908'>MEDINA</option>
                          <option value='905'>CUMARAL (EMSA)</option>
                          <option value='620'>BALSILLAS (CODENSA)</option>
                          <option value='406'>SAUCES</option>
                          <option value='705'>TOCAIMA</option>
                          <option value='812'>BASE AEREA</option>
                          <option value='505'>SUBESTACIÓN LA ESPERANZA</option>
                        </select>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Alimentador</label>
                    <div class="controls">
                        <input type="text" placeholder="" class="input-mini" id='txtTecnicaTramosmt_Alimentador' required/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Circuito</label>
                    <div class="controls">
                        <input type="text" placeholder="Ingrese los dígitos que identifican el circuito (subestación y alimentador)" class="input-xlarge" id='txtTecnicaTramosmt_Circuito' required/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Fases</label>
                    <div class="controls">
                        <input type="text" placeholder="Fases de la red ej: A, ABC, CB etc." class="input-large" id='txtTecnicaTramosmt_Fases' required/>
                    </div>
                </div>
                
                <div class="control-group">
                    <label class="control-label">Coordenadas apoyo Inicial</label>
                    <div class="controls">
                      <input type="text" placeholder="Coordenada del apoyo Inicial" class="input-large" id='txtTecnicaTramosmt_CoordenadasIni' required/>
                        <button type="submit" id="btnTecnicaTramosmt_TomarCoordenadasIni" class="btn btn-info"><i class="icon-map-marker" Comparar="999.33,800.12732"></i> </button>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">PF apoyo Final</label>
                    <div class="controls">
                        <input type="text" placeholder="Número de serie del poste de donde viene la línea" class="input-large" id='txtTecnicaTramosmt_Serie' required/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Coordenadas apoyo Final</label>
                    <div class="controls">
                      <input type="text" placeholder="Coordenada del apoyo Final" class="input-large" id='txtTecnicaTramosmt_CoordenadasFin' required/>
                        <button type="submit" id="btnTecnicaTramosmt_TomarCoordenadasFin" class="btn btn-info"><i class="icon-map-marker" Comparar="999.33,800.12732"></i> </button>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Calibre del Cable de las fases</label>
                    <div class="controls">
                        <input type="text" placeholder="Calibre del Cable de las fases" class="input-large" id='txtTecnicaTramosmt_Calibre' required/>
                    </div>
                </div>
                <div class="control-group">
                  <label class="control-label">TIPO_SEGTO</label>
                  <div class="controls">
                     <input type="text" placeholder="" class="input-mini" id='txtTecnicaTramosmt_TipoSegto' required/>
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label">Estrutura (VALIDAR SI ESTO ES estruCtura</label>
                  <div class="controls">
                     <input type="text" placeholder="" class="input-mini" id='txtTecnicaTramosmt_Estrutura' required/>
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label">Tipo de Red</label>
                  <div class="controls">
                     <select class="span6 chosen" data-placeholder="Tipo de Red" tabindex="1" id="txtTecnicaTramosmt_TipoRed">
                      <option>AEREO</option>
                      <option>SUBTERRANEO</option>    
                     </select>
                  </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Calibre del Cable de Red</label>
                    <div class="controls">
                        <input type="text" placeholder="Calibre del Cable de Red" class="input-large" id='txtTecnicaTramosmt_Calibre' required/>
                    </div>
                </div>
                
                <div class="control-group">
                  <label class="control-label">Material del Cable de Red:</label>
                  <div class="controls">
                     <select class="span6 chosen" data-placeholder="Material del Cable de Red" tabindex="1" id="txtTecnicaTramosmt_Material">
                        <option value="AL">ALUMINIO</option>
                        <option value="Cu">COBRE</option>
                        <option value="ASCR">CABLE DE ALUMINIO REFORZADO EN ACERO</option>
                        <option value="AAAC">RED COMPACTA</option>
                     </select>
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label">Aislamiento:</label>
                  <div class="controls">
                     <select class="span6 chosen" data-placeholder="Aislamiento" tabindex="1" id="txtTecnicaTramosmt_Aislamiento">
                        <option value="XLPE 15">Cable subterraneo 15 kV</option>
                        <option value="XLPE 38">Cable subterraneo</option>
                        <option value="D">Desnudo</option>
                        <option value="SA15">Semiaislado (red compacta) 15kV</option>
                        <option value="SA36">Semiaislado (Red Compacta)  36kV</option>
                     </select>
                  </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Fases</label>
                    <div class="controls">
                        <input type="text" placeholder="Faixa" class="input-large" id='txtTecnicaTramosmt_Faixa'  required/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">QTDFASES</label>
                    <div class="controls">
                        <input type="number" placeholder="" class="input-mini" id='txtTecnicaTramosmt_QTDFASES'  required/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">COMPRIMENTO</label>
                    <div class="controls">
                        <input type="number" placeholder="" class="input-large" id='txtTecnicaTramosmt_COMPRIMENTO'  required/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Rotulo del  seccionador del tramo</label>
                    <div class="controls">
                        <input type="text" placeholder="Rotulo del  seccionador del tramo" class="input-large" id='txtTecnicaTramosmt_Seccionador' required/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Rotulo del  seccionador del Transformador</label>
                    <div class="controls">
                        <input type="text" placeholder="Rotulo del  Transformador del tramo" class="input-large" id='txtTecnicaTramosmt_Transformador' required/>
                    </div>
                </div>
                <div class="control-group">
                  <label class="control-label">Material del Cable de Guarda:</label>
                  <div class="controls">
                     <select class="span6 chosen" data-placeholder="Material del Cable de Guarda" tabindex="1" id="txtTecnicaTramosmt_Guarda">
                        <option value="G">GALVANIZADO</option>
                     </select>
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label">Posición:</label>
                  <div class="controls">
                     <select class="span6 chosen" data-placeholder="Siendo 1 el nivel superior" tabindex="1" id="txtTecnicaTramosmt_Posicion">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                     </select>
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label">Transición:</label>
                  <div class="controls">
                     <select class="span6 chosen" data-placeholder=" A:Abierta, T:Trenzada" tabindex="1" id="txtTecnicaTramosmt_Transicion">
                        <option value="S">SI hay Transición</option>
                        <option value="N">NO hay Transición</option>
                     </select>
                  </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Cantidad de columnas de la matriz de ductos</label>
                    <div class="controls">
                        <input type="number" placeholder="Configuración del Banco de Ductos" class="input-mini" id='txtTecnicaTramosmt_BancoDuctosColumnas'  required/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Cantidad de filas de la matriz de ductos</label>
                    <div class="controls">
                        <input type="number" placeholder="Configuración del Banco de Ductos" class="input-mini" id='txtTecnicaTramosmt_BancoDuctosFilas'  required/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Cantidad de Ductos del banco</label>
                    <div class="controls">
                        <input type="number" placeholder="Cantidad de Ductos" class="input-mini" id='txtTecnicaTramosmt_BancoDuctosCantidad'  required/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Cantidad de Ductos Libres</label>
                    <div class="controls">
                        <input type="number" placeholder="Cantidad de Ductos Libres" class="input-mini" id='txtTecnicaTramosmt_BancoDuctosLibres'  required/>
                    </div>
                </div>
                
                <div class="control-group">
                    <label class="control-label">Adjuntar archivos</label>
                    <div class="controls">
                        <iframe src="subir" scrolling="no" width="450" height="320"></iframe>
                    </div>
                </div>

                  <div class="form-actions">
                    <h4 class="noMostrar">OT 1<h4>
                    <button  class="btn btn-warning btnVerContrato_Archivos" idContrato="eccbc87e4b5ce2fe28308fd9f2a7baf3"><i class="icon-folder-open icon-white"></i> Archivos</button>
                      <button type="submit" class="btn btn-success"><i class="icon-ok"></i> Guardar</button>
                      <button type="reset" class="btn btn-danger"><i class="icon-remove"></i> Nuevo</button>
                  </div>
              </form>
            </div>

            <!-- END PAGE CONTENT-->         
         
      <!-- END PAGE -->  
   <!-- END CONTAINER -->
   <!-- BEGIN JAVASCRIPTS -->    
   <!-- Load javascripts at bottom, this will reduce page load time -->
   <!-- ie8 fixes -->
   <!--[if lt IE 9]>
   <script src="js/excanvas.js"></script>
   <script src="js/respond.js"></script>
   <![endif]-->
   
   
 
   
   <script>
      jQuery(document).ready(function() 
      {       
         // initiate layout and plugins
         TecnicaTramosmt();         
      });
   </script>
   <!-- END JAVASCRIPTS -->   
</body>