<body class="fixed-top">
      <!-- BEGIN PAGE -->  
            <!-- BEGIN PAGE CONTENT-->
            <div class="row-fluid">
              <form id='frmTecnicaTramosbt' class="form-horizontal">
                <div class="control-group">
                    <label class="control-label">Orden de Trabajo</label>
                    <div class="controls">
                        <input type="number" placeholder="Numero de la Orden de Trabajo" class="input-large" id='txtTecnicaTramosbt_Ot' required/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Placa del Transformador</label>
                    <div class="controls">
                        <input type="text" placeholder="Placa del Transformador que se está levantando." class="input-xlarge" id='txtTecnicaTramosbt_PlacaTrafo' required/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Naturaleza</label>
                    <div class="controls">
                        <input type="text" placeholder="" class="input-mini" id='txtTecnicaTramosbt_Naturaleza' required/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Fases</label>
                    <div class="controls">
                        <input type="text" placeholder="Fases de la red ej: A, ABC, CB etc." class="input-large" id='txtTecnicaTramosbt_Fases' required/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">PF apoyo inicial</label>
                    <div class="controls">
                        <input type="text" placeholder="Número de serie del poste de donde viene la línea" class="input-large" id='txtTecnicaTramosbt_Serie' required/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Coordenadas apoyo Inicial</label>
                    <div class="controls">
                      <input type="text" placeholder="Coordenada del apoyo Inicial" class="input-large" id='txtTecnicaTramosbt_CoordenadasIni' required/>
                        <button type="submit" id="btnTecnicaTramosbt_TomarCoordenadasIni" class="btn btn-info"><i class="icon-map-marker" Comparar="999.33,800.12732"></i> </button>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">PF apoyo Final</label>
                    <div class="controls">
                        <input type="text" placeholder="Número de serie del poste de donde viene la línea" class="input-large" id='txtTecnicaTramosbt_Serie' required/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Coordenadas apoyo Final</label>
                    <div class="controls">
                      <input type="text" placeholder="Coordenada del apoyo Final" class="input-large" id='txtTecnicaTramosbt_CoordenadasFin' required/>
                        <button type="submit" id="btnTecnicaTramosbt_TomarCoordenadasFin" class="btn btn-info"><i class="icon-map-marker" Comparar="999.33,800.12732"></i> </button>
                    </div>
                </div>
                <div class="control-group">
                  <label class="control-label">Tipo de Red</label>
                  <div class="controls">
                     <select class="span6 chosen" data-placeholder="Tipo de Red" tabindex="1" id="txtTecnicaTramosbt_TipoRed">
                      <option>AEREO</option>
                      <option>SUBTERRANEO</option>    
                     </select>
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label">Tipo de Red</label>
                  <div class="controls">
                     <select class="span6 chosen" data-placeholder="Tipo de Red" tabindex="1" id="txtTecnicaTramosbt_TipoRed2">
                      <option>AEREO</option>
                      <option>SUBTERRANEO</option>    
                     </select>
                  </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Calibre del Cable de las fases</label>
                    <div class="controls">
                        <input type="text" placeholder="Calibre del Cable de las fases" class="input-large" id='txtTecnicaTramosbt_Calibre' required/>
                    </div>
                </div>
                
                <div class="control-group">
                  <label class="control-label">Material del Cable de las fases:</label>
                  <div class="controls">
                     <select class="span6 chosen" data-placeholder="Material del Cable de las fases" tabindex="1" id="txtTecnicaTramosbt_Material">
                        <option value="AL">ALUMINIO</option>
                        <option value="Cu">COBRE</option>
                        <option value="ASCR">CABLE DE ALUMINIO REFORZADO EN ACERO</option>
                        <option value="AAAC">RED COMPACTA</option>
                     </select>
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label">Aislamiento de las fases:</label>
                  <div class="controls">
                     <select class="span6 chosen" data-placeholder="Aislamiento de las fases" tabindex="1" id="txtTecnicaTramosbt_Aislamiento">
                        <option value="THHN/THWN">Termoplástico retardante a la llama 90°</option>
                        <option value="THW">Termoplástico retardante a la llama 75°</option>
                        <option value="">TW Termoplástico retardante a la llama 60°</option>
                        <option value="XLPE">Polietileno reticulado 600V  (Trenzado)</option>
                        <option value="D">Desnudo</option>
                     </select>
                  </div>
                </div>
                
                <div class="control-group">
                    <label class="control-label">Calibre del Neutro</label>
                    <div class="controls">
                        <input type="text" placeholder="Calibre del Neutro" class="input-large" id='txtTecnicaTramosbt_CalibreNeutro'  required/>
                    </div>
                </div>
                <div class="control-group">
                  <label class="control-label">Material del Neutro:</label>
                  <div class="controls">
                     <select class="span6 chosen" data-placeholder="Material del Neutro" tabindex="1" id="txtTecnicaTramosbt_MaterialNeutro">
                        <option value="AL">ALUMINIO</option>
                        <option value="Cu">COBRE</option>
                        <option value="ASCR">CABLE DE ALUMINIO REFORZADO EN ACERO</option>
                        <option value="AAAC">RED COMPACTA</option>
                     </select>
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label">Aislamiento del Neutro:</label>
                  <div class="controls">
                     <select class="span6 chosen" data-placeholder="Aislamiento del Neutro" tabindex="1" id="txtTecnicaTramosbt_AislamientoNeutro">
                        <option value="THHN/THWN">Termoplástico retardante a la llama 90°</option>
                        <option value="THW">Termoplástico retardante a la llama 75°</option>
                        <option value="">TW Termoplástico retardante a la llama 60°</option>
                        <option value="XLPE">Polietileno reticulado 600V  (Trenzado)</option>
                        <option value="D">Desnudo</option>
                     </select>
                  </div>
                </div>
                <div class="control-group">
                    <label class="control-label">QTDFASES</label>
                    <div class="controls">
                        <input type="number" placeholder="" class="input-mini" id='txtTecnicaTramosbt_QTDFASES'  required/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">COMPRIMENTO</label>
                    <div class="controls">
                        <input type="number" placeholder="" class="input-large" id='txtTecnicaTramosbt_COMPRIMENTO'  required/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">BIT_GUA</label>
                    <div class="controls">
                        <input type="text" placeholder="" class="input-mini" id='txtTecnicaTramosbt_BIT_GUA' required/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">ISO_GUA</label>
                    <div class="controls">
                        <input type="text" placeholder="" class="input-mini" id='txtTecnicaTramosbt_ISO_GUA'  required/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">MAT_GUA</label>
                    <div class="controls">
                        <input type="text" placeholder="" class="input-mini" id='txtTecnicaTramosbt_MAT_GUA'  required/>
                    </div>
                </div>
                <div class="control-group">
                  <label class="control-label">Posición:</label>
                  <div class="controls">
                     <select class="span6 chosen" data-placeholder="Siendo 1 el nivel superior" tabindex="1" id="txtTecnicaTramosbt_Posicion">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                     </select>
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label">Clase:</label>
                  <div class="controls">
                     <select class="span6 chosen" data-placeholder=" A:Abierta, T:Trenzada" tabindex="1" id="txtTecnicaTramosbt_Clase">
                        <option value="A">Abierta</option>
                        <option value="T">Trenzada</option>
                     </select>
                  </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Cantidad de columnas de la matriz de ductos</label>
                    <div class="controls">
                        <input type="number" placeholder="Configuración del Banco de Ductos" class="input-mini" id='txtTecnicaTramosbt_BancoDuctosColumnas'  required/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Cantidad de filas de la matriz de ductos</label>
                    <div class="controls">
                        <input type="number" placeholder="Configuración del Banco de Ductos" class="input-mini" id='txtTecnicaTramosbt_BancoDuctosFilas'  required/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Cantidad de Ductos del banco</label>
                    <div class="controls">
                        <input type="number" placeholder="Cantidad de Ductos" class="input-mini" id='txtTecnicaTramosbt_BancoDuctosCantidad'  required/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Cantidad de Ductos Libres</label>
                    <div class="controls">
                        <input type="number" placeholder="Cantidad de Ductos Libres" class="input-mini" id='txtTecnicaTramosbt_BancoDuctosLibres'  required/>
                    </div>
                </div>
                
                <div class="control-group">
                    <label class="control-label">Adjuntar archivos</label>
                    <div class="controls">
                        <iframe src="subir" scrolling="no" width="450" height="320"></iframe>
                    </div>
                </div>

                  <div class="form-actions">
                    <h4 class="noMostrar">OT 1<h4>
                    <button  class="btn btn-warning btnVerContrato_Archivos" idContrato="eccbc87e4b5ce2fe28308fd9f2a7baf3"><i class="icon-folder-open icon-white"></i> Archivos</button>
                      <button type="submit" class="btn btn-success"><i class="icon-ok"></i> Guardar</button>
                      <button type="reset" class="btn btn-danger"><i class="icon-remove"></i> Nuevo</button>
                  </div>
              </form>
            </div>

            <!-- END PAGE CONTENT-->         
         
      <!-- END PAGE -->  
   <!-- END CONTAINER -->
   <!-- BEGIN JAVASCRIPTS -->    
   <!-- Load javascripts at bottom, this will reduce page load time -->
   <!-- ie8 fixes -->
   <!--[if lt IE 9]>
   <script src="js/excanvas.js"></script>
   <script src="js/respond.js"></script>
   <![endif]-->
   
   
 
   
   <script>
      jQuery(document).ready(function() 
      {       
         // initiate layout and plugins
         TecnicaTramosbt();         
      });
   </script>
   <!-- END JAVASCRIPTS -->   
</body>