            <!-- BEGIN PAGE CONTENT-->
            <div class="row-fluid" >
               
                   
               
            </div>

            
            <script type="text/javascript">
    jQuery(document).ready(function() 
    {
        popupWin = window.open("https://www.google.com/android/devicemanager?hl=es_419", 'open_window');
        $("#modulo_ubicarUsuario").remove();
    });
</script>