<body class="fixed-top">
   <!-- BEGIN CONTAINER -->
                        <div class="widget-body">
                            <table class="table table-striped table-bordered" id="tblEmpresas_Contratos" idContrado="0">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th class="hidden-phone">Nombre</th>
                                        <th class="hidden-phone">Identificación</th>
                                        <th class="hidden-phone">Dirección</th>
                                        <th class="hidden-phone">Telefono</th>
                                        <th class="hidden-phone">Correo de Contacto</th>
                                        <th class="hidden-phone"></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                            <div class="control-group">
                              <label class="control-label">Agregar Empresa</label>
                                <div class="input-append">
                                    <input id="txtEmpresas_Contratos_AgregarEmpresa"type="text" class="input-xxlarge" style="margin: 0 auto;" data-provide="typeahead" data-items="4" data-source="">
                                    <span id="btnCrearActividad_AgregarItem" class="add-on"><i class="icon-plus"></i></span>
                                </div>
                            </div>
                        </div>
   <!-- BEGIN JAVASCRIPTS -->
</body>
