<body class="fixed-top">
   <!-- BEGIN CONTAINER -->
                        <div class="widget-body">
                            <table class="table table-striped table-bordered" id="tblEmpresas">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th class="hidden-phone">Nombre</th>
                                    <th class="hidden-phone">Identificación</th>
                                    <th class="hidden-phone">Dirección</th>
                                    <th class="hidden-phone">Telefono</th>
                                    <th class="hidden-phone">Correo de Contacto</th>
                                    <th class="hidden-phone"></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                        </div>
   <!-- BEGIN JAVASCRIPTS -->
   <script>
      jQuery(document).ready(function() {       
         // initiate layout and plugins
         verEmpresas();
      });
   </script>
</body>
