      <form id='frmVerMateriales' class='form-horizontal' Habilitado="1">
         <div class="control-group span8">
               <label class="control-label">Buscar Por:</label>
            <div class="controls">
               <select id='txtVerMateriales_BuscarPor' data-placeholder="Parámetros de búsqueda" class="chosen span10" tabindex="6">
                     <option value=""></option>
                     <option value="Materiales.Nombre">Nombre</option>
                     <option value="Materiales.Marca">Marca</option>
                     <option value='Materiales.Referencia'>Referencia</option>
                     <option value='Materiales.FechaCompra'>Fecha de Compra</option>
                     <option value='Materiales.FechaAsignacion'>Fecha de Asignación</option>
                     <option value='DatosUsuarios.Nombre'>Usuario</option>
                     <option value='Materiales.Valor'>Valor</option>
                     <option value='Materiales.Descripcion'>Descripción</option>
                     <option value='Materiales.Accesorios'>Accesorios</option>
                     <option value='Materiales.Observaciones'>Observaciones</option>
               </select>
            </div>
            <input type='hidden' id='txtVerMateriales_Parametros'/>

            <div class="control-group">
               <div class="controls">
                  <textarea id='txtVerMateriales_Criterio' class="tooltips span10" data-trigger="hover" data-original-title="Ingresa las palabras clave para realizar la búsqueda"></textarea>
               </div>
            </div>
        </div>
          <div class='row-fluid circle-state-overview offset2'>
              <img src="assets\pre-loader\Sun.gif" class="noMostrar icoCargando">
               <div id='btnVerMateriales_Buscar' href="#" class="stats-circle green-color">
                  <i class="icon-search"></i>
                  <div>Buscar</div>
               </div>
          </div>
      </form>
      <div id='verMateriales_Detalles' class="noMostrar"></div>
   
   <div class="widget-body">
       <table class="table table-striped table-bordered" id="tblMateriales">
          <thead>
              <tr>
                  <th class="hidden-phone"></th>
                  <th class="hidden-phone">Nombre</th>
                  <th class="hidden-phone">Marca</th>
                  <th class="hidden-phone">Referencia</th>
                  <th class="hidden-phone">Fecha Asignacion</th>
                  <th class="hidden-phone">Usuario</th>
                  <th class="hidden-phone">Estado</th>
              </tr>
          </thead>
          <tbody></tbody>
      </table>
   </div>
   
   <script type="text/javascript">
      verMateriales();
   </script>